<div id="sellers-delivery-options-list" > 
  <% delivery_options.each do |delivery|%>
    <div class="row setting-delivery-option-list" id="setting-delivery-option">
      <div class="col-md-12">
        <div class="delivery-detail">
          <div class="delivery-option d-flex justify-content-between align-items-center box-border yo-white-card flex-wrap">
            <div class="deliver-option-left d-flex align-items-center">
                <div class="checkbox-right-text">
                  <p class="mb-0 delivery-detail-bt-title"><%= delivery.name %></p>
                  <%= render 'shared/delivery_ship_locations_list', delivery: delivery %>
                </div>
              </label>
            </div>
            <div class="deliver-option-left">
              <p class="mb-0"><%= delivery.products.count > 0  ? pluralize(delivery.products.count, 'Listing') : '0 Listing'  %><%=%></p>
            </div>
            <div>
              <%= link_to 'Edit Template', edit_admin_delivery_option_path(delivery,seller_id: @seller_id), class: 'btn btn-radius px-4 btn-primary btn-sm my-1', data: { remote: true } %>
              <% if delivery.products.count < 1 %>
                <%= link_to 'Remove Template', confirm_delete_admin_delivery_option_path(delivery, seller_id: @seller_id, path: 'seller', delete: true), remote: true, class: 'btn btn-radius px-4 btn-primary btn-sm my-1' %>
              <% else %>
                <%= link_to 'Remove Template', confirm_delete_admin_delivery_option_path(delivery, seller_id: @seller_id, path: 'seller',delete: false), remote: true, class: 'btn btn-radius px-4 btn-primary btn-sm my-1' %>
              <% end %>
            </div>
          </div>
        </div>
        </div>
      </div>
  <% end %>
