<% delivery_options.each do |delivery_option| %>
  <tr>
    <td>
      <div class="checkbox-container delivery-options-checkbox-container">
        <label class="checkbox-blk">
          <input type="checkbox" id="<%= "select-#{delivery_option.id}" %>" value="<%= delivery_option.id %>">
          <span class="checkmark"></span>
        </label>
      </div>
    </td>
    <td><%= delivery_option.name %></td>
    <%# TODO: here change the delivery & processing time %>
    <%= render 'shared/admin/ship_locations', delivery_option: delivery_option %>
    <td>
      <div class="text-center">
        <%= link_to 'Edit', edit_sellers_delivery_option_path(delivery_option), class: 'btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100', data: { remote: true } %>
      </div>
      <div class="text-center">
        <%= link_to 'Delete', confirm_delete_sellers_delivery_option_path(delivery_option), remote: true, class: 'btn btn-sm btn-radius px-4 btn-secondary w-100' %>
      </div>
    </td>
  </tr>
<% end %>
