<div id="sellers-delivery-options-list" > 
  <% delivery_options.each do |delivery|%>
    <div class="row setting-delivery-option-list" id="setting-delivery-option">
      <div class="col-md-12">
        <div class="delivery-detail">
          <div class="delivery-option d-flex justify-content-between align-items-center box-border yo-white-card flex-wrap">
            <div class="deliver-option-left d-flex align-items-center">
              <div class="checkbox-right-text">
                <p class="mb-0"><%= delivery.name %></p>
              </div>
              <div>
                <span class="red-color ">
                  <ul>
                    <% ship_location(delivery).each do |ship_location| %>
                      <li><%= ship_location %></li>
                    <% end %>
                  </ul>
                </span>
              </div>
              <div>
                <span class="red-color ">
                  <ul>
                    <% listed_ship_processing_time(delivery.id).each do |processing_time| %>
                      <li><%= processing_time %></li>
                    <% end %>
                  </ul>
                </span>
              </div>
              <div>
                <span class="red-color ">
                  <ul>
                    <% listed_ship_delivery_time(delivery.id).each do |delivery_time| %>
                      <li><%= delivery_time %></li>
                    <% end %>
                  </ul>
                </span>
              </div>
            </div>
            <div class="deliver-option-left">
              <p class="mb-0"><%= delivery.products.count > 0  ? pluralize(delivery.products.count, 'Listing') : '0 Listing'  %><%=%></p>
            </div>
            <div>
              <%= link_to 'Edit Template', edit_sellers_delivery_option_path(delivery), class: 'btn btn-radius px-4 btn-primary btn-sm', data: { remote: true } %>
              <%= link_to 'Remove Template', confirm_delete_sellers_profile_path(delivery), remote: true, class: 'btn btn-radius px-4 btn-primary btn-sm' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
