<section class="overview pt-4 pb-4 admin-delivery-options">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3 class="mt-4 mb-3">Delivery Settings</h3>
        <div class="overview-inner d-flex justify-content-between align-items-center flex-wrap">
          <div class="dropdown-filter-field active mb-0">
            <div class="search-field mb-0">
              <%= form_tag(sellers_delivery_options_path, method: :get) do %>
                <input type="hidden" name="filter_type" id="seller-filter-type" value="<%= params[:filter_type] %>">
                <%= text_field_tag(:search, params[:search], placeholder: "Search Filter Group") %>
                <i class="fa fa-search" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>
          <div class="overview-left">
            <h5 class="red-color mb-0">
              Delivery Templates
            </h5>
          </div>
          <div class="overview-right">
            <div class="dropdown dropdown-filter mb-3 d-inline-flex">
              <a href="#" class="btn btn-sm btn-radius px-3 btn-link btn-link-dropdown d-inline-flex align-items-center" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down ml-3" aria-hidden="true"></i></a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to 'Delete', confirm_multiple_deletion_sellers_delivery_options_path , class: 'dropdown-item active', data: { remote: true } %>
              </div>
            </div>
            <%= link_to 'Add New Template', new_sellers_delivery_option_path, class: 'btn btn-radius px-4 btn-primary btn-sm', data: { remote: true } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="Yavolo-table mt-1 yavolo-center">
        <table class="table">
          <thead>
            <tr>
              <th>
                <div class="checkbox-container delivery-options-select-all-container">
                  <label class="checkbox-blk">
                    <input type="checkbox" class="delivery-option" id="delivery-option-select-all" name="select-all" value="select-all">
                    <span class="checkmark checkmark-white"></span>
                  </label>
                </div>
              </th>
              <th>Delivery Template Name</th>
              <th>Ship Locations</th>
              <th>Processing Time</th>
              <th>Delivery Time</th>
              <th class="text-center" width="5%">Actions</th>
            </tr>
          </thead>
          <tbody id="delivery-options-list">
            <% if @delivery_options.count > 0 %>
              <%= render 'delivery_options_list', delivery_options: @delivery_options %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Delivery Template Form Modal -->
<div class="modal fade align-items-start" id="deliveryTemplateForm" tabindex="-1" role="dialog" aria-labelledby="deliveryOptionFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body px-lg-3">
        <div id="delivery-template-form"></div>
      </div>
    </div>
  </div>
</div>
<!-- Delivery Template Confirmation Deletion Modal -->
<%= render 'shared/admin/confirmation_deletion_modal' %>
