<h4>Business Representative</h4>
<div class="form-group form-group-vertical form-group-vertical-responsive">
  <%= form.label :seller_email, 'Email' %>
  <%= form.email_field :seller_email, value: @seller.email, disabled: true, class: 'form-control' %>
</div>
<!-- Business Representative -->
<% if @seller.business_representative.nil? %>
  <% @seller.build_business_representative %>
<% end %>
<%= form.simple_fields_for :business_representative do |br| %>

  <div class="form-group form-group-vertical form-group-vertical-responsive">
    <%= br.label :full_legal_name, 'Full Legal Name' %>
    <div style="flex: 1;">
      <%= br.text_field :full_legal_name, placeholder: 'John Paul Smith', class: 'form-control' %>
    </div>
  </div>
  <div class="form-group form-group-vertical form-group-vertical-responsive">
    <%= br.label :email, 'Contact Email' %>
    <div style="flex: 1;">
      <%= br.email_field :email, value: business_representative.try(:email), class: 'form-control' %>
    </div>
  </div>
  <div class="form-group form-group-vertical form-group-vertical-responsive">
    <%= br.label :job_title, 'Job Title' %>
    <div style="flex: 1;">
      <%= br.text_field :job_title, placeholder: 'Director', class: 'form-control' %>
    </div>
  </div>
  <div class="form-group form-group-vertical form-group-vertical-responsive">
    <%= br.label :date_of_birth, 'Date of Birth' %>
    <%= br.text_field :date_of_birth, placeholder: 'yyyy-mm-dd', value: br.object.date_of_birth.present? ? br.object.date_of_birth.strftime("%m/%d/%Y") : '', class: 'form-control datepicker', autocomplete: 'date_of_birth' %>
  </div>
<% end %>
<div class="form-group form-group-vertical form-group-vertical-responsive">
  <%= form.label :account_status, 'Account Status' %>
  <div style="flex: 1;">
    <%= form.select :account_status, Seller.account_statuses.keys.to_a, { prompt: 'Account Status' }, class: 'form-control' %>
  </div>
</div>
<div class="form-group form-group-vertical form-group-vertical-responsive">
  <%= form.label :listing_status, 'Listing Status' %>
  <div style="flex: 1;">
    <%= form.select :listing_status, Seller.listing_statuses.keys.to_a, { prompt: 'Listing Status' }, class: 'form-control' %>
  </div>
</div>
<div class="form-group form-group-vertical form-group-vertical-responsive">
  <label>Account Created</label>
  <div class="mt-2"><%= @seller.created_at.strftime("%m/%d/%Y") if @seller.created_at.present?  %></div>
</div>
<div class="form-group form-group-vertical form-group-vertical-responsive">
  <label>Last Logged In</label>
  <div class="mt-2"><%= @seller.last_sign_in_at.strftime("%m/%d/%Y") if @seller.last_sign_in_at.present? %></div>
</div>
<div class="form-group form-group-vertical form-group-vertical-responsive">
  <label>Subscription Type</label>
  <div class="mt-2"><%= @seller.subscription_type %></div>
</div>
