<!-- Upload Logo Section -->
<div>
  <div class="modal-body p-0">
    <div class="text-center">
      <span class="seller-logo-upload">
        <% url = '' %>
        <% if picture.present? && picture.name.url.present? %>
          <% url = picture.name.url %>
        <% else %>
          <% url = 'yavolo-smily.png' %>
        <% end %>
        <%= image_tag url, class: 'preview-img mt-1 opacity-50' %>
        <%= image_tag 'yavolo-smily.png', class: 'yavolo-smily-img' %>
        <%= form.fields_for :picture, Picture.new do |picture| %>
          <% if picture.object.new_record? %>
            <%= picture.file_field :name, accept: "image/*" %>
          <% end %>
        <% end %>
      </span>
      <input type="hidden" name="" id="preview-img-url" value="">
    </div>
    <div class="csv-file-uploader border-none pt-0">
      <p class="text-center font-14px mb-2">Image must be a .jpg,.gif or .png file smaller <br>
        than 10MB and at least 500px by 500px.</p>
      <p class="text-center font-14px mb-0">
        <% if picture.present? %>
          <span class="image-name pr-4"><%= picture[:name] %></span>
          <u><%= link_to "remove image", create_url(params[:controller], "remove_seller_logo", @seller.id), class: 'remove-image', remote: true, method: :delete %></u>
        <% else %>
          <span class="image-name pr-4"></span>
          <u><a href="javascript:void(0);" class="remove-image"></a></u>
        <% end %>
      </p>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
      $('.yavolo-smily-img').hide();
    var yavoloSmilyUrl = $('.yavolo-smily-img').attr("src");
    $('#preview-img-url').val(yavoloSmilyUrl);
    $(':input[type="submit"]').prop('disabled', true);
    $('body').on('change', 'input[type="file"]', function(event){
        event.preventDefault();
      var input = $(event.currentTarget);
      var file = input[0].files[0];
      var tenMbInBytes = 10000000;
      if (file) {
        if (file.size > tenMbInBytes) {
            $('#admin-sellers-update-form').get(0).reset();
          $('#flash-msg').html('<%= j render partial: "shared/notice_banner", locals: { notice: "File size should be less than 10MB" } %>');
        }
        else {
        var reader = new FileReader();
        reader.onload = function(e){
          let image_base64 = e.target.result;
          $('.preview-img').attr("src", image_base64);
            let image = new Image();
            image.src =  e.target.result;
            //Validate the File Height and Width.
            image.onload = function () {
                const height = this.height;
                const width = this.width;
                if (height < 500 || width < 500) {
                    showDefaultSellerPlaceholderImageUploadLogoModal();
                    $('#flash-msg').html('<%= j render partial: "shared/notice_banner", locals: { notice: "File size should be greater than 500px by 500px" } %>');
                }
                else {
                    $('.preview-img').removeClass('opacity-50');
                    $('.image-name').text(file.name);
                    $('.remove-image').text('remove image');
                    $(':input[type="submit"]').prop('disabled', false);
                }
            };

        };
        reader.readAsDataURL(file);
        }
      } else {
          showDefaultSellerPlaceholderImageUploadLogoModal();
      }
    });

    function showDefaultSellerPlaceholderImageUploadLogoModal(){
        $('#admin-sellers-update-form').get(0).reset();
        $('.preview-img').attr("src", yavoloSmilyUrl);
        $('.preview-img').addClass('opacity-50');
        $('.image-name').text('');
        $('.remove-image').text('');
        $(':input[type="submit"]').prop('disabled', true);
    }
    $('.remove-image').click(function() {
        $('#admin-sellers-update-form').get(0).reset();
        $('.preview-img').attr("src", yavoloSmilyUrl);
        $('.preview-img').addClass('opacity-50');
        $('.image-name').text('');
        $('.remove-image').text('');
        $(':input[type="submit"]').prop('disabled', true);
    });
  });
</script>
