<!-- Upload Logo Section -->
<div>
  <div class="modal-body px-lg-4 pt-0">
    <div class="text-center">
      <span>
        <% url = '' %>
        <% if picture.present? && picture.name.url.present? %>
          <% url = picture.name.url %>
        <% else %>
          <% url = 'yavolo-smily.png' %>
        <% end %>
        <%= image_tag url, class: 'preview-img mt-1 opacity-50' %>
      </span>
    </div>
    <div class="csv-file-uploader border-none pt-2">
      <p class="text-center">Image must be a .jpg,.gif or .png file smaller <br>
        than 10MB and at least 500px by 500px.</p>
      <p class="text-center">
        <a href="#" class="btn btn-sm btn-radius px-4 btn-primary text-uppercase position-relative overflow-hidden">Browse files 
          <%= form.fields_for :picture, Picture.new do |picture| %>
            <% if picture.object.new_record? %>
              <%= picture.file_field :name, accept: "image/*" %>
            <% end %>
          <% end %>
        </a>
      </p>
      <br>
      <p class="text-center">
        <% if picture.present? %>
          <span class="image-name pr-5"><%= picture[:name] %></span>
          <u><%= link_to "remove image", create_url(params[:controller], "remove_seller_logo", @seller.id), class: 'remove-image', remote: true, method: :delete %></u>
        <% else %>
          <span class="image-name pr-5"></span>
          <u><a href="javascript:void(0);" class="remove-image"></a></u>
        <% end %>
      </p>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $(':input[type="submit"]').prop('disabled', true);
    $('body').on('change', 'input[type="file"]', function(event){
        event.preventDefault();
      var input = $(event.currentTarget);
      var file = input[0].files[0];
      var tenMbInBytes = 10000000;
      if (file) {
        if (file.size > tenMbInBytes) {
            $('#admin-sellers-update-form').get(0).reset();
          $('#flash-msg').html('<%= j render partial: "shared/notice_banner", locals: { notice: "File size should be less than 10MB" } %>');
        }
        else {
        var reader = new FileReader();
        reader.onload = function(e){
          image_base64 = e.target.result;
          $('.preview-img').attr("src", image_base64);
          if ($('.preview-img')[0].naturalHeight > 500 || $('.preview-img')[0].naturalHeight > 500) {
              $('#admin-sellers-update-form').get(0).reset();
            $('.preview-img').attr("src", "/assets/yavolo-smily.png");
            $('.preview-img').addClass('opacity-50');
            $('.image-name').text('');
            $('.remove-image').text('');
            $(':input[type="submit"]').prop('disabled', true);
            $('#flash-msg').html('<%= j render partial: "shared/notice_banner", locals: { notice: "File size should be less than 500px by 500px" } %>');
          }
          else {
            $('.preview-img').removeClass('opacity-50');
            $('.image-name').text(file.name);
            $('.remove-image').text('remove image');
            $(':input[type="submit"]').prop('disabled', false);
          }
        };
        reader.readAsDataURL(file);
        }
      } else {
          $('#admin-sellers-update-form').get(0).reset();
        $('.preview-img').attr("src", "/assets/yavolo-smily.png");
        $('.preview-img').addClass('opacity-50');
        $('.image-name').text('');
        $('.remove-image').text('');
        $(':input[type="submit"]').prop('disabled', true);
      }
    });
    $('.remove-image').click(function() {
        $('#admin-sellers-update-form').get(0).reset();
        $('.preview-img').attr("src", "/assets/yavolo-smily.png");
        $('.preview-img').addClass('opacity-50');
        $('.image-name').text('');
        $('.remove-image').text('');
        $(':input[type="submit"]').prop('disabled', true);
    });
  });
</script>
