<div class="row">
  <div class="col-lg-6 d-flex">
    <div class="yo-white-card box-border flex1">
      <div class="d-flex"><h6>Order Number:</h6>&nbsp;<p><%= order_number_format(@order.order_number) %></p></div>
      <div class="d-flex"><h6>Ordered:</h6>&nbsp;<p><%= formatted_order_date(@order.created_at) %></p></div>
      <div class="d-flex"><h6>Estimated Delivery:</h6>&nbsp;<p> 15-17 June 2021</p></div>
      <div class="d-flex"><h6>Tracking:</h6>&nbsp;<p> No Tracking</p></div>
      <div class="d-flex"><h6>Courier:</h6>&nbsp;<p>Royal Mail</p></div>
      <div class="d-flex"><h6>Mail Class:</h6>&nbsp;<p>2nd Class</p></div>
      <div class="d-flex"><h6>VAT Number:</h6>&nbsp;<p><%= get_vat_numbers(@order_line_items) %></p></div>
      <div class="d-flex"><h6>Paid Via:</h6>&nbsp;<p><%= @order&.buyer_payment_method&.payment_method_type&.titleize %></p></div>
    </div>
  </div>
  <div class="col-lg-6 d-flex">
    <div class="yo-white-card box-border search-field-flex">
      <div class="row">
        <div class="col-lg-6 mb-2">
          <h6 class="mb-3">Shipping Address:</h6>
          <ul class="mb-3">
            <li><%= get_full_name(@order_shipping_address) %></li>
            <li><%= @order_shipping_address&.company_name %></li>
            <li><%= @order_shipping_address&.appartment %></li>
            <li><%= @order_shipping_address&.address_line_1 %></li>
            <li><%= @order_shipping_address&.address_line_2 %></li>
            <li><%= @order_shipping_address&.city %></li>
            <li><%= @order_shipping_address&.postal_code %></li>
            <li><%= @order_shipping_address&.county %></li>
          </ul>
        </div>
        <div class="col-lg-6">
          <h6 class="mb-3">Billing Address:</h6>
          <ul>
            <li><%= get_full_name(@order_billing_address) %></li>
            <li><%= @order_billing_address&.company_name %></li>
            <li><%= @order_billing_address&.appartment %></li>
            <li><%= @order_billing_address&.address_line_1 %></li>
            <li><%= @order_billing_address&.address_line_2 %></li>
            <li><%= @order_billing_address&.city %></li>
            <li><%= @order_billing_address&.postal_code %></li>
            <li><%= @order_billing_address&.county %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="yo-white-card box-border order-view-tbl">
      <div class="Yavolo-table">
        <table class="table m-0">
          <thead class="">
          <tr>
            <th width="30%">
              <%= @order_line_items.count %> item<span class="th-lowercase">(s)</span>
            </th>
            <% if current_admin.present? && admin_route?(params[:controller]) %>
              <th width="25%">Seller</th>
            <% end %>
            <th>Quantity</th>
            <th>Price</th>
            <th>Postage</th>
            <th>Tax</th>
            <th class="text-right">Total</th>
          </tr>
          </thead>
          <tbody>
          <% @order_line_items.each do |order_line_item| %>
            <tr>
              <td>
                <span><u><%= order_line_item&.product&.title %></u></span>
              </td>
              <% if current_admin.present? && admin_route?(params[:controller]) %>
                <td>
                  <span><u><%= "#{order_line_item&.product&.owner&.company_detail&.legal_business_name}" %></u></span>
                </td>
              <% end %>
              <td>
                <%= order_line_item.quantity %>
              </td>
              <td>
                £<%= order_line_item.product&.price %>
              </td>
              <td>
                £0.00
              </td>
              <td>
                £0.00
              </td>
              <td class="text-right">
                <%= get_price_in_pounds(order_line_item.product&.price * order_line_item.quantity) %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td colspan="<%= current_admin.present? ? '3' : '2' %>">
              <p class="font-14px mb-0"><strong>Total</strong></p>
            </td>
            <td>
              <p class="font-14px mb-0"><strong><%= get_price_in_pounds(@order_line_items.map {|oli| oli&.product&.price}.sum) %></strong></p>
            </td>
            <td>
              <p class="font-14px mb-0"><strong>£0.00</strong></p>
            </td>
            <td>
              <p class="font-14px mb-0"><strong>£0.00</strong></p>
            </td>
            <td class="text-right">
              <p class="font-14px mb-0"><strong><%= get_price_in_pounds(@order_line_items.map {|oli| oli.quantity * oli.product&.price}.sum) %></strong></p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
