<%= form_for refund, url: send("get_refund_#{current_user_namespace}_order_path"), method: :post, remote: true do |f| %>
  <div class="refund-detail-block">
    <div class="refund-detail-header">
      <span>Refund Details</span>
    </div>
    <div class="refund-detail-body mt-3">
      <div class="row">
        <div class="col-lg-6">
              <span>
                  <b>Reason for refund:</b>
              </span>
          <div class="bg-hvr-dropdown mt-2">
            <input type="hidden" id="refund-reason-value" value="item_never_arrived_with_the_customer" name="refund[refund_reason]">
            <div class="dropdown dropdown-filter mb-3 d-inline-flex w-100">
              <a href="#"
                 class="btn btn-radius px-3 btn-link btn-link-dropdown refund-reason-display-val d-inline-flex align-items-center justify-content-between flex1"
                 id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Item Never Arrived With The Customer
                <i class="fa fa-angle-down ml-3" aria-hidden="true"></i>
              </a>
              <div class="dropdown-menu refund-reason-dropdown" aria-labelledby="dropdownMenuLink" x-placement="bottom-start"
                   style="position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;">
                <% refund_reason_options.drop(1).each do |refund_reason_option| %>
                  <a class="dropdown-item" href="#">
                    <%= refund_reason_option[0].split('_').map(&:capitalize).join(' ') %>
                  </a>
                <% end %>
              </div>
            </div>
            <%= f.hidden_field :total_paid, value: order.line_items.map { |oli| oli.quantity * oli.product&.price }.sum %>
            <%= f.hidden_field :total_refund, value: 0.00, class: "hidden_total_refund" %>
            <%= hidden_field_tag :commission, commission, class: "commission" %>
          </div>
        </div>
      </div>
      <div class="form-group mt-3">
        <b><label for="exampleInputPassword1">Message to buyer:</label></b>
        <%= text_area_tag "refund_messages[0][buyer_message]", nil, placeholder: "Message buyer (optional)", class: "form-control" %>
        <%= hidden_field_tag "refund_messages[0][order_id]", order.id %>
        <%= hidden_field_tag "refund_messages[0][buyer_id]", order&.buyer_id %>
      </div>
      <% if current_admin.present? %>
        <% order.line_items.product_owners_collection.each.with_index(1) do |product_owner, index| %>
          <%= render "shared/refunds/line_items_refund_messages_form", product_owner: product_owner, index: index, order: order %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="refund-detail-block">
    <div class="refund-detail-header d-flex justify-content-between align-items-center mt-3">
      <div>
        <span>Order #<%= order.order_number %></span>
      </div>
      <div class="d-flex align-items-center flex-wrap">
        <% if current_admin.present? %>
          <div class="white-mark mr-5">
            <label class="checkbox-blk mb-0 refund_option_checkboxes"> Keep Sales Commission
              <input type="checkbox" name="keep_sales_commission">
              <span class="checkmark check-mark-white"></span>
            </label>
          </div>
        <% end %>
        <div class="white-mark">
          <label class="checkbox-blk mb-0 refund_option_checkboxes"> Issue Full Refund
            <input type="checkbox" name="issue_full_refund">
            <span class="checkmark check-mark-white"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="refund-detail-body mt-3">
      <div class="px-2">
        <table class="table refund-table mb-0">
          <thead>
          <tr>
            <td><strong> Item(s)</strong></td>
            <td class="text-right"><strong>Seller(s)</strong></td>
            <td class="text-right"><strong>Amount paid</strong></td>
            <td class="text-right"><strong>Amount to refund</strong></td>
          </tr>
          </thead>
        </table>
      </div>
      <div class="p-2 border-test mb-3">
        <table class="table refund-table mb-0">
          <tbody>
          <% order.line_items.user_own_order_line_items(current_logged_in_user).each_with_index do |line_items, index| %>
            <%= render "shared/refunds/line_items_refund_details_form", line_items: line_items, index: index %>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="px-2">
        <table class="table refund-table mb-0">
          <thead>
          <tr>
            <th colspan="4">Item Subtotal</th>
          </tr>
          </thead>
        </table>
      </div>
      <div class="p-2 border-test mb-0">
        <table class="table refund-table refund-subtotal-table mb-0">
          <tbody>
          <tr>
            <td scope="row">Delivery</td>
            <td class="text-right">£0.00</td>
            <td class="text-right" width="20%">
              <input type="number" class="refund-input" placeholder="0.00">
            </td>
          </tr>
          <tr>
            <td scope="row">Tax</td>
            <td class="text-right" width="20%">£0.00</td>
            <td class="text-right" width="20%">
              <input type="number" class="refund-input" placeholder="0.00">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="p-2">
        <table class="table refund-table refund-subtotal-table mb-0">
          <tbody class="">
          <tr>
            <td scope="row"><strong>Total</strong></td>
            <td class="text-right" width="20%">
              <strong class="total_paid"><%= get_price_in_pounds(order.line_items.map { |oli| oli.quantity * oli.product&.price }.sum) %></strong>
            </td>
            <td class="text-right pr-3" width="20%">
              <strong class="total_refund">£0.00</strong>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <%= f.submit 'Review Refund', class: "btn btn-radius px-4 btn-primary mb-3 mt-3admin review_button mt-3" %>
  </div>
<% end %>
<%= render "shared/refunds/confirm_refund", params: '' %>