<div class="tab-pane fade" id="return-term" role="tabpanel" aria-labelledby="return-term-tab">
  <div class="container-fluid">
    <section class="payment-method">
      <div class="return-term-inner">
        <h5>Returns & Terms</h5>
        <%= simple_form_for current_seller.return_and_term || current_seller.build_return_and_term, url: manage_returns_and_terms_sellers_profiles_path, method: :post,  data: { remote: true } do |f| %>
          <div class="return-term-card yo-white-card box-border row">
            <div class="col-lg-8">
              <div class="form-group form-group-vertical form-group-vertical-responsive">
                <strong><%= f.label :duration, 'Return items within:' %></strong>
                <%= f.select :duration, return_and_terms_duration, { }, class: 'form-control' %>
              </div>
              <div class="mb-4">
                <p class="mb-2"><strong>Email format</strong></p>
                <label class="checkbox-blk">Receive return requests via email
                  <%= f.check_box :email_format %>
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="mb-3">
                <p class="mb-2"><strong>Return authorisation & prepaid labels</strong></p>
                <label class="checkbox-blk">I do not want Yavolo to automatically authorise all return requests
                  <%= f.check_box :authorisation_and_prepaid %>
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="form-group form-group-vertical flex-column">
                <strong><%= f.label :instructions, 'Return instructions' %></strong>
                <%= f.text_area :instructions, rows: '5', class: 'form-control', placeholder: 'Return Instructions' %>
              </div>
              <%= f.submit 'Save Returns & Terms', class: 'btn btn-sm btn-radius px-4 btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>
