<div class="container-fluid">
  <div class="d-flex flex-wrap justify-content-between mb-4 mt-5 align-items-start">
    <h4 class="m-0">Account
      &amp; Settings</h4>
    <div id="about-top-portion">
      <div class="d-flex align-items-center" >
        <%= link_to "Reset Password", confirm_reset_password_token_sellers_profile_path(@seller), class: "btn btn-sm btn-radius px-4 btn-primary mr-1", remote: true %>
      </div>
    </div>
  </div>
  <div class="row ac-setting-tabs">
    <div class="col-md-2 pr-md-0">
      <%= render "shared/sellers/left_sidebar_seller" %>
    </div>
    <div class="col-md-10">
      <div class="tab-content" id="myTabContent">
        <%= render 'shared/sellers/about_seller_section' %>
        <%= render 'review_section' %>
        <%= render 'manage_subscription_section' %>
        <%= render 'delivery_setting_section' %>
        <%= render 'return_term_section' %>
        <%= render 'login_setting_section' %>
        <%= render 'shared/sellers/connection_manager_section' %>
        <%= render 'integrate_payment_method'%>
        <%= render 'shared/sellers/holiday_mode_section', url: holiday_mode_sellers_profile_path(@seller) %>
      </div>
    </div>
  </div>
</div>
<!-- Edit Form Modal -->
<div class="modal fade" id="edit-seller-form" tabindex="-1" role="dialog" aria-labelledby="editSellerFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body px-lg-3">
        <div id="error-message"></div>
        <div id="update-seller-form"></div>
      </div>
    </div>
  </div>
</div>
<!-- Edit Form Modal -->
<div class="modal fade" id="connection-manager-modal" tabindex="-1" role="dialog" aria-labelledby="connectionManagerFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="connection-manager-modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="error-message"></div>
        <div id="connection-manager-actions"></div>
      </div>
    </div>
  </div>
</div>
