<%= simple_form_for filter_group, url: url, method: method do |f| %>
  <%= f.error_notification %>
  <%= hidden_field_tag :filter_group_id, '', value: filter_group.id %>
  <h6><strong>Add Categories Which Show Filter Group</strong></h6>
  <%= f.fields_for :filter_categories do |filter_category| %>
  <%= render 'filter_category_fields', :f => filter_category %>
  <% end %>
  <div class="state-content links">
    <%= link_to_add_association f, :filter_categories do  %>
    <span> <i class="pl-3 pluse-btn">+</i></span>
    <% end %>
  </div>


  <div class="text-center">
    <%= f.submit 'Save Filter', class: "btn btn-radius px-4 btn-primary"%>
  </div>
<% end %>
