<%= simple_form_for @filter_group, url: url    do |f| %>
<%= f.error_notification %>

<div class="form-group form-group-vertical align-items-center form-group-vertical-responsive">
  <label for="exampleInputPassword1" class="text-left pr-3">Filter Group Name</label>
  <%= f.text_field :name, class: "form-control" %>
  <a href="#" class="pl-3 pluse-btn plus-btn-hide">+</a>
</div>
<div class="filter-type d-flex align-items-center flex-wrap">
  <div class="form-group form-group-vertical">
    <label for="exampleInputPassword1" class="text-left pr-3">Filter Type:</label>
  </div>
  <div class="d-flex">
    <div class="pr-3">
      <%= f.label :filter_group_type, for: 'filter_group_filter_group_type_0',class: 'checkbox-blk' do %>
      <%= f.radio_button :filter_group_type, '0', checked: true, class: 'filter-group-radio' %>
      <span class="checkmark"></span>
      Global
      <% end %>
    </div>
    <div>
      <%= f.label :filter_group_type, for: 'filter_group_filter_group_type_1',class: 'checkbox-blk' do %>
      <%= f.radio_button :filter_group_type, '1', class: 'filter-group-radio' %>
      <span class="checkmark"></span>
      Local
      <% end %>
    </div>
  </div>
</div>
<div id="global-check" style="display:none">
  <h6><strong>Add Catagory Which Show Filter Group</strong></h6>
  <%= f.fields_for :filter_categories do |filter_category| %>
  <%= render 'filter_category_fields', :f => filter_category %>
  <% end %>
  <div class="state-content links">
    <%= link_to_add_association f, :filter_categories do  %>
    <span> <i class="pl-3 pluse-btn">+</i></span>
    <% end %>
  </div>
</div>

<h6><strong>Add Filter In This Group</strong></h6>
<%= f.fields_for :filter_in_categories do |filter_in_category| %>
<%= render 'filter_in_category_fields', :f => filter_in_category %>
<% end %>
<div class="state-content links">
  <%= link_to_add_association f, :filter_in_categories do  %>
  <span> <i class="pl-3 pluse-btn">+</i></span>
  <% end %>
</div>

<div class="text-center">
  <%= f.submit 'Save Filter', class: "btn btn-radius px-4 btn-primary"%>
</div>
<% end %>
