<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="all-products-header d-flex justify-content-between flex-wrap mt-3">
        <div class="all-products-header-left d-flex flex-wrap">
          <div class="search-field mb-0">
            <%= form_tag(admin_filter_groups_path, method: :get) do %>
              <%= text_field_tag(:search, params[:search], placeholder: "Search Filter Group") %>
            <i class="fa fa-search" aria-hidden="true"></i>
            <% end %>
          </div>
          <div class="dropdown dropdown-filter  d-inline-flex">
            <a href="#"
            class="btn btn-radius px-3 btn-link btn-link-dropdown d-inline-flex align-items-center"
            id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Action <i class="fa fa-angle-down ml-3"
            aria-hidden="true"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to 'Delete', confirm_multiple_deletion_admin_filter_groups_path, class: 'dropdown-item active', data: { remote: true } %>
              <%= link_to 'Assign to category', '#', class: 'dropdown-item', id: 'assign-filter-group-category', data: { remote: true } %>
              <div class="modal fade modal-xxl filter-group-modal pl-0 align-items-start" id="assignFilterGroupForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Assign Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body px-lg-4">
                    <div id="assign-filter-group-category">
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <!-- <a class="dropdown-item" href="">Assign to category <i class="fa fa-check"
                aria-hidden="true"></i></a> -->
              </div>
            </div>

            <div class="dropdown dropdown-filter  d-inline-flex" id="pages-id">
              <a href="#" class="btn btn-radius px-3 btn-link btn-link-dropdown d-inline-flex align-items-center" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Result Per Page <%= params[:per_page] %><i class="fa fa-angle-down ml-3" aria-hidden="true"></i></a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= form_tag(admin_filter_groups_path, method: :get) do %>
                  <%= link_to (admin_filter_groups_path(per_page: '15'))  do %>
                  <span class="<%= 'fa fa-check' if params[:per_page] == '15' %>" aria-hidden="true"></span>
                  Result per page 15
                  <% end %>
                  <%= link_to (admin_filter_groups_path(per_page: '30'))  do %>
                  <span class="<%= 'fa fa-check' if params[:per_page] == '30' %>" aria-hidden="true"></span>
                  Result per page 30
                  <% end %>
                  <%= link_to (admin_filter_groups_path(per_page: '60'))  do %>
                  <span class="<%= 'fa fa-check' if params[:per_page] == '60' %>" aria-hidden="true"></span>
                  Result per page 60
                  <% end %>
                  <%= link_to (admin_filter_groups_path(per_page: '90'))  do %>
                  <span class="<%= 'fa fa-check' if params[:per_page] == '90' %>" aria-hidden="true"></span>
                  Result per page 90
                  <% end %>
                  <%= link_to (admin_filter_groups_path(per_page: '180'))  do %>
                  <span class="<%= 'fa fa-check' if params[:per_page] == '180' %>" aria-hidden="true"></span>
                  Result per page 180
                  <% end %>
                <% end %>
              </div>
            </div>
            
            <div class="dropdown dropdown-filter  d-inline-flex">
              <a href="#"
              class="btn btn-radius px-3 btn-link btn-link-dropdown d-inline-flex align-items-center"
              id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Filter by <i class="fa fa-angle-down ml-3"
              aria-hidden="true"></i></a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= form_tag(admin_filter_groups_path, method: :get) do %>
                <%= link_to admin_filter_groups_path(filter_type: 0),class: 'dropdown-item active' do %>
                Global
                <% end %>      
                <%= link_to admin_filter_groups_path(filter_type: 1),class: 'dropdown-item' do %>
                Local
                <% end %>
                <% end%>
              </div>
            </div>
          </div>
          <%= link_to 'Add New Filter Group', new_admin_filter_group_path, class: 'btn btn-radius px-4 btn-primary', data: { remote: true } %>
          <div class="modal fade modal-xxl filter-group-modal pl-0 align-items-start" id="filterGroupForm" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New filter Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body px-lg-4">
                <div id="filter-group-form">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="mt-3">
        <p>Results <span><%= @filter_groups.count %></span> of <span><%= @filter_group_count %></span></p>
      </div>
      <h3 class="mt-4 mb-3">Filter Groups</h3>
      <div class="Yavolo-table">
        <table class="table">
          <thead>
            <tr></th>
              <th>
                <div class="checkbox-container filter-groups-select-all-container">
                  <label class="checkbox-blk">
                    <input type="checkbox" class="filter-group" id="filter-group-select-all" name="select-all" value="select-all">
                    <span class="checkmark checkmark-white"></span>
                  </label>
                </div>
              </th>
              <th>Type</th>
              <th>Name</th>
              <th>Number Of Filter Groups</th>
              <th>Categories Assigned</th>
              <th>Assinged Categories</th>
              <th class="text-center" >Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @filter_groups.each do |filter_group|%>
            <tr>
              <td>
                <div class="checkbox-container filter-groups-checkbox-container">
                  <label class="checkbox-blk">
                    <input type="checkbox" value="<%= filter_group.id %>">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </td>
              <td><%= filter_group.filter_group_type if filter_group.filter_group_type.present? %></td>
              <td><%= filter_group.name %></td>
              <td><%= filter_group.filter_in_categories.count %></td>
              <td><%= filter_group.filter_categories.count %></td>
              <td></td>
              <td><%= link_to 'Edit', edit_admin_filter_group_path(filter_group), class: 'btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100', data: { remote: true } %>
                <%= link_to 'Delete', confirm_delete_admin_filter_group_path(filter_group), remote: true, class: "btn btn-sm btn-radius px-4 btn-secondary w-100 delete-filter-group" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div class="pager-middle text-center d-flex justify-content-center mb-4">
            <div class="text-center"><%= paginate @filter_groups %></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Filter Groups Confirmation Deletion Modal -->
  <%= render 'shared/admin/confirmation_deletion_modal' %>
