<%= form_tag(admin_filter_groups_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag 'search'%>
<% end %>
<br />
<h1>Filter Groups</h1>
<%= form_tag destroy_multiple_admin_filter_groups_path , method: :delete do %>
  <div class="Yavolo-table">
    <table class="table">
      <thead>
        <tr></th>
          <th data-sort-ignore="true"><input type="checkbox" id="selectAll"></input></th>
          <th>Id</th>
          <th>Type</th>
          <th>Name</th>
          <th>Number Of Filter Groups</th>
          <th>Categories Assigned</th>
          <th>Assinged Categories</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @filter_groups.each do |filter_group|%>
        <tr>
          <td><%= check_box_tag "filter_group_ids[]", filter_group.id, false, class: 'selectable' %></td>
          <td><%= filter_group.id %></td>
          <td><%= filter_group.filter_group_type if filter_group.filter_group_type.present? %></td>
          <td><%= filter_group.name %></td>
          <td><%= filter_group.filter_in_categories.count %></td>
          <td><%= filter_group.filter_categories.count %></td>
          <td></td>
          <td><%= link_to 'Edit', edit_admin_filter_group_path(filter_group) %>| <%= link_to 'Delete', admin_filter_group_path(filter_group), method: :delete %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= submit_tag "Delete selected", :class => 'btn btn-primary btn-xs' %>
<% end %>

<div class="text-center"><%= paginate @filter_groups %></div>
