<div class="admin-header">
    <div class="container-fluid">
        <div class="admin-header-inner d-flex justify-content-between align-items-center">
            <div class="admin-header-left">
                <a href="javascript:void(0)" class="mr-lg-5 mr-2 menu-icon"><i class="icon-switch-accounts"></i></a>
                <!-- <a href="javascript:void(0)" class="mr-lg-5 mr-2 datepicker-dashboard"><i class="fas fa-calendar-alt"></i></a> -->
                <!-- <a href=""><i class="fas fa-bell"></i></a> -->
            </div>
<!--             <div class="admin-header-right">
              <ul>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-tog bdr-left" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= image_tag "profile.jpg", class: 'rounded-circle', width:"40", height: "40" %>
                  <span class="pl-3"><%= admin_name(current_seller) %></span>
                  <i class="fa fa-angle-down ml-3" aria-hidden="true"></i>
                  </a>
                  <div class="dropdown-menu dropdown-text dropdown-profile text-center p-3" aria-labelledby="navbarDropdownMenuLink">
                    <div class="dropdown-profile-inner dark-red-text">
                      <span>
                      <%= image_tag "profile.jpg", class: 'user-img' %>
                      </span>
                      <p class="mb-0"><%= admin_name(current_seller) %></p>
                      <p><%= current_seller.email %></p>
                      <a href="#" class="btn btn-radius px-4 btn-primary btn-sm w-100 mb-3">Manage Account</a>
                      <%= link_to 'Sign Out', destroy_seller_session_path, data: { method: :delete }, class: "btn btn-radius px-4 btn-primary btn-sm w-100" %>
                    </div>
                  </div>
                </li>
              </ul>
            </div> -->
        </div>
    </div>
</div>
