<div class="leftside">
  <div class="sideheader">
    <a href="<% root_path %>" class="logo"><%= image_tag "Yavolo_Logo_WarmRed.png" %></a>
    <p class="mt-3 mb-0">A good deal better</p>
  </div>
  <div class="sidebody">
  <% class_name = is_eligible?(current_seller) ? "" : "not-eligible-toast" %>
    <ul>
      <li class="active "><%= link_to '#' do %>
        <span class="icon-dashboard icon-right-pd"></span>
        Succes Hub
        <% end %>
      </li>
      <li class="<%= class_name %>"><%= link_to is_eligible?(current_seller) ? sellers_products_path : '#' do %>
        <span class="icon-listing icon-right-pd"></span>
        Listing
        <% end %>
      </li>
      <li class="<%= class_name %>"><%= link_to is_eligible?(current_seller) ? '#' : '#' do %>
        <span class="icon-messages icon-right-pd"></span>
        Messages
        <% end %>
      </li>
      <li class="<%= class_name %>"><%= link_to is_eligible?(current_seller) ? sellers_delivery_options_path : '#' do %>
        <span class="icon-orders--delivery icon-right-pd"></span>
        Orders & Delivery
        <% end %>
      </li>
      <li class="<%= class_name %>"><%= link_to is_eligible?(current_seller) ? '#' : '#' do %>
        <span class="icon-finance icon-right-pd"></span>
        Finances
        <% end %>
      </li>
      <li class="<%= class_name %>"><%= link_to is_eligible?(current_seller) ? '#' : '#' do %>
        <span class="icon-success-meter icon-right-pd"></span>
        Success Meter
        <% end %>
      </li>
      <li class="<%= class_name %>"><%= link_to is_eligible?(current_seller) ? '#' : '#' do %>
        <span class="icon-help--resource-center icon-right-pd"></span>
        Help & Resource Centre
        <% end %>
      </li>
      <li><%= link_to sellers_profile_path(current_seller) do %>
        <span class="icon-accounts--settings icon-right-pd"></span>
        Account & Settings
        <% end %>
      </li>
    </ul>
    <ul>
      <li>
        <%= link_to destroy_seller_session_path,  method: :delete do %>
        <span class="icon-logout icon-right-pd"></span>
        Logout
        <% end %>
      </li>
      <li><%= link_to '#' do %>
        <span class="icon-switch-accounts icon-right-pd"></span>
        Switch Accouts
        <% end %>
      </li>
    </ul>
  </div>
</div>
