<!DOCTYPE html>
<html>
  <head>
    <title>Seller</title>
    <script src="https://js.stripe.com/v3/"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <div class="dashboard-page seller-layout">
      <%= render 'layouts/sellers/seller_sidebar' %>
      <div class="rightside">
        <div class="admin-dashboard no-header">
          <%= render 'shared/flash_messages' %>
          <%= render 'layouts/sellers/seller_header' %>
          <%= yield %>
          <%= render 'layouts/sellers/seller_footer' %>
        </div>
      </div>
    </div>
    <%= javascript_pack_tag 'tagsinput' %>
    <script>
      $(document).ready(function(){
        $("#product_keywords").tagsinput('input').addClass('ignoreme');
      });
  </script>
  </body>
</html>
