<!DOCTYPE html>
<html>
  <head>
    <title>Seller</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="dashboard-page seller-layout">
      <%= render 'layouts/sellers/seller_sidebar' %>
      <div class="rightside">
        <div class="admin-da">
            <%= render 'layouts/sellers/seller_header' %>
            <% if notice.present? %>
              <p class="flash-toast notice <%= notice.present? ? 'notice-msg' : ''%>">
                <%= notice %>
                <span  class="notice-cross-icon" aria-hidden="true">&times;</span>
              </p>
            <% end %>
            <% if alert.present? %>
              <p class="flash-toast alert <%= alert.present? ? 'alert-msg' : ''%>">
                <%= alert %>
                <span class="notice-cross-icon" aria-hidden="true">&times;</span>
              </p>
            <% end %>
            <%= yield %>
            <%= render 'layouts/sellers/seller_footer' %>
        </div>
      </div>
    </div>
    <%= javascript_pack_tag 'tagsinput' %>
  </body>
</html>
