<tr class="order-table-row" id="order-id-<%= seller_order.id %>">
  <td>
    <div class="multiple-orders">
        <label class="checkbox-blk">
          <input type="checkbox" name="order_ids[]" class="order_ids" value="<%= seller_order.id %>">
          <span class="checkmark"></span>
        </label>
      </div>
  </td>
  <td>
    <p class="mb-0"><%= seller_order.created_at.strftime("#{seller_order.created_at.day.ordinalize} %B %Y") %></p>
    <p class="mb-0"><%= seller_order.created_at.strftime('%H:%M:%S GMT') %></p><br>
    <p class="mb-0">Sale Fee: £121.80</p>
    <p class="mb-0">Sub Total: <%= get_seller_order_line_items_total(seller_order) %></p>
  </td>
  <td>
    <p class="mb-0">Order number: <%= seller_order.order_number %></p>
    <p class="mb-0">Payment method: Card</p>
    <p class="mb-0">Customer Name: <%= get_full_name(seller_order.order_detail) %></p>
    <p class="mb-0">Sales Channel: Yavolo.com</p><br>
    Sold within a Yavolo
  </td>
  <td>
    <table class="seller-order-sub-table">
      <% seller_order.line_items.each do |line_item| %>
        <% line_item_product = line_item.product %>
        <tr>
          <td class="order-image">
            <%= image_tag line_item_product.pictures.first&.name&.url.present? ? line_item_product.pictures.first&.name&.url(:large) : 'default.jpg' %>
          </td>
          <td>
            <p class="mb-4"><%= line_item_product.title %></p>
            <p class="mb-0"><strong>SKU: <%= line_item_product.sku %></strong></p>
            <p class="mb-0"><strong>Quantity: <%= line_item.quantity %></strong></p>
            <p class="mb-0"><strong>Item Subtotal: <%= number_to_currency((number_with_precision(line_item_product.price * line_item.quantity, :precision => 2) || 0), unit: '£') %></strong></p>
          </td>
        </tr>
      <% end %>
    </table>
  </td>
  <td>
    <p class="mb-0"><strong>Dispatched </strong>
      <br>11th March 2021</p>
    <p class="mb-0">09:47:28 GMT</p>
    <p class="mb-0"><a href=""><u><br>#75757757</u></a></p>
  </td>
  <td><strong>Shipped</strong></td>
  <td>
    <div class="row-actions">
      <a class="btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100 btn-light-hvr btn-danger" href="#">Edit Tracking</a>
      <a class="btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100 btn-light-hvr" href="#">Send Message</a>
      <a class="btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100 btn-light-hvr" href="#">Manage Invoice</a>
      <a class="btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100 btn-light-hvr" href="#">Print packing slip</a>
      <%= link_to 'Refund', new_refund_sellers_order_path(seller_order), class: "btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100 btn-light-hvr" %>
      <%= link_to 'View', sellers_order_path(seller_order), class: "btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100 btn-light-hvr" %>
    </div>
  </td>
</tr>
