<a class="dropdown-item <%= set_filter_active('Search All') %>" href="#">Search All <i class="fa fa-check" aria-hidden="true"></i></a>
<a class="dropdown-item <%= set_filter_active('Product Title') %>" href="#">Product Title<i class="fa fa-check" aria-hidden="true"></i></a>
<a class="dropdown-item <%= set_filter_active('Order Number') %>" href="#">Order Number <i class="fa fa-check" aria-hidden="true"></i></a>
<a class="dropdown-item <%= set_filter_active('Tracking Number') %>" href="#">Tracking Number <i class="fa fa-check" aria-hidden="true"></i></a>
<a class="dropdown-item <%= set_filter_active('Customer Name') %>" href="#">Customer Name <i class="fa fa-check" aria-hidden="true"></i></a>
<a class="dropdown-item <%= set_filter_active('Customer Postcode') %>" href="#">Customer Postcode <i class="fa fa-check" aria-hidden="true"></i></a>
<a class="dropdown-item <%= set_filter_active('SKU') %>" href="#">SKU <i class="fa fa-check" aria-hidden="true"></i></a>
<a class="dropdown-item <%= set_filter_active('YAN') %>" href="#">YAN <i class="fa fa-check" aria-hidden="true"></i></a>
<a class="dropdown-item <%= set_filter_active('EAN') %>" href="#">EAN <i class="fa fa-check" aria-hidden="true"></i></a>