<section class="view-order pt-4">
  <div class="container-fluid">
    <h3 class="mt-4 mb-3">Order Number: #<%= @order&.order_number %></h3>
    <div class="row">
      <div class="col-md-12">
        <div class="my-2 d-flex justify-content-between">
          <%= link_to sellers_orders_path, class: "red-text decoration-none btn-light-hvr px-3 py-2 btn-radius align-items-center" do %>
            <span class="icon-chevron-left-solid mm-text"></span>
            Back
          <% end %>
          <div class="d-inline-flex justify-content-end">
            <%= link_to 'Refund', new_refund_sellers_order_path(@order), class: "btn btn-radius px-4 btn-primary mr-2 mb-1" %>
            <%= link_to 'Download Order', sellers_order_path(@order, format: :pdf), class: "btn btn-radius px-4 btn-primary mr-2 mb-1" %>
            <a href="#" class="btn btn-radius px-4 btn-primary">Edit Tracking</a>
          </div>
        </div>
      </div>
    </div>
    <%= render "shared/orders/order_details" %>
  </div>
</section>
