<div id="stripe-bank-accounts-div">
  <%if !current_seller&.bank_detail&.customer_stripe_account_id&.present?%>
    <a href="#add-bank-account" name=""class="btn btn-sm btn-radius px-4 btn-primary mb-3 add-bank-account float-right" data-toggle="modal" data-target="#add-bank-account">Connect</a>
  <%end%>
  <div class="d-flex align-items-center mb-3">
    <h6 class="mb-0">Bank account for payout</h6>
    <%if !current_seller&.bank_detail&.customer_stripe_account_id&.present?%>
      <a href="#add-bank-account" data-toggle="modal" data-target="#add-bank-account"><span class="badge badge-secondary ml-2">Connect your account to get payouts</span></a>
    <%end%>  
  </div>
  <%if current_seller&.bank_detail&.customer_stripe_account_id&.present?%> 
    <div class="payment-method-card yo-white-card box-border p-0">
        <table class="table m-0 subscription-table text-left yavolo-table">
          <tr>
            <td>
              <p class="mb-1"><strong>Bank account number</strong>
                <%if current_seller.bank_detail.requirements.present?%>
                  <a href="" id="verify-requirments"><span class="badge badge-secondary ml-2">Please Verify</span></a>
                <%end%>
              </p>
              <p class="m-0"> Ending in <%= current_seller&.bank_detail&.last4 || ""%></p>
            </td>
            <td>
              <p class="mb-1"><strong>Account holder name</strong> </p>
              <p class="m-0"><%= current_seller.bank_detail.account_holder_name || ""%></p>
            </td>
            <td>
              <p class="mb-1"><strong>Payout Method</strong> </p>
              <p class="m-0"><%= current_seller&.bank_detail&.available_payout_methods || ""%></p>
            </td>
            <td>
              <p class="mb-1"><strong>System</strong> </p>
              <p class="m-0"><%= current_seller&.bank_detail&.bank_name || ""%></p>
            </td>
          </tr>
        </table>
    </div>
    <a href="#" name="<%=current_seller&.id%>" class="btn btn-sm btn-radius px-4 btn-primary mb-3 payout-bank-account-remove">Remove</a>
    <%= render 'shared/stripe_payout_remove', confirm_statement: "Are you sure you want to remove bank account ending  *****#{current_seller&.bank_detail&.last4 || ""}?", id: 'stripe-payout-bank-account-end',path: '#', data: "", modal_id: 'stripe-payout-bank-account-confirm' %>
  <%else%>
    <div class="payment-method-card yo-white-card box-border p-0">
      <h6 class="p-3 mm-text">Connect bank account to receive payouts</h6>
    </div>
  <%end%>
  <%= render 'sellers/bank_accounts/bank_details'%>
</div>
