<div class="container-fluid">
  <% if params[:action] == 'edit' %>
    <h3 class="mt-4 mb-3">Edit Yavolo</h3>
  <% else %>
    <h3 class="mt-4 mb-3">Add New Yavolo</h3>
  <% end %>
  <%= simple_form_for @yavolo_bundle, url: url, method: method, html: { id: 'yavolo_bundle_form' } do |form| %>
    <% if @yavolo_bundle.errors.present? %>
      <ul style="color: red">
        <% @yavolo_bundle.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <%= form.hidden_field :stock_limit %>
    <%= form.hidden_field :max_stock_limit %>
    <%= form.hidden_field :regular_total %>
    <%= form.hidden_field :yavolo_total %>

    <%= render "form_featured_image", form: form %>
    <%= render "form_photos", form: form %>

    <%= render "yavolo_bundle_products", form: form %>
    <%= render "seo_content", form: form %>
    <%= render "google_shopping", form: form %>
    <%= render "listing_details", form: form %>

    <% @products.each do |product| %>
      <%= render 'yavolo_product_listing_details',product: product, form: form %>
    <% end %>


    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <%= render "pricing_and_quantity",form: form %>
          <%= render "reviews", form: form %>
        </div>
      </div>

    </div>

    <%= render "actions_bar", form: form do %>
      <% if form.object.new_record? || form.object.status_draft? %>
        <%= form.submit 'APPROVE & PUBLISH', class: 'btn btn-sm btn-radius px-4 btn-bg-white mb-2 mt-2 manual_yavolo_form_submission', data: { disable_with: false } %>
      <% else %>
        <%= form.submit 'UPDATE', class: 'btn btn-sm btn-radius px-4 btn-outline-white mb-2 mt-2 manual_yavolo_form_submission', data: { disable_with: false } %>
      <% end %>
    <% end %>
  <% end %>

</div>

<%= render 'shared/product_image_delete', heading: 'Delete Image', confirm_statement: 'Would you like to delete this product image?', id: 'yes-delete-img',path: '#', data: nil, modal_id: 'yes-no-product-delete-img-modal', hide_back_listing_link: true %>
