<tr>
  <td>
    <div class="multiple-update-yavolos">
      <label class="checkbox-blk">
        <input type="checkbox" id="<%= "select-#{yavolo_bundle.id}" %>" value="<%= yavolo_bundle.id %>">
        <span class="checkmark"></span>
      </label>
    </div>
  </td>
  <td> <%= yavolo_bundle.status %></td>
  <td>
    <%= yavolo_bundle.yan %>
  </td>
  <td>
    <ul>
      <%= yavolo_bundle.products.map{|p| "<li>#{p.title}</li>"}.join("").html_safe %>
    </ul>
  </td>
  <td>
    <ul>
      <%= yavolo_bundle.products.map{|p| "<li>#{product_owner(p)}</li>"}.join("").html_safe %>
    </ul>
  </td>
  <td class="text-center">
    <ul>
      <%= yavolo_bundle.products.map{|p| "<li>#{p.yan}</li>"}.join("").html_safe %>
    </ul>
  </td>
  <td class="text-center">
    <ul>
      <%= yavolo_bundle.products.map{|p| "<li>#{get_price_in_pounds(p.price)}</li>"}.join("").html_safe %>
    </ul>
  </td>
  <td class="text-center">
    <ul>
      <%= yavolo_bundle.yavolo_bundle_products.map{|p| "<li>#{get_price_in_pounds(p.price)}</li>"}.join("").html_safe %>
    </ul>
  </td>
  <td class="text-center">
    <ul>
      <%= yavolo_bundle.products.map{|p| "<li>#{format_to_percentage(p.discount)}</li>"}.join("").html_safe %>
    </ul>
  </td>
  <td class="text-center">
    <p><%= get_price_in_pounds(yavolo_bundle.price) %></p>
    <p><i>Customer saves </i> <%= get_price_in_pounds(yavolo_bundle.regular_total - (yavolo_bundle.price || 0)) %> (<%= format_to_percentage(yavolo_bundle.products.sum(&:discount)) %>)</p>

  </td>
  <td>
    <div class="text-center">
      <%= link_to "Edit", add_yavolos_admin_yavolos_manual_bundles_path(yavolo_bundle_id: yavolo_bundle.id), class: "btn btn-sm btn-radius px-4 btn-secondary w-100 mb-1 btn-light-hvr"  %>
    </div>
    <div class="text-center">
      <%= link_to 'Delete', delete_yavolo_admin_yavolos_manual_bundles_path(ids: [yavolo_bundle.id]), remote: true, class: 'btn btn-sm btn-radius px-4 btn-secondary w-100 btn-light-hvr', data: {confirm: "Are you sure you want to delete this bundle?", method: :delete}  %>
    </div>
  </td>
</tr>
