<div class="container-fluid yavolos--manual-bundles" data-controller="yavolos--manual-bundles">

  <div class="row">
    <h3 class="mt-4 mb-3"><%=  @yavolo_bundle.present? ? "Edit Yavolo Listing" : "Add New Yavolo" %></h3>
    <div class="col-lg-6 d-flex flex-column">
      <div class="row">
        <div class="col-lg-12">
          <div class="row all-products-header d-flex justify-content-between flex-wrap mt-3 align-items-center">
            <div class="all-products-header-left flex-wrap col-8">
              <%= search_form_for @q, url: add_yavolos_admin_yavolos_manual_bundles_path, remote: true, html: {class: "new-yavolo-bundle-search-form", data: {controller: "new-yavolo-bundle-search-form", action: "submit->new-yavolo-bundle-search-form#onSubmit"}} do |f| %>
                <% if @yavolo_bundle.present? %>
                  <%= hidden_field_tag :yavolo_bundle_id, @yavolo_bundle.id %>
                <% end %>
                <% if params[:per_page].present? %>
                  <%= hidden_field_tag :per_page, params[:per_page] %>
                <% end %>

                <div class="search-field mb-0 mr-1">
                  <%= f.search_field 'title_or_yan_cont', {class: 'seller-product-search-field', placeholder: 'Search Products', value: params.dig(:q, :title_or_yan_cont).to_s, autocomplete: 'off'} %>
                  <%= link_to add_yavolos_admin_yavolos_manual_bundles_path, remote: true, class: 'cross-icon d-none' do %>
                    <i class="icon-cross" aria-hidden="true"></i>
                  <% end %>
                  <i class="fa fa-search search-icon" aria-hidden="true"></i>
                </div>
              <% end %>

            </div>

          </div>
        </div>
      </div>
      <div class="Yavolo-table mt-2 w-100 table-responsive">
        <table class="table mb-0">
          <thead>
          <tr>
            <th>status</th>
            <th>image</th>
            <th>Product Title</th>
            <th>Key info</th>
            <th class="text-center">Discount</th>
            <th class="text-center" width="10%">Actions</th>
          </tr>
          </thead>
          <tbody class="yavolo-enabled-product-items-container">
          <%= (render partial: 'yavolo_enabled_product_item', collection: @products, as: :product) || render("shared/no_result_found_table_row", colspan: 6) %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-6 d-flex flex-column">
      <div class="d-flex justify-content-between align-items-center mt-lg-3">
        <a href="#" class="red-text decoration-none btn-light-hvr px-3 py-2 btn-radius align-items-center" data-action="click->yavolos--manual-bundles#onBack">
          <span class="icon-chevron-left-solid pr-2 mm-text"></span>Back
        </a>
      </div>
      <%= form_tag @yavolo_bundle.present? ? edit_manual_bundle_admin_yavolos_manual_bundles_path : new_manual_bundle_admin_yavolos_manual_bundles_path, method: :post, data: {"yavolos--manual-bundles-target": "form"}, class:"yavolo-summary-form" do %>
        <% if @yavolo_bundle.present? %>
          <%= hidden_field_tag :yavolo_bundle_id, @yavolo_bundle.id %>
        <% end %>
        <div class="yo-white-card box-border mt-2 d-flex flex-column justify-content-between w-100 h-100 mb-0 flex1 yavolos--summary" data-controller="yavolos--summary" data-yavolos--summary-bundle-id="<%= @yavolo_bundle.present? ? @yavolo_bundle.id : nil %>" data-yavolos--summary-remove-association-url="<%= remove_product_bundle_association_admin_yavolos_manual_bundles_path %>">
          <div>
            <h5 class="text-center">Summary</h5>

            <div data-yavolos--summary-target="productsContainer" class="yavolos-bundle-products-container">
              <% if @yavolo_bundle.present? && @yavolo_bundle.yavolo_bundle_products.present? %>
                <% @yavolo_bundle.yavolo_bundle_products.includes(:product).each.with_index(1) do  |ybp, index|%>
                  <%= render "admin/yavolos/manual_bundles/summary/yavolo_product_item_summary", product: ybp.product, index: index, yavolo_bundle_product: ybp %>
                <% end %>
              <% end %>
            </div>

            <div>
              <%= render "admin/yavolos/manual_bundles/summary/yavolo_stock_limit_summary" %>
            </div>

            <div data-yavolos--summary-target="totalPricesContainer">
              <%= render "admin/yavolos/manual_bundles/summary/yavolo_total_prices_summary" %>
            </div>
          </div>
          <div>
            <div class="d-flex justify-content-between">
              <a href="#" class="btn btn-sm btn-radius px-4 btn-primary" data-action="click->yavolos--summary#removeSelectedProductsFromDOM">Remove
                Product</a>
              <%= submit_tag "Continue", class: "btn btn-sm btn-radius px-4 btn-primary", data: {action: "click->yavolos--manual-bundles#continueToFormPage"} %>
            </div>
          </div>

        </div>
        </div>
      <% end %>

      </div>


  <div class="row">
    <div class="col-md-6 mr-auto">
      <div class="pager-middle text-center d-flex justify-content-center mb-4">
        <div class="text-center yavolo-enabled-pagination-container"><%= paginate @products, remote: true %></div>
      </div>
    </div>
  </div>
</div>

<%= render "confirmation_modal_stimulus" %>
<%= render "admin/yavolos/manual_bundles/back_button_modal" %>