<div>
  <div class="row">
    <div class="col-lg-12">
      <h3 class="mt-4 mb-3">Manage Yavolos</h3>
      <div class="all-products-header d-flex justify-content-between flex-wrap mt-3">
        <div class="all-products-header-left d-flex flex-wrap align-items-center">
          <%= search_form_for @q, url: admin_yavolos_manual_bundles_path do |f| %>
            <% if params[:per_page].present? %>
              <%= hidden_field_tag :per_page, params[:per_page] %>
            <% end %>

            <div class="search-field mb-0 mr-1">
              <% search_query_param = 'yan_or_products_title_or_products_yan_or_products_owner_of_Seller_type_full_name_cont' %>
              <%= f.search_field search_query_param, {class: '', placeholder: 'Search Yavolos', value: params.dig(:q, search_query_param.to_sym).to_s, autocomplete: 'off'} %>
              <% if params.dig(:q, search_query_param.to_sym).to_s.present? %>
                <%= link_to admin_yavolos_manual_bundles_path, class: 'cross-icon' do %>
                  <i class="icon-cross mm-text" aria-hidden="true" style="top: 15px"></i>
                <% end %>
              <% else %>
                <i class="fa fa-search search-icon" aria-hidden="true"></i>
            <% end %>
            </div>
          <% end %>

          <div class="dropdown-filter-field dropdown-filter-custom active my-1 ml-2 dropdown-filter-border">
            <div class="dropdown">
              <a href="#" class="btn btn-radius px-3 btn-link-dropdown d-inline-flex align-items-center" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions
                <i class="fa fa-angle-down ml-3" aria-hidden="true"></i></a>
              <div class="dropdown-menu pt-0" aria-labelledby="dropdownMenuLink" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                <%= link_to 'Delete', delete_yavolo_admin_yavolos_manual_bundles_path(), remote: true, class: 'dropdown-item', data: { bulk: true, "bulk-checkboxes-selector":".multiple-update-yavolos", confirm: "Are you sure you want to perform this action?", method: :delete}  %>
                <%= link_to 'Publish', publish_yavolo_admin_yavolos_manual_bundles_path(), remote: false, class: 'dropdown-item', data: { bulk: true, "bulk-checkboxes-selector":".multiple-update-yavolos", confirm: "Are you sure you want to perform this action?", method: :post}  %>
                <a class="dropdown-item" href="<%= bulk_max_stock_limit_value_admin_yavolos_manual_bundles_path %>" data-remote="true" data-method="get">Update stock display value </a>
              </div>
            </div>
          </div>
          <%= render 'shared/result_per_page_dropdown', url_path: admin_yavolos_manual_bundles_path %>
        </div>
        <div class="all-products-header-right d-flex justify-content-between">
          <a href="#" class="btn btn-radius px-4 btn-primary mr-1 btn-sm my-1 import-yavolos">Upload CSV</a>
          <a href="#" class="btn btn-radius px-4 btn-primary mr-1 export-yavolos btn-sm my-1" >Export CSV</a>
          <a href="#" class="btn btn-radius px-4 btn-primary mr-1 d-none" id="yavolos-trigger" >export yavolos data</a>
          <input type="hidden" id="all_yavolo_ids" data="<%= @q.result(distinct: true).ids %>">
          <%= link_to "Add new Yavolo", add_yavolos_admin_yavolos_manual_bundles_path, class: "btn btn-radius px-4 btn-primary btn-sm my-1" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="mt-3">
        <%= render partial: 'shared/result_of_pages', locals: { total_count: @total_count, count: @yavolo_bundles.count } %>
      </div>
      <div class="Yavolo-table mt-2">
        <table class="table">
          <thead>
          <tr>
            <th>
              <label class="checkbox-blk">
                <input type="checkbox" id="check-all-checkboxes">
                <span class="checkmark checkmark-white"></span>
              </label>
            </th>
            <th>status</th>
            <th>yavolo YAN</th>
            <th>yavolo products</th>
            <th>yavolo sellers</th>
            <th class="text-center">YAN</th>
            <th class="text-center">regular price</th>
            <th class="text-center">yavolo price</th>
            <th class="text-center">yavolo discount</th>
            <th class="text-center">yavolo total</th>
            <th class="text-center" width="5%">Actions</th>
          </tr>
          </thead>
          <tbody>
            <%= render partial:"shared/yavolo_list_item_index",collection: @yavolo_bundles, as: :yavolo_bundle  %>
          </tbody>
        </table>
        <% if @yavolo_bundles.count == 0 %>
          <p class="text-center my-5">No Result Found</p>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'shared/pagination', collection: @yavolo_bundles %>

  <%= render 'shared/custom_confirm_modal', request_path: admin_yavolos_manual_bundles_path %>
  <%= render 'shared/confirmation_modal' %>
  <%= render 'shared/upload_csv_popup/upload_csv_popup', import_url: import_yavolos_admin_yavolos_manual_bundles_path, sample_file_url: '/sample/sample-yavolos.csv' %>
  <%= render 'shared/upload_csv_popup/upload_csv_success_popup' %>
</div>
