<div class="main-page">
  <div class="main-content admin-login-content">
    <div class="container">
      <div class="row">
        <div class="col col-12 col-lg-6 col-md-8 mx-auto">
          <div class="sign-in admin-login">
            <div class="signin-header d-flex justify-content-center w-100">
              <div class="signin-logo">
                <div class="logo-inner">
                  <%= link_to image_tag('Yavolo_Logo_WarmRed.png'), root_path %>
                  <p class="my-2 super-admin-text">Super admin</p>
                </div>
              </div>
            </div>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group general-mrgn">
                <label for="exampleInputEmail1">Email Address *</label>
                <%= f.email_field :email, autofocus: true, class: "form-control" ,id:
                "exampleInputEmail1",placeholder: "Email Address" %>
              </div>
              <div class="form-group general-mrgn">
                <label for="exampleInputPassword1">Password *</label>
                <%= f.password_field :password, autocomplete: "current-password",
                class: "form-control", id: "exampleInputPassword1",
                   placeholder:"Password" %>
              </div>
              <div class="d-flex justify-content-between flex-wrap mb-0">
                <div class="form-check mb-0">
                  <label class="check-container"
                  >Stay signed in
                  <input name="user[remember_me]" type="hidden" value="0" /><input
                  type="checkbox"
                  value="1"
                  name="user[remember_me]"
                  id="user_remember_me"
                  />
                  <span class="checkmark"></span>
                </label>
              </div>
              <div>
              </div>
            </div>
            <%= f.submit "Login", class: "btn btn-primary btn-lg btn-block
            general-mrgn" %>
            <div>
              <%= link_to "Forgotten your password?",
              new_password_path(resource_name) , class: "forgt-text" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
