<div>
  <h5 class="text-center">Business Representative Details</h5>
  <% if business_representative.present? %>
    <table class="table">
      <tbody>
        <tr>
          <td class="">User Email:</td>
          <td><%=h return_value(@seller.email) %></td>
        </tr>
        <tr>
          <td class="">Full Name:</td>
          <td><%=h return_value(business_representative.full_legal_name) %></td>
        </tr>
        <tr>
          <td class="">Job Title:</td>
          <td><%=h return_value(business_representative.job_title) %></td>
        </tr>
        <tr>
          <td class="">Contact Email:</td>
          <td><%=h return_value(business_representative.email) %></td>
        </tr>
        <tr>
          <td class="">Date of Birth:</td>
          <td><%=h date_format_UK(business_representative.date_of_birth) if business_representative.date_of_birth.present? %></td>
        </tr>
        <tr>
          <td class="">Account Status:</td>
          <td><%=h return_value(@seller.account_status) %></td>
        </tr>
        <tr>
          <td class="">Listing Status:</td>
          <td><%=h return_value(@seller.listing_status).humanize %></td>
        </tr>
        <tr>
          <td class="">Account Created:</td>
          <td><%= date_format_UK(@seller.created_at) if @seller.created_at.present? %></td>
        </tr>
        <tr>
          <td class="">Last logged in:</td>
          <td><%= @seller.last_sign_in_at.present? ? date_format_UK(@seller.last_sign_in_at) : "haven't logged in yet" %></td>
        </tr>
        <tr>
          <td class="">Subscription type:</td>
          <td><%=h return_value(@seller.subscription_type) %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
