<footer class="pdp-footer">
  <div class="container-fluid pdp-pad">
    <div class="px-lg-5">
      <div class="row">
        <div class="col-md-6 col-lg-4 d-flex">
          <div class="d-flex justify-content-between flex-column">
            <div>
              <span>
                <%= image_tag "Yavolo_Logo_WarmRed.png", alt: "", class: "logo-img mb-2" %>
              </span>
            </div>
            <div class="logo-footer-text">
              <p>A good deal better.</p>
              <span>© Yavolo 2021</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2">
          <ul class="pdp-footer-list">
            <li><a href="">Your Account</a></li>
            <li><a href="">Catagories</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Blog </a></li>
            <li><a href="">Contact</a></li>
          </ul>

        </div>
        <div class="col-md-6 col-lg-2">
          <ul class="pdp-footer-list">
            <li><a href="">Terms & Conditions</a></li>
            <li><a href="">Sell on Yavolo</a></li>
            <li><a href="">GDPR</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Cookies Policy</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-4">
          <p class="font-14px mb-2">We accept</p>
          <ul class="pdp-footer-list pdp-footer-list-1 w-100">
            <li>
              <a href="#" class="footer-svg">
                <%= image_tag "visa-card.svg" %>
              </a>
            </li>
            <li>
              <a href="#" class="footer-svg">
                <%= image_tag "master-card.svg" %>
              </a>
            </li>
            <li>
              <a href="#" class="footer-svg">
                <%= image_tag "apple-pay.svg" %>
              </a>
            </li>
            <li>
              <a href="#" class="footer-svg">
                <%= image_tag "g-pay.svg" %>
              </a>
            </li>
            <li>
              <a href="#" class="footer-svg">
                <%= image_tag "paypal.svg" %>
              </a>
            </li>

          </ul>
          <p class="font-14px py-2 mb-0">Follow us</p>
          <ul class="pdp-footer-list pdp-footer-list-1 w-100">
            <li>
              <a href="#" class="icon-linkedin socio-icon">
              </a>
            </li>
            <li>
              <a href="#" class="icon-youtube1 socio-icon">
              </a>
            </li>
            <li>
              <a href="#" class="icon-instagram socio-icon">
              </a>
            </li>
            <br>
            <li>
              <a href="#" class="icon-twitter socio-icon">
              </a>
            </li>
            <li>
              <a href="#" class="icon-facebook2 socio-icon">
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>


  </div>
</footer>
