<!DOCTYPE html>
<html>
  <head>
    <title>Buyer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="buyer-layout">
      <%= render 'layouts/buyers/buyer_sidebar' %>
      <%= render 'shared/flash_messages' %>
      <%= render 'layouts/buyers/buyer_header' %>
      <%= yield %>
      <%= render 'layouts/buyers/buyer_footer' %>
    </div>
  </body>
</html>
