<div class="form-group form-group-vertical form-group-vertical-responsive">
  <%= form.label :seller_email, 'Email' %>
  <%= form.email_field :seller_email, value: @seller.email, disabled: true, required: true, class: 'form-control' %>
</div>
<!-- Business Representative -->
<h4>Business Representative</h4>
<% if @seller.business_representative.nil? %>
  <% @seller.build_business_representative %>
<% end %>
<%= form.simple_fields_for :business_representative do |br| %>

  <div class="form-group form-group-vertical form-group-vertical-responsive">
    <%= br.label :full_legal_name, 'Full Legal Name' %>
    <%= br.text_field :full_legal_name, placeholder: 'John Paul Smith', required: true, class: 'form-control' %>
  </div>
  <div class="form-group form-group-vertical form-group-vertical-responsive">
    <%= br.label :business_representative_email, 'Contact Email' %>
    <%= br.email_field :business_representative_email, value: business_representative.try(:email), disabled: true, class: 'form-control' %>
  </div>
  <div class="form-group form-group-vertical form-group-vertical-responsive">
    <%= br.label :job_title, 'Job Title' %>
    <%= br.text_field :job_title, placeholder: 'Director', required: true, class: 'form-control' %>
  </div>
  <div class="form-group form-group-vertical form-group-vertical-responsive">
    <%= br.label :date_of_birth, 'Date of Birth' %>
    <%= br.date_field :date_of_birth, as: :date, value: br.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
  </div>
<% end %>
<div class="form-group form-group-vertical form-group-vertical-responsive">
  <%= form.label :account_status, 'Account Status' %>
  <%= form.select :account_status, Seller.account_statuses.keys.to_a, { prompt: 'Account Status' }, required: true, class: 'form-control' %>
</div>
<div class="form-group form-group-vertical form-group-vertical-responsive">
  <%= form.label :listing_status, 'Listing Status' %>
  <%= form.select :listing_status, Seller.listing_statuses.keys.to_a, { prompt: 'Listing Status' }, required: true, class: 'form-control' %>
</div>
<div class="form-group form-group-vertical form-group-vertical-responsive">
  <label>Account Created</label>
  <div class="mt-2"><%= @seller.created_at.strftime("%m/%d/%Y") if @seller.created_at.present?  %></div>
</div>
<div class="form-group form-group-vertical form-group-vertical-responsive">
  <label>Last Logged In</label>
  <div class="mt-2"><%= @seller.last_sign_in_at.strftime("%m/%d/%Y") if @seller.last_sign_in_at.present? %></div>
</div>
<div class="form-group form-group-vertical form-group-vertical-responsive">
  <label>Subscription Type</label>
  <div class="mt-2"><%= @seller.subscription_type %></div>
</div>