<td id="subscription-renewal-cost">Update Subscription:</td>
  <%if cancel_at_period_end_nil_or_false? && !cancel_after_next_payment_taken?%>
    <td class="d-flex check-data-type" data-type="<%= plan_name %>">
      <select id="admin-subsciption-statuses-list" name="subsciption_status" class="form-control admin-subscription-status-dropdown mr-5">
          <% subscription_plans.each do |plan|%>
            <option value="<%=plan.plan_id%>" <%= selected_or_not(plan)%> ><%= plan.subscription_name %></option>
          <%end%>
            <option value="cancel" <%= canceled_or_not%> >Cancel</option>
      </select>
      <%if subsciption_status == 'active'%>
        <div class="d-flex align-items-start enforce-subscription-dropdown">
          <label class="mb-0 mr-3">Enforce Subscription Change:</label>
          <select id="enforce-dropdown" name="enforce_status" class="form-control">
            <option value="">select</option>
            <option value="next-payment-taken" <%= enforce_sub_dropdown("next-payment-taken")%> data-seller="<%= @seller.id%>">When next payment taken</option>
            <option value="current-subscriptions-end" <%= enforce_sub_dropdown("current-subscriptions-end")%> data-seller="<%= @seller.id %>">When current subscription end</option>
          </select>
        </div>
      <%end%>
    </td>
  <%else%>
  <td>
    <a href="#" name="<%= subscription_renew_path%>" class="btn btn-sm btn-radius px-4 btn-primary renew-seller-subscription">Renew Subscription</a>
    <%= render 'shared/simple_confirm_modal', confirm_statement: 'Are you sure you want to perform this action?', id: 'renew-seller-subscription-by-admin',path: '#', data: "", modal_id: 'renew-seller-subscription-confirm' %>
  </td>
  <%end%>
