<div class="add-new-seller">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <%= simple_form_for @seller, url: url, html: { id: :add_new_seller_form } do |form| %>
          <% if form.object.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-error">
                The form contains <%= pluralize(form.object.errors.count, "error") %>.
              </div>
              <ul>
                <% form.object.errors.full_messages.each do |msg| %>
                  <li style="border: 1px solid red;">* <%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <!-- Seller Email -->
          <h4 class="mt-4 mb-4">User</h4>
          
          <div class="form-group form-group-vertical form-group-vertical-responsive">
            <%= form.label :email, 'Email Address:' %>
            <div style="flex: 1">
              <%= form.email_field :email, placeholder: 'john.smith@example.co.uk', class: 'form-control' %>
            </div>
          </div>
          <!-- Business Information Section / Company Details -->
          <h4 class="mt-4 mb-4">Business Information</h4>
          <%= form.simple_fields_for :company_detail do |cd| %>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= cd.label :name, 'Company Name:' %>
              <div style="flex: 1">
                <%= cd.text_field :name, placeholder: 'JohnStons-Gymnasium', class: 'form-control' %>
              </div>
            </div>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= cd.label :country, 'Country:' %>
              <%= cd.select :country, [['United Kingdom', 'United Kingdom'],['United States', 'United States']], { prompt: 'Select Country' }, required: true, class: 'form-control' %>
            </div>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= cd.label :legal_business_name, 'Legal Business Name:' %>
              <div style="flex: 1">
                <%= cd.text_field :legal_business_name, placeholder: 'JohnStons Gymnasium Ltd.', class: 'form-control' %>
              </div>
            </div>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= cd.label :companies_house_registration_number, 'Companies House Registration Number:' %>
              <div style="flex: 1">
                <%= cd.text_field :companies_house_registration_number, placeholder: '0123456789', class: 'form-control' %>
                </div>
            </div>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= cd.label :doing_business_as, 'Doing Business As:' %>
              <div style="flex: 1">
                <%= cd.text_field :doing_business_as, placeholder: 'JohnStons Gym', class: 'form-control' %>
              </div>
            </div>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= cd.label :business_industry, 'Business Industry:' %>
              <div style="flex: 1">
                <%= cd.text_field :business_industry, placeholder: 'Sports Equipment', class: 'form-control' %>
              </div>
            </div>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= cd.label :website_url, 'Business Website:' %>
              <div style="flex: 1">
                <%= cd.url_field :website_url, placeholder: 'http://www.johnstons-Gymnasium.co.uk', class: 'form-control' %>
              </div>
            </div>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= cd.label :amazon_url, 'Amazon URL:' %>
              <div style="flex: 1">
                <%= cd.url_field :amazon_url, placeholder: 'https://www.amazon.com/jgstore', class: 'form-control' %>
              </div>
            </div>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= cd.label :ebay_url, 'eBay:', class: 'label-transform' %>
              <div style="flex: 1">
                <%= cd.url_field :ebay_url, placeholder: 'https://www.ebaytores.com/jgstore', class: 'form-control' %>
              </div>
            </div>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= cd.label :vat_number, 'VAT Number:' %>
              <div style="flex: 1">
                <%= cd.text_field :vat_number, placeholder: '1234567890', class: 'form-control' %>
              </div>
            </div>
          <% end %>
          <% business_address = '', business_representative_address = '' %>
          <% if form.object.addresses.present? && form.object.addresses.length > 0 %>
            <% business_address = form.object.addresses.select{ |addr| addr.address_type == "business_address"} %>
            <% business_representative_address = form.object.addresses.select{ |addr| addr.address_type == "business_representative_address"} %>
          <% else %>
            <% business_address = @seller.addresses.build(address_type: 'business_address') %>
            <% business_representative_address = @seller.addresses.build(address_type: 'business_representative_address') %>
          <% end %>
          <!-- Registered Business Address / Address with type business_address -->
          <%= form.simple_fields_for :addresses, (business_address) do |addr| %>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-group-vertical form-group-vertical-responsive mb-lg-0">
                  <label for="">Registerd Business Address:</label>
                  <%= addr.hidden_field :address_type, value: Address.address_types.keys[Address.address_types["business_address"]], class: 'form-control' %>
                  <div style="flex: 1">
                    <%= addr.text_field :address_line_1, placeholder: 'Address Line 1', class: 'form-control' %>
                  </div>
                </div>
              </div>
              <div class="form-group form-group-vertical form-group-vertical-responsive col-md-3">
                <div style="flex: 1">
                  <%= addr.text_field :address_line_2, placeholder: 'Address Line 2', class: 'form-control' %>
                </div>
              </div>
              <div class="form-group form-group-vertical form-group-vertical-responsive col-md-3">
                <div style="flex: 1">
                  <%= addr.text_field :city, placeholder: 'City', class: 'form-control' %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-group-vertical form-group-vertical-responsive">
                  <div style="flex: 1">
                    <%= addr.text_field :county, placeholder: 'County', class: 'form-control' %>
                  </div>
                </div>
              </div>
              <div class="form-group form-group-vertical form-group-vertical-responsive col-md-3">
                <div style="flex: 1">
                  <%= addr.text_field :postal_code, placeholder: 'Postcode', class: 'form-control' %>
                </div>
              </div>
              <div class="form-group form-group-vertical form-group-vertical-responsive col-md-3">
              <div style="flex: 1">
                <%= addr.select :country, [['United Kingdom', 'United Kingdom'],['United States', 'United States']], { prompt: 'Select Country' }, class: 'form-control' %>
              </div>
              </div>
            </div>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= addr.label :phone_number, 'Business Phone Number:' %>
              <div style="flex: 1">
                <%= addr.text_field :phone_number, placeholder: '+13443453123', class: 'form-control' %>
              </div>
            </div>
          <% end %>
          <!-- Business Representative -->
          <h5 class="mt-4 mb-4">Business Representative</h5>
          <%= form.simple_fields_for :business_representative do |br| %>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= br.label :full_legal_name, 'Full Legal Name:' %>
              <div style="flex: 1">
                <%= br.text_field :full_legal_name, placeholder: 'John Paul Smith', class: 'form-control' %>
              </div>
            </div>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= br.label :email, 'Email:' %>
              <div style="flex: 1">
                <%= br.email_field :email, placeholder: 'john.smith@example.co.uk', class: 'form-control' %>
              </div>
            </div>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= br.label :job_title, 'Job Title:' %>
              <div style="flex: 1">
                <%= br.text_field :job_title, placeholder: 'Director', class: 'form-control' %>
              </div>
            </div>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= br.label :date_of_birth, 'Date of Birth:' %>
              <div style="flex: 1">
                <%= br.text_field :date_of_birth, placeholder: 'dd/mm/yyyy', class: 'form-control datepicker', autocomplete: 'date_of_birth' %>
              </div>
            </div>
          <% end %>
          <!-- Business Owner Address / Address with type business_representative_address -->
          <%= form.simple_fields_for :addresses, (business_representative_address) do |addr| %>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-group-vertical form-group-vertical-responsive">
                  <label for="">Business Owner Address:</label>
                  <%= addr.hidden_field :address_type, value: Address.address_types.keys[Address.address_types["business_representative_address"]], class: 'form-control' %>
                  <div style="flex: 1">
                    <%= addr.text_field :address_line_1, placeholder: 'Address Line 1', class: 'form-control' %>
                  </div>
                </div>
              </div>
              <div class="form-group form-group-vertical form-group-vertical-responsive col-md-3">
                <div style="flex: 1">
                  <%= addr.text_field :address_line_2, placeholder: 'Address Line 2', class: 'form-control' %>
                </div>
              </div>
              <div class="form-group form-group-vertical form-group-vertical-responsive col-md-3">
                <div style="flex: 1">
                  <%= addr.text_field :city, placeholder: 'City', class: 'form-control' %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-group-vertical form-group-vertical-responsive">
                  <label for=""></label>
                    <div style="flex: 1">
                      <%= addr.text_field :county, placeholder: 'County', class: 'form-control' %>
                    </div>
                </div>
              </div>
              <div class="form-group form-group-vertical form-group-vertical-responsive col-md-3">
                <div style="flex: 1">
                  <%= addr.text_field :postal_code, placeholder: 'Postcode', class: 'form-control' %>
                </div>
              </div>
              <div class="form-group form-group-vertical form-group-vertical-responsive col-md-3">
                <div style="flex: 1">
                  <%= addr.select :country, [['United Kingdom', 'United Kingdom'],['United States', 'United States']], { prompt: 'Select Country' }, class: 'form-control' %>
                </div>
              </div>
            </div>
            <div class="form-group form-group-vertical form-group-vertical-responsive mb-lg-0">
              <%= addr.label :phone_number, 'Business Representative Phone Number:' %>
              <div style="flex: 1">
                <%= addr.text_field :phone_number, placeholder: '+13443453123', class: 'form-control' %>
              </div>
            </div>
          <% end %>
          <!-- Seller Fields -->
          <div class="form-group form-group-vertical form-group-vertical-responsive">
            <%= form.label :subscription_type, 'Subscription Type:' %>
            <div style="flex: 1">
              <%= form.select(:subscription_type, Seller.subscription_types.keys.to_a, {:include_blank => "Select"}, {:class => "form-control"} ) %>
            </div>
          </div>
          <div class="text-right mt-3 mb-3">
            <%= form.button :submit, 'Save', class: 'btn btn-radius px-4 btn-primary' %>
          </div>
        <% end %>
        <div class="mt-4 mb-3 minume">
          <%= link_to "Cancel", admin_sellers_path, class: "btn btn-radius px-4 btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
