<div class="add-new-seller">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <%= simple_form_for @seller, url: url do |form| %>
          <% if form.object.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-error">
                The form contains <%= pluralize(form.object.errors.count, "error") %>.
              </div>
              <ul>
                <% form.object.errors.full_messages.each do |msg| %>
                  <li style="border: 1px solid red;">* <%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <!-- Seller Email -->
          <h5 class="mt-4 mb-4">User</h5>
          <div class="form-group form-group-vertical form-group-vertical-responsive">
            <%= form.label :email %>
            <%= form.text_field :email, placeholder: 'john.smith@example.co.uk', required: true, class: 'form-control' %>
          </div>
          <!-- Business Information Section / Company Details -->
          <h5 class="mt-4 mb-4">Business Information</h5>
          <%= form.simple_fields_for :company_detail do |cd| %>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= cd.label :name, 'Company Name' %>
              <%= cd.text_field :name, placeholder: 'JohnStons-Gymnasium', required: true, class: 'form-control' %>
            </div>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= cd.label :country, 'Country' %>
              <%= cd.text_field :country, placeholder: 'United Kingdom', required: true, class: 'form-control' %>
            </div>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= cd.label :legal_business_name, 'Legal Business Name' %>
              <%= cd.text_field :legal_business_name, placeholder: 'JohnStons Gymnasium Ltd.', required: true, class: 'form-control' %>
            </div>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= cd.label :companies_house_registration_number, 'Companies House Registration Number' %>
              <%= cd.text_field :companies_house_registration_number, placeholder: '0123456789', required: true, class: 'form-control' %>
            </div>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= cd.label :doing_business_as, 'Doing Business As' %>
              <%= cd.text_field :doing_business_as, placeholder: 'JohnStons Gym', required: true, class: 'form-control' %>
            </div>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= cd.label :website_url, 'Website URL' %>
              <%= cd.text_field :website_url, placeholder: 'www.johnstons-Gymnasium.co.uk', required: true, class: 'form-control' %>
            </div>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= cd.label :amazon_url, 'Amazon URL' %>
              <%= cd.text_field :amazon_url, placeholder: 'www.amazon.com/jgstore', required: true, class: 'form-control' %>
            </div>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= cd.label :ebay_url, 'Ebay URL' %>
              <%= cd.text_field :ebay_url, placeholder: 'www.ebaytores.com/jgstore', required: true, class: 'form-control' %>
            </div>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= cd.label :vat_number, 'VAT Number' %>
              <%= cd.text_field :vat_number, placeholder: '1234567890', required: true, class: 'form-control' %>
            </div>
          <% end %>
          <!-- Registered Business Address / Address with type business_address -->
          <%= form.simple_fields_for :addresses, (@seller.addresses.build(address_type: 'business_address')) do |addr| %>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-group-vertical form-group-vertical-responsive">
                  <label for="">Registerd Business Address:</label>
                  <%= addr.hidden_field :address_type, value: Address.address_types.keys[Address.address_types["business_address"]], class: 'form-control' %>
                  <%= addr.text_field :address_line_1, placeholder: 'Address Line 1', required: true, class: 'form-control' %>
                </div>
              </div>
              <div class="form-group form-group-vertical form-group-vertical-responsive col-md-3">
                <%= addr.text_field :address_line_2, placeholder: 'Address Line 2', required: true, class: 'form-control' %>
              </div>
              <div class="form-group form-group-vertical form-group-vertical-responsive col-md-3">
                <%= addr.text_field :city, placeholder: 'City', required: true, class: 'form-control' %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-group-vertical form-group-vertical-responsive">
                  <label for=""></label>
                  <%= addr.text_field :county, placeholder: 'County', required: true, class: 'form-control' %>
                </div>
              </div>
              <div class="form-group form-group-vertical form-group-vertical-responsive col-md-3">
                <%= addr.text_field :postal_code, placeholder: 'Postal Code', required: true, class: 'form-control' %>
              </div>
              <div class="form-group form-group-vertical form-group-vertical-responsive col-md-3">
                <%= addr.text_field :country, placeholder: 'Country', required: true, class: 'form-control' %>
              </div>
            </div>
          <% end %>
          <!-- Business Representative -->
          <h5 class="mt-4 mb-4">Business Representative</h5>
          <%= form.simple_fields_for :business_representative do |br| %>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= br.label :full_legal_name, 'Full Legal Name' %>
              <%= br.text_field :full_legal_name, placeholder: 'John Paul Smith', required: true, class: 'form-control' %>
            </div>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= br.label :email, 'Business Representative Email Address' %>
              <%= br.text_field :email, placeholder: 'john.smith@example.co.uk', required: true, class: 'form-control' %>
            </div>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= br.label :job_title, 'Job Title' %>
              <%= br.text_field :job_title, placeholder: 'Director', required: true, class: 'form-control' %>
            </div>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= br.label :date_of_birth, 'Date of Birth' %>
              <%= br.text_field :date_of_birth, as: :date, placeholder: '0123456789', required: true, class: 'form-control' %>
            </div>
            <div class="form-group form-group-vertical form-group-vertical-responsive">
              <%= br.label :contact_number, 'Business Representative Phone Number' %>
              <%= br.text_field :contact_number, placeholder: '0123456789', required: true, class: 'form-control' %>
            </div>
          <% end %>
          <!-- Business Owner Address / Address with type business_representative_address -->
          <%= form.simple_fields_for :addresses, (@seller.addresses.build(address_type: 'business_representative_address')) do |addr| %>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-group-vertical form-group-vertical-responsive">
                  <label for="">Business Owner Address:</label>
                  <%= addr.hidden_field :address_type, value: Address.address_types.keys[Address.address_types["business_representative_address"]], class: 'form-control' %>
                  <%= addr.text_field :address_line_1, placeholder: 'Address Line 1', required: true, class: 'form-control' %>
                </div>
              </div>
              <div class="form-group form-group-vertical form-group-vertical-responsive col-md-3">
                <%= addr.text_field :address_line_2, placeholder: 'Address Line 2', required: true, class: 'form-control' %>
              </div>
              <div class="form-group form-group-vertical form-group-vertical-responsive col-md-3">
                <%= addr.text_field :city, placeholder: 'City', required: true, class: 'form-control' %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-group-vertical form-group-vertical-responsive">
                  <label for=""></label>
                  <%= addr.text_field :county, placeholder: 'County', required: true, class: 'form-control' %>
                </div>
              </div>
              <div class="form-group form-group-vertical form-group-vertical-responsive col-md-3">
                <%= addr.text_field :postal_code, placeholder: 'Postal Code', required: true, class: 'form-control' %>
              </div>
              <div class="form-group form-group-vertical form-group-vertical-responsive col-md-3">
                <%= addr.text_field :country, placeholder: 'Country', required: true, class: 'form-control' %>
              </div>
            </div>
          <% end %>
          <!-- Seller Fields -->
          <div class="form-group form-group-vertical form-group-vertical-responsive">
            <%= form.label :subscription_type, 'Subscription Type' %>
            <%= form.select(:subscription_type, Seller.subscription_types.keys.to_a, {:include_blank => "Select"}, {:class => "form-control"} ) %>
          </div>
          <div class="text-right mt-3 mb-3">
            <%= form.button :submit, 'Save', class: 'btn btn-radius px-4 btn-primary' %>
          </div>
        <% end %>
        <div class="mt-4 mb-3">
          <%= link_to "Cancel", admin_sellers_path, class: "btn btn-link" %>
        </div>
      </div>
    </div>
  </div>
</div>
