<% orders.each do |order| %>
  <% order_detail = order.order_detail %>
  <% order_line_items = order.line_items %>
  <tr>
    <td>
      <label class="checkbox-blk">
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </td>
    <td>
      <%= link_to order.id, admin_order_path(order) %>
    </td>
    <td>
      <%= order_detail.name %>
    </td>
    <td>
      Shop Name
    </td>
    <td>
      <%= "£#{order.sub_total}" %>
    </td>
    <td class="text-center">
      <%= order_line_items.count %>
    </td>
    <td class="text-center">
      <a href="" class="icon-manage-Yavolo red-text font-20px decoration-none"></a>
    </td>
    <td>Royal Mail</td>
    <td><a href=""><u>#75757757</u></a></td>
    <td>Pending</td>
    <td class="text-center">
      <div class="">
        <%= link_to 'View', admin_order_path(order), class: 'btn btn-sm btn-radius px-4 btn-secondary mb-1' %>
      </div>
    </td>
  </tr>
<% end %>
