<% orders.each do |order| %>
  <% order_detail = order.order_detail %>
  <% order_line_items = order.line_items %>
  <tr class="order-table-row" id="order-id-<%= order.id %>">
    <td>
      <div class="multiple-orders">
        <label class="checkbox-blk">
          <input type="checkbox" name="order_ids[]" class="order_ids" value="<%= order.id %>">
          <span class="checkmark"></span>
        </label>
      </div>
    </td>
    <td>
      <%= link_to order.order_number.present? ? order_number_format(order.order_number) : "", admin_order_path(order) %>
    </td>
    <td>
      <%= get_full_name(order_detail) if order_detail %>
    </td>
    <td>
      <%= order_seller_name(order_line_items) %>
    </td>
    <td>
      <%= get_price_in_pounds(order.sub_total? ? order.sub_total : 0) %>
    </td>
    <td class="text-center">
      <%= order_line_items.count %>
    </td>
    <td class="text-center">
      <% if order_yavolo_bundle_exist?(order) %>
        <a href="javascript:void(0);" class="icon-manage-Yavolo red-text font-20px decoration-none"></a>
      <% end %>
    </td>
    <td>Royal Mail</td>
    <td><a href=""><u>75757757</u></a></td>
    <td><%= order.order_type&.titleize %></td>
    <td class="text-center">
      <div class="">
        <%= link_to 'View', admin_order_path(order), class: 'btn btn-sm btn-radius px-4 btn-secondary mb-1' %>
      </div>
    </td>
  </tr>
<% end %>
