<section class="view-order pt-4">
  <div class="container-fluid">
    <h3 class="mt-4 mb-3">Order Details</h3>
    <div class="row">
      <div class="col-lg-6">
        <div class="yo-white-card box-border">
          <p><strong>Order Number:</strong> <%= @order&.id %></p>
          <p><strong>Order:</strong> <%= date_format_UK(@order&.created_at) %></p>
          <p><strong>Estimated Delivery:</strong> 15-17 June 2021</p>
          <p><strong>Tracking:</strong> No Tracking</p>
          <p><strong>Courier:</strong> Royal Mail</p>
          <p><strong>Mail Class:</strong> 2nd Class</p>
          <p><strong>VAT Number:</strong> 1234567890</p>
          <p><strong>Paid Via:</strong> Paid By</p>
        </div>
      </div>
      <div class="col-lg-6 d-flex">
        <div class="yo-white-card box-border search-field-flex">
          <div class="row">
            <div class="col-lg-6 mb-2">
              <h6 class="mb-3">Shipping Address</h6>
              <ul>
                <li>Jhon Smith</li>
                <li>Apartment: <%= @order_shipping_address&.appartment %></li>
                <li>Address Line 1: <%= @order_shipping_address&.address_line_1 %></li>
                <li>Address Line 2: <%= @order_shipping_address&.address_line_2 %></li>
                <li>City: <%= @order_shipping_address&.city %></li>
                <li>County: <%= @order_shipping_address&.county %></li>
                <li>State: <%= @order_shipping_address&.state %></li>
                <li>Country: <%= @order_shipping_address&.country %></li>
                <li>Postal code: <%= @order_shipping_address&.postal_code %></li>
                <li>Phone number: <%= @order_shipping_address&.phone_number %></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <h6 class="mb-3">Billing Address</h6>
              <ul>
                <li>Jhon Smith</li>
                <li>Apartment: <%= @order_billing_address&.appartment %></li>
                <li>Address Line 1: <%= @order_billing_address&.address_line_1 %></li>
                <li>Address Line 2: <%= @order_billing_address&.address_line_2 %></li>
                <li>City: <%= @order_billing_address&.city %></li>
                <li>County: <%= @order_billing_address&.county %></li>
                <li>State: <%= @order_billing_address&.state %></li>
                <li>Country: <%= @order_billing_address&.country %></li>
                <li>Postal code: <%= @order_billing_address&.postal_code %></li>
                <li>Phone number: <%= @order_billing_address&.phone_number %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="Yavolo-table">
          <table class="table m-0">
            <thead class="">
            <tr>
              <th>
                <%= @order_line_items&.count %> item(s)
              </th>
              <th>Seller</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Postage</th>
              <th>Tax</th>
              <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <% @order_line_items&.each do |order_line_item| %>
              <tr>
                <td>
                  <span><u><%= order_line_item&.product&.title %></u></span>
                </td>
                <td>
                  <span><u>Seller Shop Name</u></span>
                </td>
                <td>
                  1
                </td>
                <td>
                  £<%= order_line_item&.product&.price %>
                </td>
                <td>
                  £0.00
                </td>
                <td>
                  £0.00
                </td>
                <td>
                  £229.99
                </td>
              </tr>
            <% end %>
            <tr>
              <td colspan="3">
                <p class="font-14px mb-0"><strong>Total</strong></p>
              </td>
              <td>
                <p class="font-14px mb-0"><strong>£1,574.95</strong></p>
              </td>
              <td>
                <p class="font-14px mb-0"><strong>£0.00</strong></p>
              </td>
              <td>
                <p class="font-14px mb-0"><strong>£0.00</strong></p>
              </td>
              <td>
                <p class="font-14px mb-0"><strong>£1,574.95</strong></p>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
