<div class="container-fluid">
  <div class="d-flex align-items-center mb-2 justify-content-between mt-3 flex-wrap">
    <div class="d-flex align-items-center">
      <div class="dropdown-filter-field active my-1 dropdown-filter-custom">
        <div class="dropdown">
          <a class="btn btn-radius px-2 btn-primary current-search-filter" href="#" role="button"
             id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <%= set_filter_type_in_dropdown(params) %><i class="fa fa-angle-down ml-2" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu admin-orders-filters" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item <%= set_filter_active('Search All') %>" href="#">Search All<i class="fa fa-check" aria-hidden="true"></i></a>
            <a class="dropdown-item <%= set_filter_active('Product Title A-Z') %>" href="#">Product Title A-Z<i class="fa fa-check" aria-hidden="true"></i></a>
            <a class="dropdown-item <%= set_filter_active('Product Title Z-A') %>" href="#">Product Title Z-A<i class="fa fa-check" aria-hidden="true"></i></a>
            <a class="dropdown-item <%= set_filter_active('Order Number') %>" href="#">Order Number<i class="fa fa-check" aria-hidden="true"></i></a>
            <a class="dropdown-item <%= set_filter_active('Tracking Number') %>" href="#">Tracking Number<i class="fa fa-check" aria-hidden="true"></i></a>
            <a class="dropdown-item <%= set_filter_active('Seller Name') %>" href="#">Seller Name<i class="fa fa-check" aria-hidden="true"></i></a>
            <a class="dropdown-item <%= set_filter_active('Customer Name') %>" href="#">Customer Name<i class="fa fa-check" aria-hidden="true"></i></a>
            <a class="dropdown-item <%= set_filter_active('SKU') %>" href="#"><i class="fa fa-check" aria-hidden="true"></i>SKU</a>
          </div>
        </div>

        <div class="search-field mb-0 ">
          <%= search_form_for @q, url: admin_orders_path do |f| %>
            <% if params[:q].present? && params[:q].keys.include?('s') %>
              <%= hidden_field_tag 'q[s]', params[:q][:s] %>
            <% end %>
            <%= f.search_field "search", { class: 'input-btn-sm', placeholder: 'Search Orders', value: "" } %>
            <i class="fa fa-search" aria-hidden="true"></i>
          <% end %>
        </div>

      </div>
      <div class="dropdown-filter-field dropdown-filter-custom active mb-8 my-1 ml-2 dropdown-filter-border">
        <div class="dropdown">
          <a href="#" class="btn btn-radius btn-sm px-3 btn-primary my-0 btn-link-dropdown-1 d-inline-flex align-items-center" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions <i class="fa fa-angle-down ml-3" aria-hidden="true"></i></a>
          <div class="dropdown-menu order-bulk-actions" aria-labelledby="dropdownMenuLink">
            <a data-bulkaction="view" class="dropdown-item" href="#">View</a>
            <a class="dropdown-item" href="#">Cancel</a>
            <a class="dropdown-item" href="#">Refund</a>
            <a class="dropdown-item" href="#">Update Tracking</a>
          </div>
        </div>
      </div>
      <div class="dropdown-filter-field dropdown-filter-custom active mb-8 my-1 ml-2 dropdown-filter-border">
        <div class="dropdown">
          <a href="#" class="btn btn-radius btn-sm px-3 btn-primary my-0 btn-link-dropdown-1 d-inline-flex align-items-center" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Result Per Page: <%= params[:per_page].present? ? params[:per_page] : '15' %><i class="fa fa-angle-down ml-3" aria-hidden="true"></i></a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= form_tag(admin_orders_path, method: :get) do %>
              <%= link_to (admin_orders_path(per_page: '15'))  do %>
              <span class="<%= 'fa fa-check' if params[:per_page] == '15' %>" aria-hidden="true"></span>
              Result Per Page: 15
              <% end %>
              <%= link_to (admin_orders_path(per_page: '30'))  do %>
              <span class="<%= 'fa fa-check' if params[:per_page] == '30' %>" aria-hidden="true"></span>
              Result Per Page: 30
              <% end %>
              <%= link_to (admin_orders_path(per_page: '60'))  do %>
              <span class="<%= 'fa fa-check' if params[:per_page] == '60' %>" aria-hidden="true"></span>
              Result Per Page: 60
              <% end %>
              <%= link_to (admin_orders_path(per_page: '90'))  do %>
              <span class="<%= 'fa fa-check' if params[:per_page] == '90' %>" aria-hidden="true"></span>
              Result Per Page: 90
              <% end %>
              <%= link_to (admin_orders_path(per_page: '180'))  do %>
              <span class="<%= 'fa fa-check' if params[:per_page] == '180' %>" aria-hidden="true"></span>
              Result Per Page: 180
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="dropdown-filter-field dropdown-filter-custom active mb-8 my-1 ml-2 dropdown-filter-border">
        <div class="dropdown">
          <a href="#" class="btn btn-radius btn-sm px-3 btn-primary btn-link-dropdown-1 align-items-center" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= set_order_sort_by_in_dropdown(params) %>
            <i class="fa fa-angle-down ml-3" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <% {q: params[:q].present? ? (params.require(:q).merge(s: 'price').permit!) : {s: 'price'} } %>
            <%= link_to '#', class: 'dropdown-item sortby-orders', data: {sortby: 'price'} do %>
              Price
              <% if params.dig(:q, :s).present? && params[:q][:s]=='price' %>
                <i class="fa fa-check" aria-hidden="true"></i>
              <% end %>
            <% end %>
            <a class="dropdown-item" href="#">Yavolo </a>
            <a class="dropdown-item" href="#">Carrier </a>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex mb-3">
      <a href="#" class="btn btn-sm btn-radius px-4 btn-primary mr-1">Export CSV</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="mt-3">
        <%= render 'shared/result_of_pages', total_count: Order.count, count: @orders.count %>
      </div>
      <h3 class="mt-4 mb-3">All Orders</h3>
      <div class="Yavolo-table order-listing-table mt-4">
        <table class="table">
          <thead>
            <tr>
              <th>
                <label class="checkbox-blk">
                  <input type="checkbox" class="order-mark-bulk-update">
                  <span class="checkmark checkmark-white"></span>
                </label>
              </th>
              <th>Order Number</th>
              <th>Customer</th>
              <th>Seller</th>
              <th>Total</th>
              <th class="text-center">Items(s)</th>
              <th class="text-center">Yavolo</th>
              <th>Carrier</th>
              <th>tracking NO.</th>
              <th>status</th>
              <th class="text-center" width="10%">Action</th>
            </tr>
          </thead>
          <tbody>
            <%= render 'orders_list', orders: @orders %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div class="pager-middle text-center d-flex justify-content-center mb-4">
            <div class="text-center"><%= paginate @orders %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'simple_confirm_modal', confirm_statement: 'Are you sure to perform this bulk action?', id: 'yes-perform-action',path: '#', data: nil, modal_id: 'admin-orders-confirm' %>
