<div>
  <div class="d-flex align-items-center mb-2 justify-content-between mt-3 flex-wrap">
    <div class="d-flex align-items-center flex-wrap">
      <div class="dropdown-filter-field active my-1 dropdown-filter-custom dropdown-filter-position mr-2">
        <div class="dropdown">
          <a class="btn btn-radius btn-sm px-2 btn-primary current-search-filter min-width-140" href="#" role="button"
             id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= set_filter_type_in_dropdown(params) %><i class="fa fa-angle-down ml-2" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu seller-products-filters cls-admin-orders-filters" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item <%= set_filter_active('Search All') %>" href="#">Search All<i class="fa fa-check" aria-hidden="true"></i></a>
<!--            <a class="dropdown-item <%#= set_filter_active('Product Title A-Z') %>" href="#">Product Title A-Z<i class="fa fa-check" aria-hidden="true"></i></a>-->
<!--            <a class="dropdown-item <%#= set_filter_active('Product Title Z-A') %>" href="#">Product Title Z-A<i class="fa fa-check" aria-hidden="true"></i></a>-->
            <a class="dropdown-item <%= set_filter_active('Order Number') %>" href="#">Order Number<i class="fa fa-check" aria-hidden="true"></i></a>
            <a class="dropdown-item <%= set_filter_active('Tracking Number') %>" href="#">Tracking Number<i class="fa fa-check" aria-hidden="true"></i></a>
            <a class="dropdown-item <%= set_filter_active('Seller Name') %>" href="#">Seller Name<i class="fa fa-check" aria-hidden="true"></i></a>
            <a class="dropdown-item <%= set_filter_active('Customer Name') %>" href="#">Customer Name<i class="fa fa-check" aria-hidden="true"></i></a>
            <a class="dropdown-item <%= set_filter_active('SKU') %>" href="#"><i class="fa fa-check" aria-hidden="true"></i>SKU</a>
          </div>
        </div>

        <div class="search-field mb-0 ">
          <%= search_form_for @q, url: admin_orders_path do |f| %>
            <input type="hidden" name="filter_type" id="order-filter-type" value="<%= params[:filter_type] %>">
            <input type="hidden" name="csfname" id="csfn" value="<%= admin_order_current_search_field_name %>">
            <% if params[:q].present? && params[:q].keys.include?('s') %>
              <%= hidden_field_tag 'q[s]', params[:q][:s] %>
            <% end %>
            <% if params[:per_page].present? %>
              <%= hidden_field_tag :per_page, params[:per_page] %>
            <% end %>
            <%= f.search_field admin_order_current_search_field_name.to_sym, { class: 'input-btn-sm admin-order-search-field min-width-200', placeholder: 'Search order', value: "#{admin_order_search_field_query_param_val(params)}" } %>
            <% if params.dig(:q, admin_order_current_search_field_name.to_sym).present? %>
              <%= link_to '#', class: 'btn-sm rm-orders-search cross-btn-position' do %>
                <i class="icon-cross" aria-hidden="true"></i>
              <% end %>
            <% else %>
              <i class="fa fa-search" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="dropdown-filter-field dropdown-filter-custom active mr-2 my-1 dropdown-filter-border">
        <div class="dropdown">
          <a href="#" class="btn btn-radius btn-sm px-3 btn-primary my-0 btn-link-dropdown-1 d-inline-flex align-items-center" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Results per page: <%= params[:per_page].present? ? "#{params[:per_page]}" : '15' %><i class="fa fa-angle-down ml-3" aria-hidden="true"></i></a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to "javascript:void(0);", data: { per_page: 15 }, class: 'perpage-option' do %>
            <span class="<%= 'fa fa-check' if !params[:per_page].present? || params[:per_page] == '15' %>" aria-hidden="true"></span>
            Results per page: 15
            <% end %>
            <%= link_to "javascript:void(0);", data: { per_page: 30 }, class: 'perpage-option' do %>
              <span class="<%= 'fa fa-check' if params[:per_page] == '30' %>" aria-hidden="true"></span>
              Results per page: 30
            <% end %>
            <%= link_to "javascript:void(0);", data: { per_page: 60 }, class: 'perpage-option' do %>
              <span class="<%= 'fa fa-check' if params[:per_page] == '60' %>" aria-hidden="true"></span>
              Results per page: 60
            <% end %>
            <%= link_to "javascript:void(0);", data: { per_page: 90 }, class: 'perpage-option' do %>
              <span class="<%= 'fa fa-check' if params[:per_page] == '90' %>" aria-hidden="true"></span>
              Results per page: 90
            <% end %>
            <%= link_to "javascript:void(0);", data: { per_page: 180 }, class: 'perpage-option' do %>
              <span class="<%= 'fa fa-check' if params[:per_page] == '180' %>" aria-hidden="true"></span>
              Results per page: 180
            <% end %>
          </div>
        </div>
      </div>
      <div class="dropdown-filter-field dropdown-filter-custom active my-1 dropdown-filter-border ">
        <div class="dropdown">
          <a href="#" class="btn btn-radius btn-sm px-3 btn-primary btn-link-dropdown-1 align-items-center" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= set_order_sort_by_in_dropdown(params) %>
            <i class="fa fa-angle-down ml-3" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to '#', class: 'dropdown-item sortby-orders', data: { sortby: 'price' } do %>
              Price
                <span class="<%= 'fa fa-check' if params.dig(:q, :s).present? && params[:q][:s] == 'price' %>" aria-hidden="true"></span>
            <% end %>
            <%= link_to '#', class: 'dropdown-item sortby-orders', data: { sortby: 'yavolo' } do %>
              Yavolo
                <span class="<%= 'fa fa-check' if params.dig(:q, :s).present? && params[:q][:s] == 'yavolo' %>" aria-hidden="true"></span>
            <% end %>
            <a class="dropdown-item" href="#">Carrier </a>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <a href="" class="btn btn-sm btn-radius px-4 btn-primary admin-orders-export">Export CSV</a>
    </div>
  </div>
  <div class="filter-by-tags d-flex justify-content-start mt-2 mb-2">
    <%= print_orders_filter_by_sort_tags.to_s.html_safe %>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="pageresut-text">
        <%= render 'shared/result_of_pages', total_count: @total_count, count: @orders.count %>
      </div>
      <h3 class="mt-4 mb-3">Orders</h3>
      <div class="Yavolo-table order-listing-table">
        <table class="table">
          <thead>
          <tr>
            <th>
              <label class="checkbox-blk">
                <input type="checkbox" class="order-mark-bulk-update">
                <span class="checkmark checkmark-white"></span>
              </label>
            </th>
            <th>Order Number</th>
            <th>Customer</th>
            <th>Seller</th>
            <th>Total</th>
            <th class="text-center">Item<span class="th-lowercase">(s)</span></th>
            <th class="text-center">Yavolo</th>
            <th>Carrier</th>
            <th>tracking No.</th>
            <th>status</th>
            <th class="text-center" width="130px">Action</th>
          </tr>
          </thead>
          <tbody>
          <%= render 'orders_list', orders: @orders %>
          </tbody>
        </table>
        <% if @orders.count == 0 %>
          <p class="text-center my-5">No Record Found</p>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div class="pager-middle text-center d-flex justify-content-center mb-4">
            <div class="text-center"><%= paginate @orders %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
