<!DOCTYPE html>
<html>
  <head>
    <title>Admin-Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <div class="dashboard-page">
      <%= render "shared/admin_sidebar" %>
      <div class="rightside">
        <div class="main-page container-fluid">
          <div class="admin-dashboard">
            <%= render 'shared/flash_messages' %>
            <%= render "shared/admin_header" %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= javascript_pack_tag 'tagsinput' %>
</body>
</html>
