<div class="tab-pane fade" id="Billing" role="tabpanel" aria-labelledby="Billing-tab">
  <h5 class="font-weight-bold">Billing</h5>
  <div id="billing-listing-div">
    <section class="billing">
      <div class="Yavolo-table">
        <table class="table">
          <thead>
            <tr>
              <th>invoice #</th>
              <th>total</th>
              <th>description</th>
              <th class="text-center">Date Generated</th>
              <th class="text-center">due date</th>
              <th class="text-center">status</th>
              <th class="text-center">Change status</th>
            </tr>
          </thead>
          <tbody>
            <% @invoices.each.each.with_index do |invoice,index|%>
              <tr>
                <td>YAV<%= 100 + index  %></td>
                <td><%= invoice_total(invoice) %></td>
                <td><%= invoice&.description  %></td>
                <td class="text-center"><%= invoice&.date_generated&.strftime('%d/%m/%Y') %></td>
                <td class="text-center"><%= invoice&.due_date&.strftime('%d/%m/%Y') %></td>
                <td class="text-center"><%= invoice&.status.capitalize %></td>
                <td class="text-right"><select class="form-control w-100"><option></option><option></option></select></td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>
