<div class="tab-pane fade" id="Billing" role="tabpanel" aria-labelledby="Billing-tab">
  <h5 class="font-weight-bold">Billing</h5>
  <div id="billing-listing-div">
    <section class="billing">
      <div class="Yavolo-table">
        <table class="table">
          <thead>
            <tr>
              <th>invoice#</th>
              <th>total</th>
              <th>description</th>
              <th>Date Generated</th>
              <th>due date</th>
              <th>status</th>
            </tr>
          </thead>
          <tbody>
            <% @invoices.each do |invoice|%>
              <tr>
                <td><%=invoice&.invoice_id%></td>
                <td>£<%=number_with_precision(invoice.total * 0.01, precision: 2) if invoice&.total.present?%></td>
                <td><%=invoice&.description%></td>
                <td><%=invoice&.date_generated&.strftime('%d/%m/%y %T')%></td>
                <td><%=invoice&.due_date&.strftime('%d/%m/%y %T')%></td>
                <td><%=invoice&.status%></td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>