<!-- Business Information Section / Company Details -->
<h3>Business Information</h3>
  <%= form.simple_fields_for :company_detail do |cd| %>
    <%= cd.input :name, label: 'Company Name', required: true, placeholder: 'JohnStons-Gymnasium' %>
    <%= cd.input :country, label: 'Country', required: true, placeholder: 'United Kingdom' %>
    <%= cd.input :legal_business_name, label: 'Legal Business Name', required: true, placeholder: 'JohnStons Gymnasium Ltd.' %>
    <%= cd.input :companies_house_registration_number, label: 'Companies House Registration Number', required: true, placeholder: '0123456789' %>
    <%= cd.input :doing_business_as, label: 'Doing Business As', required: true, placeholder: 'JohnStons Gym' %>
    <%= cd.input :website_url, label: 'Website URL', required: true, placeholder: 'www.johnstons-Gymnasium.co.uk' %>
    <%= cd.input :amazon_url, label: 'Amazon URL', required: true, placeholder: 'www.amazon.com/jgstore'  %>
    <%= cd.input :ebay_url, label: 'Ebay URL', required: true, placeholder: 'www.ebaytores.com/jgstore' %>
    <%= cd.input :vat_number, label: 'VAT Number', required: true, placeholder: '1234567890' %>
  <% end %>