<div class="payment-method-inner ">
  <div id="seller-cards-list-show-admin">
    <h6 class="pt-3">Membership payment method</h6>
    <% if @seller.seller_payment_methods.present?%>
      <% if @seller.seller_payment_methods.count > 0 %>
        <% @seller.seller_payment_methods.each do |payment_method|%>
          
          <div class="Yavolo-table">
            <table class="table">
              <thead>
                <tr>
                  <th width="25%">Bank account number</th>
                  <th width="25%">Account holder name</th>
                  <th width="25%">Payment terms</th>
                  <th width="25%">System</th>
                </tr>
              </thead>	
              <tbody>
                <tr>
                  <td>Ending in <%= payment_method.last_digits %></td>
                  <td><%= seller_card_holder_detail(payment_method) %></td>
                  <td>Monthly</td>
                  <td>Stripe</td>
                </tr>
              </tbody>
            </table>
          </div>
          <a href="#" name="/admin/sellers/<%=payment_method.id%>/remove_seller_card?id=<%=payment_method.id%>" class="btn btn-sm btn-radius px-4 btn-primary mb-3 card-delete-by-admin">Remove</a>
          <%= render 'shared/simple_confirm_modal', confirm_statement: "Are you sure you want to remove the card ending in *#{payment_method.last_digits || ""}?", id: 'membership-card-remove-admin',path: '#', data: "", modal_id: 'membership-card-remove-confirm-admin' %>
          
          <%if payment_method.default_status == true %>
            <a href="#default" name="" class="btn btn-sm btn-radius px-4 btn-primary mb-3 disabled">Prefered payment method</a>
          <%end%>
          <h6 class="pt-3"></h6>
          <div class="Yavolo-table">
            <table class="table">
              <thead>
                <tr>
                  <th width="25%">Card number</th>
                  <th width="25%">Name on card</th>
                  <th width="25%">Payment terms</th>
                  <th width="25%">System</th>
                </tr>
              </thead>	
              <tbody>
                <tr>
                  <td>Ending in <%= payment_method.last_digits %></td>
                  <td><%= seller_card_holder_detail(payment_method) %></td>
                  <td>Monthly</td>
                  <td>Stripe</td>
                </tr>
              </tbody>
            </table>
          </div>
          <a href="#" name="/admin/sellers/<%=payment_method.id%>/remove_seller_card?id=<%=payment_method.id%>" class="btn btn-sm btn-radius px-4 btn-primary mb-3 card-delete-by-admin">Remove</a>
          <%= render 'shared/simple_confirm_modal', confirm_statement: "Are you sure you want to remove the card ending in *#{payment_method.last_digits || ""}?", id: 'membership-card-remove-admin',path: '#', data: "", modal_id: 'membership-card-remove-confirm-admin' %>
          
          <%if payment_method.default_status == true %>
            <a href="#default" name="" class="btn btn-sm btn-radius px-4 btn-primary mb-3 disabled">Set as prefered payment method</a>
          <%end%>
          <%= render 'shared/simple_confirm_modal', confirm_statement: 'Are you sure you want set this card as default? All future subscriptions will be charge from this card', id: 'membership-card-set-default',path: '#default', data: "", modal_id: 'membership-card-set-default-confirm' %>
        <%end%>
      <%end%>
    <%else%>
      <div class="payment-method-card yo-white-card box-border p-0">
        <p class="py-3 pl-3 mm-text"> No membership payment method attached by seller.</p>
      </div>
    <%end%>
  </div>
</div>
