<div class="payment-method-inner ">
  <div id="seller-cards-list-show-admin">
    <h6 class="pt-3">Membership payment methods</h6>
    <% if @seller.seller_payment_methods.present?%>
      <% if @seller.seller_payment_methods.count > 0 %>
        <% @seller.seller_payment_methods.each do |payment_method|%>
          <div class="payment-method-card yo-white-card box-border p-0">
            <table class="table m-0 subscription-table text-left">
              <tr>
                <td>
                  <p class="mb-1"><strong>Card number</strong> </p>
                  <p class="m-0">Ending in <%= payment_method.last_digits %></p>
                </td>
                <td>
                  <p class="mb-1"><strong>Name on card</strong> </p>
                  <p class="m-0"><%= payment_method.card_holder_name || payment_method.seller.first_name+ " " + payment_method.seller.last_name %></p>
                </td>
                <td>
                  <p class="mb-1"><strong>Payment terms</strong> </p>
                  <p class="m-0">Monthly</p>
                </td>
                <td>
                  <p class="mb-1"><strong>System</strong> </p>
                  <p class="m-0">Stripe</p>
                </td>
              </tr>
            </table>
          </div>
          <a href="#" name="/admin/sellers/<%=payment_method.id%>/remove_seller_card?id=<%=payment_method.id%>" class="btn btn-sm btn-radius px-4 btn-primary mb-3 card-delete-by-admin">Remove</a>
          <%= render 'shared/simple_confirm_modal', confirm_statement: 'Are you sure you want to remove this card?', id: 'membership-card-remove-admin',path: '#', data: "", modal_id: 'membership-card-remove-confirm-admin' %>
          
          <%if payment_method.default_status == true %>
            <a href="#default" name="" class="btn btn-sm btn-radius px-4 btn-primary mb-3 disabled">Prefered payment method</a>
          <%end%>
          <%= render 'shared/simple_confirm_modal', confirm_statement: 'Are you sure you want set this card as default? All future subscriptions will be charge from this card', id: 'membership-card-set-default',path: '#default', data: "", modal_id: 'membership-card-set-default-confirm' %>
        <%end%>
      <%end%>
    <%else%>
      <div class="payment-method-card yo-white-card box-border p-0">
        <p> No membership payment method attached by seller.</p>
      </div>
    <%end%>
  </div>
</div>