<div class="row">
  <div class="col-lg-12">
    <div class="all-products-header d-flex justify-content-between mt-3 flex-wrap">
      <div class="all-products-header-left d-flex mb-1">
        <div class="dropdown-filter-field active mb-0">
          <div class="dropdown">
            <a class="btn btn-sm btn-radius px-4 btn-primary seller-search-dropdown" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= set_filter_type_in_dropdown(params) %> <i class="fa fa-angle-down ml-4" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu" id="seller-serarch-by-toggle" aria-labelledby="dropdownMenuLink">
              <%= link_to 'Search All', (admin_sellers_path(search_by: 'search_all')), class: 'dropdown-item' %>
              <%= link_to 'Username', (admin_sellers_path(search_by: 'username')), class: 'dropdown-item' %>
              <%= link_to 'Email', (admin_sellers_path(search_by: 'email')), class: 'dropdown-item' %>
            </div>
          </div>
          <%
            if params[:q].present?
              field_name = params[:q].keys.first
            else
              field_name = "first_name_or_last_name_or_email_cont"
            end
          %>
          <div class="search-field mb-0">
            <%= search_form_for @q, url: admin_sellers_path do |f| %>
              <input type="hidden" name="filter_type" id="seller-filter-type" value="<%= params[:filter_type] %>">
              <%= f.search_field field_name.to_sym, { class: 'input-btn-sm seller-search-field', placeholder: 'Search Seller', value: "#{search_field_params(params)}" } %>
              <i class="fa fa-search" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
        <div class="dropdown dropdown-filter d-inline-flex">
          <a href="#" class="btn btn-sm btn-radius px-3 btn-link btn-link-dropdown d-inline-flex align-items-center" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down ml-3" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item multiple-update-sellers" href="#" id="approve-sellers">Approve <i class="fa fa-check" aria-hidden="true"></i></a>
            <a class="dropdown-item multiple-update-sellers" href="#" id="suspend-sellers">Suspend <i class="fa fa-check" aria-hidden="true"></i></a>
            <a class="dropdown-item multiple-update-sellers" href="#" id="delete-sellers">Delete <i class="fa fa-check" aria-hidden="true"></i></a>
            <a class="dropdown-item multiple-update-sellers" href="#" id="activate-sellers">Activate <i class="fa fa-check" aria-hidden="true"></i></a>
            <a class="dropdown-item multiple-update-sellers" href="#" id="send-password-reset-email-sellers">Send Password Reset Email<i class="fa fa-check" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="dropdown dropdown-filter  d-inline-flex">
          <a href="#" class="btn btn-sm btn-radius px-3 btn-link btn-link-dropdown d-inline-flex align-items-center" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Result Per Page <%= params[:per_page] %> <i class="fa fa-angle-down ml-3" aria-hidden="true"></i></a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to 'Result per page: 15', admin_sellers_path(per_page: 15), class: 'dropdown-item' %>
            <%= link_to 'Result per page: 30', admin_sellers_path(per_page: 30), class: 'dropdown-item' %>
            <%= link_to 'Result per page: 60', admin_sellers_path(per_page: 60), class: 'dropdown-item' %>
            <%= link_to 'Result per page: 90', admin_sellers_path(per_page: 90), class: 'dropdown-item' %>
            <%= link_to 'Result per page: 180', admin_sellers_path(per_page: 180), class: 'dropdown-item' %>
          </div>
        </div>
      </div>
      <div class="all-products-header-right d-flex justify-content-between mb-1">
        <a href="#" class="btn btn-radius px-4 btn-primary btn-sm mr-1">Upload CSV</a>
        <a href="#" class="btn btn-radius px-4 btn-primary btn-sm mr-1">Export CSV</a>
        <%= link_to 'Add new Seller', new_admin_seller_path, class: 'btn btn-radius px-4 btn-primary btn-sm' %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="mt-3">
      <p>Results <span>1 - <%= params[:per_page] %></span> of <span><%= Seller.count %></span></p>
    </div>
    <div class="Yavolo-table mt-4">
      <table class="table">
        <thead>
          <tr>
            <th>
              <label class="checkbox-blk">
                <input type="checkbox">
                <span class="checkmark checkmark-white"></span>
              </label>
            </th>
            <th>Username</th>
            <th>Email</th>
            <th>Seller Since</th>
            <th>Last sale</th>
            <th>Active Listings</th>
            <th>Lifetime Sales</th>
            <th>Account Status</th>
            <th>Account health</th>
            <th class="text-center" width="5%">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @sellers.each do |seller| %>
            <tr>
              <td>
                <div class="multiple-update-sellers">
                  <label class="checkbox-blk">
                    <input type="checkbox" id="<%= "select-#{seller.id}" %>" value="<%= seller.id %>">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </td>
              <td><%= seller.first_name %></td>
              <td><%=seller.email %></td>
              <td><%=seller.created_at %></td>
              <td>Show the last sale date</td>
              <td>Show the number of active listings</td>
              <td>Show the total sales</td>
              <td><%= seller.account_status %></td>
              <td>show the health status</td>
              <td class="text-center">
                <div class="all-seller-btn">
                  <%= link_to 'Approve', confirm_update_seller_admin_seller_path(seller, param_to_update: 'approve'), remote: true, class: 'btn btn-sm btn-radius px-4 btn-secondary mb-1' %>
                  <%= link_to 'Edit', admin_seller_path(seller), class: 'btn btn-sm btn-radius px-4 btn-secondary mb-1' %>
                  <%= link_to 'Suspend', confirm_update_seller_admin_seller_path(seller, param_to_update: 'suspend'), remote: true, class: 'btn btn-sm btn-radius px-4 btn-secondary mb-1' %>
                  <%= link_to 'Re Activate', confirm_update_seller_admin_seller_path(seller, param_to_update: 'activate'), remote: true, class: 'btn btn-sm btn-radius px-4 btn-secondary mb-1' %>
                  <a href="#" class="btn btn-sm btn-radius px-4 btn-secondary mb-1">Contact</a>
                  <a href="#" class="btn btn-sm btn-radius px-4 btn-danger">View Products</a>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="pager-middle text-center d-flex justify-content-center mb-4">
          <div class="text-center"><%= paginate @sellers %></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Delete Seller Confirmation Modal -->
<div class="modal fade" id="confirm-seller-actions-modal" tabindex="-1" role="dialog" aria-labelledby="deliveryOptionFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="error-message"></div>
        <div id="seller-actions"></div>
      </div>
    </div>
  </div>
</div>
