<div class="row">
  <div class="col-lg-12">
    <div class="all-products-header d-flex justify-content-between mt-3 flex-wrap align-items-center">
      <div class="all-products-header-left d-flex mb-1">
        <div class="dropdown-filter-field active mb-0">
          <div class="dropdown">
            <a class="btn btn-radius btn-sm px-3 btn-primary seller-search-dropdown" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= set_filter_type_in_dropdown(params) %> <i class="fa fa-angle-down ml-4" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu" id="seller-serarch-by-toggle" aria-labelledby="dropdownMenuLink">
              <%= link_to 'Search All', (admin_sellers_path(search_by: 'search_all')), class: 'dropdown-item' %>
              <%= link_to 'Username', (admin_sellers_path(search_by: 'username')), class: 'dropdown-item' %>
              <%= link_to 'Email', (admin_sellers_path(search_by: 'email')), class: 'dropdown-item' %>
            </div>
          </div>
          <%
            if params[:q].present?
              field_name = params[:q].keys.first
            else
              field_name = "first_name_or_last_name_or_email_cont"
            end
          %>
          <div class="search-field mb-0">
            <%= search_form_for @q, url: admin_sellers_path do |f| %>
              <input type="hidden" name="filter_type" id="seller-filter-type" value="<%= params[:filter_type] %>">
              <%= f.search_field field_name.to_sym, { class: 'input-btn-sm seller-search-field', placeholder: 'Search Seller', value: "#{search_field_params(params)}" } %>
              <i class="fa fa-search" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
        <div class="dropdown dropdown-filter d-inline-flex nowrap">
          <a href="#" class="btn btn-sm btn-radius px-3 btn-link btn-link-dropdown d-inline-flex align-items-center" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down ml-3" aria-hidden="true"></i>
          </a>
          <% statuses = multi_actions_to_show %>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <% statuses.each do |status_key, status_value| %>
              <%= link_to status_key.humanize, (confirm_multi_update_admin_sellers_path(param_to_update: "#{status_key}")), remote: true, class: 'dropdown-item' %>
            <% end %>
            <%= link_to 'Delete', (confirm_multi_update_admin_sellers_path(param_to_update: "delete")), remote: true,class: 'dropdown-item' %>
            <a class="dropdown-item multiple-update-sellers" href="#" id="send-password-reset-email-sellers">Send Password Reset Email</a>
          </div>
        </div>
        <% if Seller.count > 14 %>
          <div class="dropdown dropdown-filter  d-inline-flex" id="pages-id">
            <a href="#" class="btn btn-sm btn-radius px-3 btn-link btn-link-dropdown d-inline-flex align-items-center" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Result Per Page <%= params[:per_page] %><i class="fa fa-angle-down ml-3" aria-hidden="true"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= form_tag(admin_filter_groups_path, method: :get) do %>
                <%= link_to (admin_sellers_path(per_page: '15'))  do %>
                  <span class="<%= 'fa fa-check' if params[:per_page] == '15' %>" aria-hidden="true"></span>
                  Result per page 15
                <% end %>
                <% if Seller.count >= 30 %>
                  <%= link_to (admin_sellers_path(per_page: '30'))  do %>
                    <span class="<%= 'fa fa-check' if params[:per_page] == '30' %>" aria-hidden="true"></span>
                    Result per page 30
                  <% end %>
                <% elsif Seller.count >= 60 %>
                  <%= link_to (admin_sellers_path(per_page: '60'))  do %>
                  <span class="<%= 'fa fa-check' if params[:per_page] == '60' %>" aria-hidden="true"></span>
                  Result per page 60
                  <% end %>
                <% elsif Seller.count >= 90 %>
                  <%= link_to (admin_sellers_path(per_page: '90'))  do %>
                    <span class="<%= 'fa fa-check' if params[:per_page] == '90' %>" aria-hidden="true"></span>
                    Result per page 90
                  <% end %>
                <% elsif Seller.count >= 180 %>
                  <%= link_to (admin_sellers_path(per_page: '180'))  do %>
                    <span class="<%= 'fa fa-check' if params[:per_page] == '180' %>" aria-hidden="true"></span>
                    Result per page 180
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>
      <div class="all-products-header-right d-flex justify-content-between mb-1">
        <a href="#" class="btn btn-radius px-4 btn-primary btn-sm mr-1 upload-sellers-csv-btn">Upload CSV</a>
        <%= link_to 'Export CSV', admin_export_sellers_path(format: "csv"), class: 'btn btn-radius px-4 btn-primary btn-sm mr-1' %>
        <%= link_to 'Add New Seller', new_admin_seller_path, class: 'btn btn-radius px-4 btn-primary btn-sm' %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="mt-3" id="total-sellers-per-page">
      <%= render 'admin/sellers/total_sellers_per_page' %>
    </div>
    <h3 class="mt-4 mb-3">All Sellers</h3>
    <div class="Yavolo-table mt-4">
      <table class="table">
        <thead>
          <tr>
            <th>
              <label class="checkbox-blk sellers-checkbox-container">
                <input type="checkbox" id="check-all-checkboxes">
                <span class="checkmark checkmark-white"></span>
              </label>
            </th>
            <th>Username</th>
            <th>Email</th>
            <th>Seller Since</th>
            <th>Last sale</th>
            <th>Active Listings</th>
            <th>Lifetime Sales</th>
            <th>Account Status</th>
            <th>Account health</th>
            <th>API Creation</th>
            <th class="text-center" width="5%">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @sellers.each do |seller| %>
            <tr id="seller-row-<%= seller.id %>">
              <td>
                <div class="multiple-update-sellers">
                  <label class="checkbox-blk">
                    <input type="checkbox" id="<%= "select-#{seller.id}" %>" value="<%= seller.id %>">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </td>
              <td><%= seller.try(:first_name).to_s + " " + seller.try(:last_name).to_s  %></td>
              <td><span class="email-in-table"><%=seller.email %></span></td>
              <td><%=seller.created_at.strftime("%d/%m/%Y") %></td>
              <td>Show the last sale date</td>
              <td>Show the number of active listings</td>
              <td>Show the total sales</td>
              <td class="account-status"><%= seller.account_status.humanize %></td>
              <td>show the health status</td>
              <td id="<%= seller.id %>-eligibility-status" class="">
                <%= seller.eligible_to_create_api == true ? "Enabled" : "Disabled" %>
              </td>
              <td class="text-center actions">
                <div class="all-seller-btn">
                  <div id="seller-action-btns">
                    <%= render 'admin/sellers/seller_actions', seller: seller %>
                  </div>
                  <%= link_to 'Edit', admin_seller_path(seller), class: 'btn btn-sm btn-radius px-4 btn-secondary mb-1' %>
                  <%= link_to "Delete", confirm_update_seller_admin_seller_path(seller, param_to_update: "delete"), remote: true, class: 'btn btn-sm btn-radius px-4 btn-secondary mb-1 current-action', id: "#{seller.id}-delete" %>
                  <a href="#" class="btn btn-sm btn-radius px-4 btn-secondary mb-1">Contact</a>
                  <a href="#" class="btn btn-sm btn-radius px-4 btn-danger mb-1">View Products</a>
                  <% text = seller.eligible_to_create_api == true ? "Disable API creation" : "Enable API creation" %>
                  <%= link_to "#{text}", confirm_change_seller_api_eligibility_admin_seller_path(seller, param_to_update: "eligibility"), remote: true, class: 'btn btn-sm btn-radius px-4 btn-secondary mb-1 current-action', id: "#{seller.id}-eligibility" %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="pager-middle text-center d-flex justify-content-center mb-4">
          <div class="text-center"><%= paginate @sellers %></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<%= render 'admin/sellers/partials/upload_csv_popup' %>
<%= render 'admin/sellers/partials/upload_csv_success_popup' %>
<!-- Delete Seller Confirmation Modal -->
<div class="modal fade" id="confirm-seller-actions-modal" tabindex="-1" role="dialog" aria-labelledby="deliveryOptionFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="error-message"></div>
        <div id="seller-actions"></div>
      </div>
    </div>
  </div>
</div>
