<div class="container-fluid">
  <div class="d-flex flex-wrap justify-content-between mb-4 mt-5 align-items-start">
    <h4 class="m-0">Customer Account<br>
      &amp; Settings</h4>
    <div class="d-flex align-items-center">
      <p class="pr-1 mb-0">Seller Locked</p>
      <a href="#" class="btn btn-sm btn-radius px-4 btn-outline-primary mr-1">Reset password</a>
      <a href="#" class="btn btn-sm btn-radius px-4 btn-outline-primary mr-1">Outline</a>
      <a href="#" class="btn btn-sm btn-radius px-4 btn-outline-primary mr-1">Outline</a>
      <a href="#" class="btn btn-sm btn-radius px-4 btn-outline-primary">Outline</a>
    </div>
  </div>
  <div class="row ac-setting-tabs">
    <div class="col-md-3">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="About-Seller-tab" data-toggle="tab" href="#About-Seller"
                                            role="tab" aria-controls="About-Seller" aria-selected="true">About Seller</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="Manage-Subscription-tab" data-toggle="tab" href="#Manage-Subscription"
                                            role="tab" aria-controls="Manage-Subscription" aria-selected="false">Manage Subscription</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="Delivery-Settings-tab" data-toggle="tab" href="#Delivery-Settings"
                                            role="tab" aria-controls="Delivery-Settings" aria-selected="false">Delivery Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="Payment-Methods-tab" data-toggle="tab" href="#Payment-Methods" role="tab"
                                            aria-controls="Payment-Methods" aria-selected="false">Payment Methods</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="Holiday-Mode-tab" data-toggle="tab" href="#Holiday-Mode" role="tab"
                                            aria-controls="Holiday-Mode" aria-selected="false">Holiday Mode</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="Billing-tab" data-toggle="tab" href="#Billing" role="tab"
                                            aria-controls="Billing" aria-selected="false">Billing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="Product-Listings-tab" data-toggle="tab" href="#Product-Listings" role="tab"
                                            aria-controls="Product-Listings" aria-selected="false">Product Listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="Account-Health-tab" data-toggle="tab" href="#Account-Health" role="tab"
                                            aria-controls="Account-Health" aria-selected="false">Account Health</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="About-Seller" role="tabpanel"
                                        aria-labelledby="home-tab">
          <h5 class="">Basic Info</h5>
          <div class="row min-pad">
            <div class="col-lg-4 d-flex">
              <div class="yo-white-card  box-border seller-edit-card">
                <div id="business-representative-content">
                  <%= render 'admin/sellers/business_representative', business_representative: @seller.business_representative %>
                </div>
                <div class="text-center">
                  <%= link_to "Update Detail", edit_admin_seller_path(id: @seller.id, form_to_update: 'business_representative'), class: 'btn btn-sm btn-radius px-4 btn-primary', remote: true %>
                </div>
              </div>
            </div>
            <div class="col-lg-4 d-flex">
              <div class="yo-white-card box-border seller-edit-card">
                <div id="company-detail-content">
                  <%= render 'admin/sellers/company_detail', company_detail: @seller.company_detail %>
                </div>
                <div class="text-center">
                  <%= link_to "Update Details", edit_admin_seller_path(id: @seller.id, form_to_update: 'company_detail'), class: 'btn btn-sm btn-radius px-4 btn-primary', remote: true %>
                </div>
              </div>
            </div>
            <div class="col-lg-4 d-flex">
              <div class="yo-white-card box-border seller-edit-card">
                <div>
                  <h5 class="text-center">Logo</h5>
                  <span class="mb-3">
                    <img src="images/Yavolo_Logo_WarmRed.png" alt="" class="yo-logo">
                  </span>
                  <p class="mt-3 mm-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt nesciunt obcaecati animi, accusantium necessitatibus quas.</p>
                </div>
                <div class="text-center">
                  <a href="#" class="btn btn-sm btn-radius px-4 btn-primary mt-1">Update image</a>
                  <a href="#" class="btn btn-sm btn-radius px-4 btn-primary mt-1">remove image</a>
                </div>
              </div>
            </div>
          </div>
          <h5 class="mt-3">Addresses</h5>
          <div class="row min-pad">
            <%
              business_representative_address = ''
              business_address = ''
              return_address = ''
              invoice_address = ''
            %>
            <% @seller.addresses.each do |address| %>
              <% if address.address_type == 'business_representative_address' %>
                <% business_representative_address = address_type_filter(address, 'business_representative_address') %>
              <% elsif address.address_type == 'business_address' %>
                <% business_address = address_type_filter(address, 'business_address') %>
              <% elsif address.address_type == 'return_address' %>
                <% return_address = address_type_filter(address, 'return_address') %>
              <% elsif address.address_type == 'invoice_address' %>
                <% invoice_address = address_type_filter(address, 'invoice_address') %>
              <% end %>
            <%end %>
            <div class="col-lg-4 d-flex">
              <div class="yo-white-card box-border seller-edit-card">
                <div id="business_representative_address">
                  <%= render 'admin/sellers/addresses', address: business_representative_address %>
                </div>
                <div class="text-center">
                  <%= link_to "Update Details", edit_admin_seller_path(id: @seller.id, form_to_update: business_representative_address.address_type, address_id: business_representative_address.id), class: "btn btn-sm btn-radius px-4 btn-primary", remote: true %>
                </div>
              </div>
            </div>
            <div class="col-lg-4 d-flex">
              <div class="yo-white-card box-border seller-edit-card">
                <div id="business_address">
                  <%= render 'admin/sellers/addresses', address: business_address %>
                </div>
                <div class="text-center">
                  <%= link_to "Update Details", edit_admin_seller_path(id: @seller.id, form_to_update: business_address.address_type, address_id: business_address.id), class: "btn btn-sm btn-radius px-4 btn-primary", remote: true %>
                </div>
              </div>
            </div>
            <div class="col-lg-4 d-flex">
              <div class="yo-white-card box-border seller-edit-card">
                <div id="return_address">
                  <%= render 'admin/sellers/addresses', address: return_address %>
                </div>
                <div class="text-center">
                  <%= link_to "Update Details", edit_admin_seller_path(id: @seller.id, form_to_update: return_address.address_type, address_id: return_address.id), class: "btn btn-sm btn-radius px-4 btn-primary", remote: true %>
                </div>
              </div>
            </div>
            <div class="col-lg-4 d-flex">
              <div class="yo-white-card box-border seller-edit-card">
                <div id="invoice_address">
                  <%= render 'admin/sellers/addresses', address: invoice_address %>
                </div>
                <div class="text-center">
                  <%= link_to "Update Details", edit_admin_seller_path(id: @seller.id, form_to_update: invoice_address.address_type, address_id: invoice_address.id), class: "btn btn-sm btn-radius px-4 btn-primary", remote: true %>
                </div>
              </div>
            </div>
            <% #end %>
            <div class="col-lg-8 d-flex">
              <div class="yo-white-card  box-border seller-edit-card">
                <div>
                  <h5 class="text-center">API</h5>
                  <form action="">
                    <div class="d-flex align-items-center flex-wrap">
                      <div class="form-group form-group-vertical">
                        <label for="exampleInputPassword1">Status:</label>
                      </div>
                      <div class="mr-5">
                        <label class="checkbox-blk">Enable
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="">
                        <label class="checkbox-blk">Disable
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                    </div>
                    <div class="form-group form-group-vertical form-group-vertical-responsive">
                      <label for="exampleInputPassword1">API Name:</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group form-group-vertical form-group-vertical-responsive">
                      <label for="exampleInputPassword1">API Name:</label>
                      <textarea class="form-control" placeholder="Text"></textarea>
                    </div>
                  </form>
                </div>
                <div class="text-center">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="Manage-Subscription" role="tabpanel"
                                        aria-labelledby="Manage-Subscription-tab">
          <section class="seller-subscription-section">
            <h5>Subscripion</h5>
            <div class="subscription-inner">
              <div class="row">
                <div class="col-md-8">
                  <div class="yo-white-card">
                    <table class="table mt-2 subscription-table">
                      <tbody>
                        <tr>
                          <td>User Email</td>
                          <td>ahsanzafar@gmail.com</td>
                        </tr>
                        <tr>
                          <td>User Email</td>
                          <td>ahsanzafar@gmail.com</td>
                        </tr>
                        <tr>
                          <td>User Email</td>
                          <td>ahsanzafar@gmail.com</td>
                        </tr>
                        <tr>
                          <td>User Email</td>
                          <td>ahsanzafar@gmail.com</td>
                        </tr>
                        <tr class="align-items-center">
                          <td>User Email</td>
                          <td class="p-0">
                            <select class="form-control input-btn-sm select-width ml-2">
                              <option>ArvindPanchmatia@gmail.co.uk</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>User Email</td>
                          <td>ahsanzafar@gmail.com</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="tab-pane fade" id="Delivery-Settings" role="tabpanel"
                                        aria-labelledby="Delivery-Settings-tab">3
        </div>
        <div class="tab-pane fade" id="Payment-Methods" role="tabpanel" aria-labelledby="Payment-Methods-tab">
          <section class="payment-method">
            <h6>Payment Methods</h6>
            <div class="payment-method-inner">
              <h6 class="pt-3">Back accounts for oayment</h6>
              <div class="payment-method-card yo-white-card box-border p-0">
                <table class="table m-0 subscription-table text-left">
                  <tr>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                  </tr>
                </table>
              </div>
              <a href="#" class="btn btn-sm btn-radius px-4 btn-primary mb-3">Remove</a>
            </div>
            <div class="payment-method-inner ">
              <h6 class="pt-3">Back accounts for oayment</h6>
              <div class="payment-method-card yo-white-card box-border p-0">
                <table class="table m-0 subscription-table text-left">
                  <tr>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                  </tr>
                </table>
              </div>
              <a href="#" class="btn btn-sm btn-radius px-4 btn-primary mb-3">Remove</a>
              <a href="#" class="btn btn-sm btn-radius px-4 btn-primary mb-3">Remove</a>
            </div>
            <div class="payment-method-inner ">
              <div class="payment-method-card yo-white-card box-border p-0">
                <table class="table m-0 subscription-table text-left">
                  <tr>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                  </tr>
                </table>
              </div>
              <a href="#" class="btn btn-sm btn-radius px-4 btn-primary mb-3">Remove</a>
              <a href="#" class="btn btn-sm btn-radius px-4 btn-primary mb-3">Remove</a>
            </div>
            <div class="payment-method-inner ">
              <h6 class="pt-3">Back accounts for oayment</h6>
              <div class="payment-method-card yo-white-card box-border p-0">
                <table class="table m-0 subscription-table text-left">
                  <tr>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                    <td>
                      <p class="mb-1"><strong>Bank account number</strong> </p>
                      <p class="m-0">User Email</p>
                    </td>
                  </tr>
                </table>
              </div>
              <a href="#" class="btn btn-sm btn-radius px-4 btn-primary mb-3">Remove</a>
            </div>
          </section>
        </div>
        <div class="tab-pane fade" id="Holiday-Mode" role="tabpanel" aria-labelledby="Holiday-Mode-tab">
          <section class="holiday-mode yo-white-card box-border pb-0">
            <h6>Holiday Mode</h6>
            <div class="d-flex ">
              <div class="pr-5">
                <label class="checkbox-blk">Enable
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div>
                <label class="checkbox-blk">Disable
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </section>
        </div>
        <div class="tab-pane fade" id="Billing" role="tabpanel" aria-labelledby="Billing-tab">
          <section class="billing">
            <div class="Yavolo-table">
              <table class="table">
                <thead>
                  <tr>
                    <th>invoice#</th>
                    <th>total</th>
                    <th>description</th>
                    <th>dete granted</th>
                    <th>due date</th>
                    <th>status</th>
                    <th class="text-center" width="5%">change status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>xyz100</td>
                    <td>1000</td>
                    <td>monthly membership</td>
                    <td>12/12/21</td>
                    <td>12/12/21</td>
                    <td>pad</td>
                    <td class="text-center">
                      <select class="form-control input-btn-sm select-width">
                        <option>ArvindPanchmatia@gmail.co.uk</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>xyz100</td>
                    <td>1000</td>
                    <td>monthly membership</td>
                    <td>12/12/21</td>
                    <td>12/12/21</td>
                    <td>pad</td>
                    <td class="text-center">
                      <select class="form-control input-btn-sm select-width">
                        <option>ArvindPanchmatia@gmail.co.uk</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>xyz100</td>
                    <td>1000</td>
                    <td>monthly membership</td>
                    <td>12/12/21</td>
                    <td>12/12/21</td>
                    <td>pad</td>
                    <td class="text-center">
                      <select class="form-control input-btn-sm select-width">
                        <option>ArvindPanchmatia@gmail.co.uk</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>xyz100</td>
                    <td>1000</td>
                    <td>monthly membership</td>
                    <td>12/12/21</td>
                    <td>12/12/21</td>
                    <td>pad</td>
                    <td class="text-center">
                      <select class="form-control input-btn-sm select-width">
                        <option>ArvindPanchmatia@gmail.co.uk</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>xyz100</td>
                    <td>1000</td>
                    <td>monthly membership</td>
                    <td>12/12/21</td>
                    <td>12/12/21</td>
                    <td>pad</td>
                    <td class="text-center">
                      <select class="form-control input-btn-sm select-width">
                        <option>ArvindPanchmatia@gmail.co.uk</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>xyz100</td>
                    <td>1000</td>
                    <td>monthly membership</td>
                    <td>12/12/21</td>
                    <td>12/12/21</td>
                    <td>pad</td>
                    <td class="text-center">
                      <select class="form-control input-btn-sm select-width">
                        <option>ArvindPanchmatia@gmail.co.uk</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>xyz100</td>
                    <td>1000</td>
                    <td>monthly membership</td>
                    <td>12/12/21</td>
                    <td>12/12/21</td>
                    <td>pad</td>
                    <td class="text-center">
                      <select class="form-control input-btn-sm select-width">
                        <option>ArvindPanchmatia@gmail.co.uk</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
        <div class="tab-pane fade" id="Product-Listings" role="tabpanel" aria-labelledby="Product-Listings-tab">4
        </div>
        <div class="tab-pane fade" id="Account-Health" role="tabpanel" aria-labelledby="Account-Health-tab">4
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Edit Form Modal -->
<div class="modal fade" id="editTemplateForm" tabindex="-1" role="dialog" aria-labelledby="deliveryOptionFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body px-lg-5">
        <div id="error-message"></div>
        <div id="update-seller-form"></div>
      </div>
    </div>
  </div>
</div>
