<div class="container-fluid">

  <h3 class="mt-4 mb-3">Seller Account Edit</h3>
  <div class="d-flex flex-wrap justify-content-between mb-3 mt-4 align-items-start">
    <h4 class="m-0">Seller Account
      <br> & Settings</h4>
    <div id="about-top-portion">
      <div class="d-flex align-items-center" >
        <% display_class = @seller.is_locked == true ? 'd-block' : 'd-none' %>
        <p class="uppercase-text m-0 pr-3 <%= display_class %>" id="seller-locked-text">
          <%= render 'shared/sellers/seller_locked' %>
        </p>
        <% if current_admin.present? %>
          <% if @seller.account_status == 'activate' || @seller.account_status == 'approve' || @seller.account_status == 'suspend'  %>
            <%= link_to "Reset Password", confirm_reset_password_token_admin_seller_path(@seller, param_to_update: "lock"), class: "btn btn-sm btn-radius px-4 btn-primary mr-1", remote: true %>
            <% text = @seller.is_locked == true ? "Unlock" : "Lock" %>
            <% class_to_include = @seller.is_locked == true ? "btn-secondary" : "btn-danger" %>
            <%= link_to "#{text}", confirm_lock_status_admin_seller_path(@seller, param_to_update: "lock"), class: "btn btn-sm btn-radius px-4 mr-1 #{class_to_include} current-action", remote: true, id: "#{@seller.id}-lock-status" %>
          <% end %>
          <%= link_to "Back", :back, class: "btn btn-sm btn-radius px-4 btn-primary mr-1" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row ac-setting-tabs">
    <div class="col-md-2 pr-md-0">
      <%= render 'shared/admin/sellers/left_sidebar' %>
    </div>
    <div class="col-md-10">
      <div class="tab-content tabme-top" id="myTabContent">
        <%= render 'shared/sellers/about_seller_section' %>
        <%= render 'shared/sellers/connection_manager_section' %>
        <%= render 'admin_manage_subscription_of_seller' %>
        <!-- <div class="tab-pane fade" id="Delivery-Settings" role="tabpanel"
                                        aria-labelledby="Delivery-Settings-tab">3
        </div> -->
        <%= render 'shared/sellers/delivery_setting_section' %>
        <%= render 'show_seller_payment_methods'%>
        <%= render 'shared/sellers/holiday_mode_section', url: holiday_mode_admin_seller_path(@seller) %>
        <%= render  'billing_listing'%>
        <div class="tab-pane fade" id="Product-Listings" role="tabpanel" aria-labelledby="Product-Listings-tab">4
        </div>
        <div class="tab-pane fade" id="Account-Health" role="tabpanel" aria-labelledby="Account-Health-tab">4
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Edit Form Modal -->
<div class="modal fade align-items-start" id="editTemplateForm" tabindex="-1" role="dialog" aria-labelledby="deliveryOptionFormLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title capitalize-text">Update</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body px-lg-3">

        <div id="error-message" class="text-danger mb-3"></div>
        <div id="update-seller-form"></div>
      </div>
    </div>
  </div>
</div>
<!-- Seller API Modal -->
<div class="modal fade" id="seller-api-modal" tabindex="-1" role="dialog" aria-labelledby="sellerapiFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="seller-api-modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="error-message"></div>
        <div id="seller-api-actions"></div>
      </div>
    </div>
  </div>
</div>


