<div class="yavolos--product-item" data-controller="yavolos--product-item" data-yavolos--product-item-index-count = "<%= defined?(index) ? index : nil%>" >
  <%= hidden_field_tag "products[][id]",product.id, data: {"yavolos--product-item-target": "id"} %>
  <div class="product-bg-title-bordr d-flex align-items-end">
    <span class="product-bg-title" data-yavolos--product-item-target="counter">1</span> <span class="product-bg-name"><%= product.title %></span>
  </div>
  <div class="Yavolo-table mt-4 w-100 table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>
        </th>
        <th>image</th>
        <th>Product Title</th>
        <th>Key info</th>
        <th class="text-center">Discount</th>
        <th class="text-center" width="15%">Regular Price</th>
        <th class="text-center" width="15%">Yavolo Price</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><label class="checkbox-blk">
          <input type="checkbox" data-yavolos--summary-target="productCheckbox" data-product-id="<%= product.id %>" >
          <span class="checkmark"></span>
        </label>
        </td>
        <td>
          <span class="imglist" width="100%">
            <%= product_thumbnail_image_for_table_row(product) %>
          </span>
        </td>
        <td>
          <span><%= product.title %></span>
        </td>
        <td width="">
          <ul>
            <li><strong>YAN: </strong> <%= product.yan %></li>
            <li><strong>EAN: </strong> <%= product.ean %></li>
            <li><strong>Brand: </strong> <%= product.brand %></li>
          </ul>
        </td>
        <td class="text-center">
          <%= format_to_percentage(product.discount) %>
        </td>
        <td>
          <div class="text-center">
            <div class="form-group">
              <input type="text"
                     class="yo-price-inpt text-center"
                     id="exampleInputEmail1" data-yavolos--product-item-target="regularPriceInput"
                     aria-describedby="emailHelp" readonly value="<%= get_price_in_pounds(product.price) %>"
                     name="products[][regular_price]" >
            </div>
          </div>
        </td>
        <td>
          <div class="text-center">
            <div class="form-group error-field">
              <% discount_price = get_discount_value_product(product) %>
              <% discount_price_adjusted = defined?(yavolo_bundle_product) ? get_price_in_pounds(yavolo_bundle_product.price): discount_price %>
              <% discount_price_original = discount_price.gsub!("£","") %>
              <input type="text"
                     class="yo-price-inpt text-center"
                     id="exampleInputEmail1"
                     aria-describedby="emailHelp"
                     data-discount-price-original="<%= discount_price_original %>"
                     data-yavolos--product-item-target="discountPriceInput"
                     value="<%= discount_price_adjusted %>"
                     name="products[][discount_price]"
                      min="<%= discount_price_original %>" max="<%= product.price %>" data-action="blur->yavolos--product-item#validateDiscountPrice">
              <small class="form-text input-error-text d-none" data-yavolos--product-item-target="errorText">Please enter a value between <%= discount_price_original  %> and <%=  product.price  %></small>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
