<div class="main-page">
  <div class="main-content">
    <div class="container-fluid pdp-pad">
      <div class="px-lg-5 mt-5 ">
        <a href="" class="red-text decoration-none btn-light-hvr btn-radius py-2 px-3 mr-5"><span
          class="icon-chevron-left-solid pr-2"></span>Back to result</a>
        <span><a href="" class="decoration-none">Home</a>/<a href="" class="decoration-none">Page</a>/<a
          href="" class="decoration-none">Page</a>/<a href="" class="decoration-none">Page</a></span>
      </div>
      <div class="row mt-4 px-lg-5">
        <div class="col-xl-6">
          <div class="product-slider-list">
            <div class="w3-content" style="max-width:1200px">
              <div class="yo-white-card  p-lg-5">
                <%= image_tag "PayPal-Logo.svg", class: "mySlides myslides-img", style: "width:100%;display:none" %>
                <%= image_tag "profile.jpg", class: "mySlides myslides-img", style: "width:100%" %>
                <%= image_tag "PayPal-Logo.svg", class: "mySlides myslides-img", style: "width:100%;display:none" %>
                <%= image_tag "profile.jpg", class: "mySlides myslides-img", style: "width:100%;display:none" %>
                <%= image_tag "PayPal-Logo.svg", class: "mySlides myslides-img", style: "width:100%;display:none" %>
              </div>


              <div
                class="w3-row-padding w3-section d-flex justify-content-center product-slider-list-img">
                <div class="w3-col s2">
                  <%= image_tag "profile.jpg", class: "demo w3-opacity w3-hover-opacity-off", style: "width:100%;cursor:pointer", onclick: "currentDiv(1)" %>
                </div>
                <div class="w3-col s2">
                  <%= image_tag "profile.jpg", class: "demo w3-opacity w3-hover-opacity-off", style: "width:100%;cursor:pointer", onclick: "currentDiv(2)" %>
                </div>
                <div class="w3-col s2">
                  <%= image_tag "profile.jpg", class: "demo w3-opacity w3-hover-opacity-off", style: "width:100%;cursor:pointer", onclick: "currentDiv(3)" %>
                </div>
                <div class="w3-col s2">
                  <%= image_tag "profile.jpg", class: "demo w3-opacity w3-hover-opacity-off", style: "width:100%;cursor:pointer", onclick: "currentDiv(4)" %>
                </div>
                <div class="w3-col s2">
                  <%= image_tag "profile.jpg", class: "demo w3-opacity w3-hover-opacity-off", style: "width:100%;cursor:pointer", onclick: "currentDiv(5)" %>
                </div>
              </div>
              <div class="dot"> </div>
              <div class="dot"> </div>
              <div class="dot"> </div>
              <div class="dot"> </div>
              <div class="dot"> </div>
              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>

          </div>
        </div>
        <div class="col-xl-6">
          <div class="single-product single-pdp-pad">
            <a href="" class="decoration-none red-text"><span class="icon-Icon-awesome-heart heart-icomoon"></span></a>
            <h4 class="black-text mt-0"><%= @product.title %></h4>
            <ul class="rating d-flex">
              <li class="mr-1 active"><span class="icon-star"></span></li>
              <li class="mr-1 active"><span class="icon-star"></span></li>
              <li class="mr-1 active"><span class="icon-star"></span></li>
              <li class="mr-1 active"><span class="icon-star"></span></li>
              <li class="mr-1"><span class="icon-star"></span></li>
              <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
            </ul>
            <div class="d-flex align-items-center flex-wrap mt-3">
              <div class="pr-5">
                <h3 class="black-text mb-0 mt-0">£<%= @product.price %></h3>
              </div>
              <div>
                                    <span><span class="icon-manage-Yavolo red-text font-20px"><span class="font-14px">
                                      6 sold in the last 24 hours</span></span></span>
              </div>
            </div>
            <span class="font-14px black-text" style="opacity: 50%;">VAT Included</span>
            <div class="dropdown quantity-dropdown text-center mt-3 mb-2 w-100">
              <button class="btn dropdown-toggle btn-lg" type="button" id="dropdownMenuButton"
                      data-toggle="dropdown" aria-expanded="false">
                Quantity: <input type="number" value="1">
              </button>
              <div class="dropdown-menu p-3 mt-0" aria-labelledby="dropdownMenuButton">
                <% 1.step(@product.stock, 2).each do |stock_quantity| %>
                  <a class="dropdown-item p-1" href="#"><span><%= stock_quantity %></span></a>
                <% end %>
              </div>
            </div>
            <div>
              <a href="#" class="btn btn-lg btn-radius px-4 btn-primary w-100 mb-2">BUY IT NOW</a>
              <a href="#" class="btn btn-lg btn-radius px-4 btn-outline-primary w-100 mb-2">ADD TO
                BASKET</a>
            </div>
            <div class="text-center mb-3">
              <a href="" class="text-center"><u>View bundles that feature this product</u> </a>
            </div>
            <div class="d-flex delivery-note align-items-center py-3">
              <span class="icon-orders--delivery"></span>
              <span class="in-text"><strong>FREE Delivery </strong> <br/>FREE Delivery Get it by
                                    Friday 16th July 2021</span>
            </div>
            <div class="d-flex delivery-note align-items-center py-3">
              <span class="icon-stopwatch icons-ico"></span>
              <span class="in-text"><strong>Almost sold out.</strong> There’s only 2 left and <br>
                                    it’s in more than 10 people’s baskets</span>
            </div>
            <div class="d-flex delivery-note align-items-center py-3">
              <span class="icon-stopwatch icons-ico"></span>
              <span class="in-text"><strong>30 Day Returns.</strong> 30 days exchange or full <br>
                                    refund for peace of mind.</span>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <span>Condition: <%= @product.condition.titleize %></span>
              <span>Sold by John Smith</span>
            </div>
            <div class="mb-2">
              <span class="rev-und">Product Reviews</span>
            </div>
            <div class="review-slider">
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">

                    <div class="review-card">
                      <div class="review-header d-flex justify-content-between">
                        <span>John Smith</span>
                        <span>22/04/2021</span>
                      </div>
                      <ul class="rating d-flex mb-2">
                        <li class="mr-1 active"><span class="icon-star"></span></li>
                        <li class="mr-1 active"><span class="icon-star"></span></li>
                        <li class="mr-1 active"><span class="icon-star"></span></li>
                        <li class="mr-1 active"><span class="icon-star"></span></li>
                        <li class="mr-1"><span class="icon-star"></span></li>
                        <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                      </ul>
                      <div class="d-flex">
                        <div>
                          <p class="black-text font-14px pr-3 mb-0">Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit. Nulla id aliquet erat, eu
                            congue arcu. Quisque quis mi turpis. Curabitur eu mauris
                            malesuada, posuere dui eget, placerat nisi. Donec lacus
                            magna,
                            imperdiet nec molestie et.</p>
                        </div>
                        <div>
                                                        <span class="review-img">
                                                          <%= image_tag "profile.jpg" %>
                                                        </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">

                    <div class="review-card">
                      <div class="review-header d-flex justify-content-between">
                        <span>John Smith</span>
                        <span>22/04/2021</span>
                      </div>
                      <ul class="rating d-flex mb-2">
                        <li class="mr-1 active"><span class="icon-star"></span></li>
                        <li class="mr-1 active"><span class="icon-star"></span></li>
                        <li class="mr-1 active"><span class="icon-star"></span></li>
                        <li class="mr-1 active"><span class="icon-star"></span></li>
                        <li class="mr-1"><span class="icon-star"></span></li>
                        <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                      </ul>
                      <div class="d-flex">
                        <div>
                          <p class="black-text font-14px pr-3 mb-0">Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit. Nulla id aliquet erat, eu
                            congue arcu. Quisque quis mi turpis. Curabitur eu mauris
                            malesuada, posuere dui eget, placerat nisi. Donec lacus
                            magna,
                            imperdiet nec molestie et.</p>
                        </div>
                        <div>
                                                        <span class="review-img">
                                                          <%= image_tag "profile.jpg" %>
                                                        </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">

                    <div class="review-card">
                      <div class="review-header d-flex justify-content-between">
                        <span>John Smith</span>
                        <span>22/04/2021</span>
                      </div>
                      <ul class="rating d-flex mb-2">
                        <li class="mr-1 active"><span class="icon-star"></span></li>
                        <li class="mr-1 active"><span class="icon-star"></span></li>
                        <li class="mr-1 active"><span class="icon-star"></span></li>
                        <li class="mr-1 active"><span class="icon-star"></span></li>
                        <li class="mr-1"><span class="icon-star"></span></li>
                        <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                      </ul>
                      <div class="d-flex">
                        <div>
                          <p class="black-text font-14px pr-3 mb-0">Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit. Nulla id aliquet erat, eu
                            congue arcu. Quisque quis mi turpis. Curabitur eu mauris
                            malesuada, posuere dui eget, placerat nisi. Donec lacus
                            magna,
                            imperdiet nec molestie et.</p>
                        </div>
                        <div>
                                                        <span class="review-img">
                                                          <%= image_tag "profile.jpg" %>
                                                        </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-arrow-parent">
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                     data-slide="prev">
                                            <span class="carousel-control-prev-icon icon-chevron-left-solid"
                                                  aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                     data-slide="next">
                                            <span class="carousel-control-next-icon icon-chevron-right-solid"
                                                  aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>

              </div>
            </div>

            <!-- <div class="review-card">
                <div class="review-header d-flex justify-content-between">
                    <span>John Smith</span>
                    <span>22/04/2021</span>
                </div>
                <ul class="rating d-flex mb-2">
                    <li class="mr-1 active"><span class="icon-star"></span></li>
                    <li class="mr-1 active"><span class="icon-star"></span></li>
                    <li class="mr-1 active"><span class="icon-star"></span></li>
                    <li class="mr-1 active"><span class="icon-star"></span></li>
                    <li class="mr-1"><span class="icon-star"></span></li>
                    <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                </ul>
                <div class="d-flex">
                    <div><p class="black-text font-14px pr-3 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id aliquet erat, eu congue arcu. Quisque quis mi turpis. Curabitur eu mauris malesuada, posuere dui eget, placerat nisi. Donec lacus magna, imperdiet nec molestie et.</p></div>
                    <div>
                        <span class="review-img">
                            <img src="images/profile.jpg" alt="">
                        </span>
                    </div>
                </div>
            </div> -->

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="pdp-collapse px-lg-5">
            <div id="accordion" class="my-4">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-link btn-radius px-4 d-flex justify-content-between align-items-center"
                      data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                      aria-controls="collapseOne">
                      Description <span class="icon-chevron-down-solid chev-colps"></span>
                    </button>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                     data-parent="#accordion">
                  <div class="card-body px-4">
                    <%= @product.description.html_safe %>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-link collapsed btn-radius px-4 d-flex justify-content-between align-items-center"
                      data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                      aria-controls="collapseTwo">
                      Specification <span class="icon-chevron-down-solid chev-colps"></span>
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                     data-parent="#accordion">
                  <div class="card-body px-4">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                    dolor
                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                    tempor,
                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                    cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                    Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                    nesciunt
                    you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-link collapsed btn-radius px-4 d-flex justify-content-between align-items-center"
                      data-toggle="collapse" data-target="#collapseThree"
                      aria-expanded="false" aria-controls="collapseThree">
                      Return & Terms<span class="icon-chevron-down-solid chev-colps"></span>
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                     data-parent="#accordion">
                  <div class="card-body px-4">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                    dolor
                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                    tempor,
                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                    cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                    Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                    nesciunt
                    you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="yo-offwhite-card pdp-slick-bg mx-lg-4 mb-5 mt-4">
            <div class="text-center">
              <label class="lable-tag btn btn-sm btn-radius px-4 btn-danger py-2 pdp-label-tag">
                MORE
                FORM THIS SELLER</label>
            </div>
            <div class="pdp-slick-slider">
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                    <label class="lable-tag btn btn-sm btn-radius-6 px-4 btn-danger py-0"><span
                      class="icon-Yavolo-top-seller-icon mr-2"></span> Top
                      Seller</label>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="mx-lg-4">
            <div class="d-flex justify-content-between pdp-slick-bg align-items-center flex-wrap mx-3">
              <h5 class="mb-3">Similar Products</h5>
              <p class="mt-2 mm-text pr-5 mr-5 similar-page-pd">Page <span>1</span>of <span>3</span>
              </p>
            </div>
            <div class="pdp-nbg-slick-slider pdp-slick-bg">
              <div class="pdp-card mt-4">
                <div class="pdp-img">
                  <%= image_tag "Image496.png" %>
                  <label class="lable-tag btn btn-sm btn-radius-6 px-4 btn-danger py-0"><span
                    class="icon-Yavolo-top-seller-icon mr-2"></span> Top Seller</label>
                </div>
                <div class="pdp-body">
                  <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72 Mugs
                    Bundle
                  </p>
                  <ul class="rating d-flex">
                    <li class="mr-1 active"><span class="icon-star"></span></li>
                    <li class="mr-1 active"><span class="icon-star"></span></li>
                    <li class="mr-1 active"><span class="icon-star"></span></li>
                    <li class="mr-1 active"><span class="icon-star"></span></li>
                    <li class="mr-1"><span class="icon-star"></span></li>
                    <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                  </ul>
                  <p class="pdp-price black-text">£229.99</p>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="yo-offwhite-card pdp-slick-bg mx-lg-4 mb-5 mt-4">
            <div class="text-center">
              <label class="lable-tag btn btn-sm btn-radius px-4 btn-danger py-2 pdp-label-tag">
                MORE
                FORM THIS SELLER</label>
            </div>
            <div class="pdp-slick-slider">
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                    <label class="lable-tag btn btn-sm btn-radius-6 px-4 btn-danger py-0"><span
                      class="icon-Yavolo-top-seller-icon mr-2"></span> Top
                      Seller</label>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="mx-lg-4">
            <div class="d-flex justify-content-between pdp-slick-bg align-items-center flex-wrap mx-3">
              <h5 class="mb-3">Similar Products</h5>
              <p class="mt-2 mm-text pr-5 mr-5 similar-page-pd">Page <span>1</span>of <span>3</span>
              </p>
            </div>
            <div class="pdp-review-vertical-slider pdp-slick-bg">
              <div class="review-card mt-4">
                <div class="review-header d-flex justify-content-between">
                  <span>John Smith</span>
                  <span>22/04/2021</span>
                </div>
                <ul class="rating d-flex mb-2">
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                </ul>
                <div class="d-flex">
                  <div>
                    <p class="black-text font-14px pr-3 mb-0">Lorem ipsum dolor sit
                      amet, consectetur adipiscing elit. Nulla id aliquet erat, eu
                      congue arcu. Quisque quis mi turpis. Curabitur eu mauris
                      malesuada, posuere dui eget, placerat nisi. Donec lacus
                      magna,
                      imperdiet nec molestie et.</p>
                  </div>
                </div>
              </div>
              <div class="review-card mt-4">
                <div class="review-header d-flex justify-content-between">
                  <span>John Smith</span>
                  <span>22/04/2021</span>
                </div>
                <ul class="rating d-flex mb-2">
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                </ul>
                <div class="d-flex">
                  <div>
                    <p class="black-text font-14px pr-3 mb-0">Lorem ipsum dolor sit
                      amet, consectetur adipiscing elit. Nulla id aliquet erat, eu
                      congue arcu. Quisque quis mi turpis. Curabitur eu mauris
                      malesuada, posuere dui eget, placerat nisi. Donec lacus
                      magna,
                      imperdiet nec molestie et.</p>
                  </div>
                </div>
              </div>
              <div class="review-card mt-4">
                <div class="review-header d-flex justify-content-between">
                  <span>John Smith</span>
                  <span>22/04/2021</span>
                </div>
                <ul class="rating d-flex mb-2">
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                </ul>
                <div class="d-flex">
                  <div>
                    <p class="black-text font-14px pr-3 mb-0">Lorem ipsum dolor sit
                      amet, consectetur adipiscing elit. Nulla id aliquet erat, eu
                      congue arcu. Quisque quis mi turpis. Curabitur eu mauris
                      malesuada, posuere dui eget, placerat nisi. Donec lacus
                      magna,
                      imperdiet nec molestie et.</p>
                  </div>
                </div>
              </div>
              <div class="review-card mt-4">
                <div class="review-header d-flex justify-content-between">
                  <span>John Smith</span>
                  <span>22/04/2021</span>
                </div>
                <ul class="rating d-flex mb-2">
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                </ul>
                <div class="d-flex">
                  <div>
                    <p class="black-text font-14px pr-3 mb-0">Lorem ipsum dolor sit
                      amet, consectetur adipiscing elit. Nulla id aliquet erat, eu
                      congue arcu. Quisque quis mi turpis. Curabitur eu mauris
                      malesuada, posuere dui eget, placerat nisi. Donec lacus
                      magna,
                      imperdiet nec molestie et.</p>
                  </div>
                </div>
              </div>
              <div class="review-card mt-4">
                <div class="review-header d-flex justify-content-between">
                  <span>John Smith</span>
                  <span>22/04/2021</span>
                </div>
                <ul class="rating d-flex mb-2">
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                </ul>
                <div class="d-flex">
                  <div>
                    <p class="black-text font-14px pr-3 mb-0">Lorem ipsum dolor sit
                      amet, consectetur adipiscing elit. Nulla id aliquet erat, eu
                      congue arcu. Quisque quis mi turpis. Curabitur eu mauris
                      malesuada, posuere dui eget, placerat nisi. Donec lacus
                      magna,
                      imperdiet nec molestie et.</p>
                  </div>
                </div>
              </div>
              <div class="review-card mt-4">
                <div class="review-header d-flex justify-content-between">
                  <span>John Smith</span>
                  <span>22/04/2021</span>
                </div>
                <ul class="rating d-flex mb-2">
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                </ul>
                <div class="d-flex">
                  <div>
                    <p class="black-text font-14px pr-3 mb-0">Lorem ipsum dolor sit
                      amet, consectetur adipiscing elit. Nulla id aliquet erat, eu
                      congue arcu. Quisque quis mi turpis. Curabitur eu mauris
                      malesuada, posuere dui eget, placerat nisi. Donec lacus
                      magna,
                      imperdiet nec molestie et.</p>
                  </div>
                </div>
              </div>
              <div class="review-card mt-4">
                <div class="review-header d-flex justify-content-between">
                  <span>John Smith</span>
                  <span>22/04/2021</span>
                </div>
                <ul class="rating d-flex mb-2">
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                </ul>
                <div class="">
                  <div>
                    <p class="black-text font-14px pr-3 mb-0">Lorem ipsum dolor sit
                      amet, consectetur adipiscing elit. Nulla id aliquet erat, eu
                      congue arcu. Quisque quis mi turpis. Curabitur eu mauris
                      malesuada, posuere dui eget, placerat nisi. Donec lacus
                      magna,
                      imperdiet nec molestie et.</p>
                  </div>
                </div>
              </div>
              <div class="review-card mt-4">
                <div class="review-header d-flex justify-content-between">
                  <span>John Smith</span>
                  <span>22/04/2021</span>
                </div>
                <ul class="rating d-flex mb-2">
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                </ul>
                <div class="">
                  <div>
                    <p class="black-text font-14px pr-3 mb-0">Lorem ipsum dolor sit
                      amet, consectetur adipiscing elit. Nulla id aliquet erat, eu
                      congue arcu. Quisque quis mi turpis. Curabitur eu mauris
                      malesuada, posuere dui eget, placerat nisi. Donec lacus
                      magna,
                      imperdiet nec molestie et.</p>
                  </div>
                </div>
              </div>
              <div class="review-card mt-4">
                <div class="review-header d-flex justify-content-between">
                  <span>John Smith</span>
                  <span>22/04/2021</span>
                </div>
                <ul class="rating d-flex mb-2">
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                </ul>
                <div class="">
                  <div>
                    <p class="black-text font-14px pr-3 mb-0">Lorem ipsum dolor sit
                      amet, consectetur adipiscing elit. Nulla id aliquet erat, eu
                      congue arcu. Quisque quis mi turpis. Curabitur eu mauris
                      malesuada, posuere dui eget, placerat nisi. Donec lacus
                      magna,
                      imperdiet nec molestie et.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="subscribe-bottom">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 subscribe-bottom-inner">
            <div>
              <h3>You’ve reached the bottom but it doesn’t have to end</h3>
              <p>You’ve reached the bottom but it doesn’t have to end</p>
              <div class="dropdown-filter-field">
                <div class="search-field mb-0 subscribe-field">
                  <input type="text" placeholder="Enter your email" class="">
                  <a href="#" class="btn btn-radius px-4 red-text btn-light-hvr">Subscribe</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
    $('.pdp-nbg-slick-slider').not('.slick-initialized').slick({
        infinite: true,
        speed: 300,
        slidesToShow: 5,
        slidesToScroll: 1,
        autoplay: true,
        padding: 10,
        responsive: [
            {
                breakpoint: 1025,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1,
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }
        ]
    });
</script>
<script>
    $('.pdp-slick-slider').not('.slick-initialized').slick({
        infinite: true,
        speed: 300,
        slidesToShow: 5,
        slidesToScroll: 1,
        autoplay: true,
        padding: 10,
        responsive: [
            {
                breakpoint: 1025,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1,
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }
        ]
    });
</script>
<script>
    $('.pdp-nbg-slick-slider').not('.slick-initialized').slick({
        infinite: true,
        speed: 300,
        slidesToShow: 5,
        slidesToScroll: 1,
        autoplay: true,
        padding: 10,
        responsive: [
            {
                breakpoint: 1025,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1,
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }
        ]
    });
</script>
<script>
    $('.pdp-review-vertical-slider').not('.slick-initialized').slick({
        infinite: true,
        speed: 300,
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        padding: 10,
        responsive: [
            {
                breakpoint: 1025,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1,
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }
        ]
    });
</script>
<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>
<script>
    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > x.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = x.length
        }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
        }
        x[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " w3-opacity-off";
    }
</script>
