<div class="admin-header">
  <div class="container-fluid">
    <div class="admin-header-inner d-flex justify-content-between align-items-center">
      <div class="admin-header-left">
        <%#= link_to "Create New Form", sampleform_path, 'data-no-turbolink' => true %> 
        <a href="javascript:void(0)" class="mr-lg-5 mr-2 menu-icon"><i class="icon-switch-accounts"></i></a>
        <% if admin_heading(params) %>
          <a href="#" class="mr-lg-5 mr-2"><i class="fas fa-calendar-alt" ></i></a>
        <% end %>
        <div class="dropdown d-inline-block dropdown-filter dropdown-filter-border">
          <a href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Product adding</a>
            <a class="dropdown-item" href="#">New ticket received</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <div class="admin-header-right">
        <ul>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-tog bdr-left" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "profile.jpg", class: 'rounded-circle', width:"40", height: "40" %>
            <span class="pl-3"><%= admin_name(current_admin) %></span>
            <i class="fa fa-angle-down ml-3" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu dropdown-text dropdown-profile text-center p-3" aria-labelledby="navbarDropdownMenuLink">
              <div class="dropdown-profile-inner dark-red-text">
                <span>
                <%= image_tag "profile.jpg", class: 'user-img' %>
                </span>
                <p class="mb-0"><%= admin_name(current_admin) %></p>
                <p><%= current_admin.email %></p>
                <a href="#" class="btn btn-radius px-4 btn-primary btn-sm w-100 my-1">Manage Account</a>
                <%= link_to 'Sign Out', destroy_admin_session_path, data: { method: :delete }, class: "btn btn-radius px-4 btn-primary btn-sm w-100 my-1" %>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
