<div class="container">
  <div class="row">
    <div class="col col-12 col-lg-6 col-md-8 mx-auto">
      <div class="sign-in">
        <h3 class="text-center mb-4" style="color: #640529; font-size: 48px">
          Seller Sign In
        </h3>
        <%= form_for(resource, as: resource_name, url:
        session_path(resource_name)) do |f| %>
          <div class="form-group general-mrgn">
            <label for="exampleInputEmail1">Email Address *</label>
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email Address" %>
          </div>
          <div class="form-group general-mrgn">
            <label for="exampleInputPassword1">Password *</label>
            <%= f.password_field :password, autocomplete: "current-password",
          class: "form-control", placeholder:"Password" %>
          </div>
          <div class="d-flex justify-content-between flex-wrap mb-0">
            <div class="form-check mb-0">
              <label class="check-container checkbox-blk"
              >Stay signed in
                <input name="user[remember_me]" type="hidden" value="0" /><input
                type="checkbox"
                value="1"
                name="user[remember_me]"
                id="user_remember_me"
              />
                  <span class="checkmark"></span>
                </label>
              </div>
              <div>
                <%= link_to "Forgotten your password?",
            new_password_path(resource_name) , class: "forgt-text" %>
              </div>
            </div>
            <%= f.submit "Sign in", class: "btn btn-primary btn-lg btn-block
        general-mrgn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade align-items-start" id="deliveryTemplateForm" tabindex="-1" role="dialog" aria-labelledby="deliveryOptionFormLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body px-lg-3">
          <div id="delivery-template-form"></div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $('input[type="submit"]').click(function () {
      $('input[type="checkbox"]').each(function () {
        $(this).prop("checked", false);
      });
    });
  </script>
