<div class="container-fluid">
  <div class="row">
    <div class=" col-lg-4 col-md-6">
      <div>
        <h5>Let's Get Selling!</h5>
        <% invoice_address = @seller.addresses.select do |address| address.address_type == 'invoice_address' end %>
        <% return_address = @seller.addresses.select do |address| address.address_type == 'return_address' end %>
        <label class="checkbox-blk">
        <a href="<%= sellers_profile_path(@seller) %>">Help us find you with invoice address*</a>
          <input type="checkbox" <%= invoice_address.present? ? 'checked': '' %> disabled>
          <span class="checkmark"></span>
        </label>
        <label class="checkbox-blk">
        <a href="<%= sellers_profile_path(@seller) %>">Those returns need an address too*</a>
          <input type="checkbox" <%= return_address.present? ? 'checked': '' %> disabled>
          <span class="checkmark"></span>
        </label>
        <label class="checkbox-blk">
        <a href="<%= sellers_profile_path(@seller) %>">Add your bank account to recieve the dosh*</a>
          <input type="checkbox" <%= @seller.bank_detail.present? && @seller.bank_detail&.account_verification_status? ? 'checked': '' %> disabled>
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
    <div class=" col-lg-4 col-md-6">
      <div>
        <h5 class="invisible">Let's Get Selling!</h5>
        <label class="checkbox-blk">
          <a data-paypal-button="true" href="<%=@action_url%>&displayMode=minibrowser" id="link_paypal_account_from_seller_hub" target="PPFrame">Link up your PayPal account*</a>          <input type="checkbox" <%= @seller&.paypal_detail&.integration_status? ? 'checked': '' %> disabled>
          <span class="checkmark"></span>
        </label>
        <label class="checkbox-blk">
        <a href="#">Select your deposit schedule*</a>
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="checkbox-blk">
        <a href="<%= new_sellers_product_path %>">Add your first sensational product</a>
          <input type="checkbox" <%= @seller.products.count > 0 ? 'checked': '' %> disabled>
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
    <div class=" col-lg-4 col-md-6">
      <div>
        <h5>Get the best out of Yavolo!</h5>
        <label class="checkbox-blk"><a href="#">Pin three key attributes to the dashboard success meter</a>
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="checkbox-blk"><a href="<%= sellers_profile_path(@seller) %>">Complete return and terms</a>
          <input type="checkbox" <%= @seller.return_and_term.present? ? 'checked': '' %> disabled>
          <span class="checkmark"></span>
        </label>
        <label class="checkbox-blk"><a href="<%= sellers_profile_path(@seller) %>">Review your login settings</a>
          <input type="checkbox"  <%= @seller.reviewed_login_screen ? 'checked': '' %> disabled>
          <span class="checkmark"></span>
        </label>
        <label class="checkbox-blk">
        <a href="<%= sellers_profile_path(@seller) %>">Brighten Up your business with a Logo</a>
          <input type="checkbox" <%= @seller.picture.present? ? 'checked': '' %> disabled>
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
  </div>
  <hr>
</div>
