<div class="main-page pt-5">
  <div class="seller-success-hub">
    <div class="seller-center-heading text-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="">Seller Success Hub</h3>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
          </div>
        </div>
      </div>
    </div>
    <% if is_eligible?(@seller) %>
      <%= render 'sellers/dashboard/stats' %>
    <% else %>
      <%= render 'sellers/dashboard/precondition_checkboxes' %>
    <% end %>
    <section class="seller-news">
      <div class="container-fluid">
        <div class="row">
          <%= render 'sellers/dashboard/news' %>
          <%= render 'sellers/dashboard/to_do_list' %>
          <%= render 'sellers/dashboard/success_meter' %>
        </div>
      </div>
    </section>
  </div>
</div>
