<%= render 'shared/progress_bar', locals: { progress: "60" } %>
<div class="container">
  <div class="row mt-4">
    <div class="col-lg-8">
      <div class="your-detail-left yo-white-card box-border">
        <h5>Payment Details</h5>
        <hr>
        <form action="<%= create_payment_method_path %>" id='payment-form' method='post'>
        <div class="row m-3" id="stripe-card-elements">
        <input type="hidden" value="stripe">
        <!-- <div id='card-element'></div> -->
        </div>
           <div class="row">
            <div class="form-group col-md-6">
              <label for="exampleInputEmail1">Card Number</label>
              <div id="card-number" class="form-control input-center"></div>
              <!-- <input type="text" class="form-control" id="exampleInputEmail1"
                     aria-describedby="emailHelp" placeholder="Input field"> -->
            </div>
          </div>
          <div class="row">
            <div class="col-lg-7 d-flex align-items-end flex-wrap">
              <div class="form-group mr-5">
                <label for="exampleInputEmail1">Expiry Date</label>
                <div id="card-expiry" class="form-control payment-input"></div>
                <!-- <input type="text" class="form-control payment-input" id="exampleInputEmail1"
                       aria-describedby="emailHelp" placeholder="MM"> -->
              </div>
              <!-- <div class="form-group mr-5">
                <label for="exampleInputEmail1"></label>
                <input type="email" class="form-control payment-input" id="exampleInputEmail1"
                       aria-describedby="emailHelp" placeholder="YYYY">
              </div> -->
              <div class="form-group search-field-flex">
                <label for="exampleInputEmail1">Security Code</label>
                <div id="card-cvc" class="form-control input-center"></div>
                <!-- <input type="number" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp" placeholder="Input field"> -->
              </div>
            </div>
          </div> 
          <div class='row m-3'>
            <label class="checkbox-blk">Save card for later use
              <input type="checkbox" name="is_card_saved">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="row">
            <div class="col-lg-6">
            <input type="submit" value="REVIEW YOUR ORDER" class="btn btn-lg btn-radius px-4 btn-primary w-100" >
            </div>
          </div>

        </form>
        <div class="row">
          <div class="col-lg-12">
            <span class="heading-subtitle mb-0">OR</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <%= render 'shared/checkout/paypal_express_checkout_button' %>
          </div>
          <div class="col-lg-6">
            <a href="" class="gpay-btn mt-4 pay-btn">BUY WITH
              <span class="pl-3"><img src="images/g-pay.svg" alt=""></span></a>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-4">
      <div class="your-detail-right yo-white-card box-border">
        <h5 class="mb-3">Order Summary</h5>
        <div class="item-basket">
          <input type="checkbox" id="sometoggler" class="toggler">
          <label for="sometoggler" id="count-label"><span class="mm-text pointer total-product-count" id="total-cnt">You have <%=@total_num_of_products %> items in your basket <i class="dropdown-toggle pl-2"></i> </span></label>
          <div>
            <% @cart.each_with_index do |value, index| %>
              <div class="d-flex justify-content-between flex-wrap mm-text mb-2" id="summary-basket-<%=value[:product_id] %>">
                <% product = Product.find value[:product_id] %>
                <span class="order-name-width"><strong><%= product.title %></strong></span>
                
                <div class="d-flex">
                  <span class="pr-2">£<%= product.price %></span>
                  <%= link_to remove_product_from_summary_path(remove_product: {product_id: product.id}, product_count: value[:quantity], total_product: @total_num_of_products), method: :delete, remote: true, class: 'decoration-none' do %>
                    <span class="order-summary-basket-cross">x</span>
                  <% end %>
                </div>
              </div>
            <% end %>
            <hr>
          </div>
        </div>
        <div class="d-flex justify-content-between mb-2">
          <span><strong>Sub Total</strong></span>
          <span id="order-sub-total-price"><%= get_price_in_pounds(@order_amount.present? ? @order_amount[:sub_total] : 0) %></span>
        </div>
        <div class="d-flex justify-content-between">
          <span><strong>Delivery</strong></span>
          <span>Free</span>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
          <span><strong>Order Total</strong></span>
          <span id= "order-total-price"><%= get_price_in_pounds(@order_amount.present? ? @order_amount[:total] : 0) %></span>
        </div>
        <hr>
        <div class="d-flex delivery-note align-items-center py-3">
          <span class="icon-Secure-checkout icons-ico"></span>
          <span class="in-text mm-text"><b>Secure Checkout</b> <br>
                                    Shopping with Yavolo is always safe and secure </span>
        </div>
        <div class="d-flex delivery-note align-items-center py-3">
          <span class="icon-day-guarantee icons-ico"></span>
          <span class="in-text mm-text"><b>30 Day Guarantee</b> <br>
                                    Returns are accepted up to 30 days as standard</span>
        </div>

      </div>
      <div class="your-detail-right yo-white-card box-border">
        <div>
          <h5 class="mb-3">Latest Reviews</h5>
          <ul class="rating d-flex">
            <li class="mr-1 active"><span class="icon-star"></span></li>
            <li class="mr-1 active"><span class="icon-star"></span></li>
            <li class="mr-1 active"><span class="icon-star"></span></li>
            <li class="mr-1 active"><span class="icon-star"></span></li>
            <li class="mr-1"><span class="icon-star"></span></li>
          </ul>
          <p class="mm-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div>

          <ul class="rating d-flex">
            <li class="mr-1 active"><span class="icon-star"></span></li>
            <li class="mr-1 active"><span class="icon-star"></span></li>
            <li class="mr-1 active"><span class="icon-star"></span></li>
            <li class="mr-1 active"><span class="icon-star"></span></li>
            <li class="mr-1"><span class="icon-star"></span></li>
          </ul>
          <p class="mm-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div>

          <ul class="rating d-flex">
            <li class="mr-1 active"><span class="icon-star"></span></li>
            <li class="mr-1 active"><span class="icon-star"></span></li>
            <li class="mr-1 active"><span class="icon-star"></span></li>
            <li class="mr-1 active"><span class="icon-star"></span></li>
            <li class="mr-1"><span class="icon-star"></span></li>
          </ul>
          <p class="mm-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

      </div>
    </div>
  </div>
</div>
