<div class="cart-item-products" id="cart-item-<%= cart_item[:product_id] %>">
  <div class="pdp-vertical-card">
    <div class="d-flex align-items-start">
      <div class="card-img pdp-detail-card p-3 yo-white-card">
        <span>
          <%= image_tag(product_cart_images(product), class: 'cart-image-display') %>
        </span>
      </div>
      <div class="card-content search-field-flex">
        <div class="product-title d-flex justify-content-between">
          <div class="title black-text">
            <h5>
              <%= product.title %>
            </h5>
          </div>
          <div class="price black-text">
              <h5>
                <%= number_to_currency(total_price(product, cart_item[:quantity].to_i), unit: "£" ) %>
              </h5>
          </div>
        </div>
        <ul class="rating d-flex mb-2">
          <li class="mr-1 active">
            <span class="icon-star"></span>
          </li>
          <li class="mr-1 active">
            <span class="icon-star"></span>
          </li>
          <li class="mr-1 active">
            <span class="icon-star"></span>
          </li>
          <li class="mr-1 active">
            <span class="icon-star"></span>
          </li>
          <li class="mr-1">
            <span class="icon-star"></span>
          </li>
          <li class="mr-1">
            <span class="px-3 rateNo">(144)</span>
          </li>
        </ul>
        <p class="sold-pdp-text">Sold by <%= product_seller_name(product.id) %></p>
        <div class="d-flex justify-content-between align-items-center">
          <span>Free 1 day delivery (by 20th March)</span>
          <span class="pdp-drop">
            <div class="dropdown quantity-dropdown text-center">
              <a href="javascript:void(0)"
                class="btn dropdown-toggle btn-lg py-2"
                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= form_with url: "/update_product_quantity_by_number", method: :post, local: false do |form| %>
                <input type="number" id="<%= "product-#{product.id}" %>" placeholder="<%= cart_item[:quantity] %>"
                  value="<%= cart_item[:quantity] %>" class="pdp-drp-input item-quantity-input cart-item-quantity-input", 
                  name="product_quantity[quantity]">
                  <input type="hidden" name="product_quantity[product_id]" value="<%= product.id %>">
                <%= form.submit hidden: true, id: 'cart-change-form-submit'  %>
                <% end %>
              </a>
              <div class="dropdown-menu p-1" aria-labelledby="dropdownMenuLink" x-placement="bottom-start"
                style="position: absolute; transform: translate3d(0px, 41px, 0px); top: 0px; left: 0px; will-change: transform;">
                <% (1..10).each do |index| %>
                  <a class="dropdown-item p-1 click-product-quantity <%= cart_item[:quantity].to_i == index ? " selected-quantity" : " "
                  %>" href="<%= update_product_quantity_by_number_path(product_quantity: {product_id: product.id, quantity: index }) %>" data-remote="true" data-method="POST"><span><%= index %></span>
                  <%# <i class="fa fa-check" aria-hidden="true"></i> %>
                </a>
                <% end %>
              </div>
            </div>
          </span>
        </div>
        <div class="d-flex text-icons-group">
          <a href="" class="text-with-icon decoration-none save-later">
            <span class="red-text">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20.808" viewBox="0 0 22 20.808">
                <path id="Path_27" data-name="Path 27" d="M12.791,22.576l-1.45-1.308c-5.15-4.728-8.55-7.8-8.55-11.62a5.438,5.438,0,0,1,5.5-5.533,5.916,5.916,0,0,1,4.5,2.113,5.915,5.915,0,0,1,4.5-2.113,5.438,5.438,0,0,1,5.5,5.533c0,3.823-3.4,6.892-8.55,11.62Z" transform="translate(-1.791 -3.115)" fill="none" stroke="#ff3e55" stroke-width="2"></path>
              </svg>
              Save for later</span>
          </a>
          <%= link_to remove_product_form_cart_path(remove_product: {product_id: product.id}), method:
            :delete, remote: true, class: 'text-with-icon decoration-none remove-product-cart' do %>
            <span class="icon-remove"></span>
            Remove
            <% end %>
        </div>
        <p class="wieight600">There’s 13 people viewing this product right now.</p>
      </div>
    </div>
  </div>
</div>
