<div class="container">
  <div class="row">
    <div class="col-lg-12">
        <div class="mb-3 mt-5">
            <a href="" class="red-text decoration-none btn-light-hvr px-3 py-2 btn-radius" ><span
                    class="icon-chevron-left-solid pr-2"></span>Continue shopping </a>
        </div>
        <h3>Ya basket</h3>
    </div>
  </div>
  <div id="cart">
    <% if @products.present? && @products.length > 0 %>
      <div class="row mt-4">
        <div class="col-lg-8">
          <div id="display-cart">
            <% @products.each do |product| %>
              <% @cart.each do |cart_item| %>
                <% if product.id == cart_item[:product_id].to_i %>
                  <%= render 'buyers/cart/cart_item', cart_item: cart_item, product: product %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="your-detail-right yo-white-card box-border">
            <h5 class="mb-3">Order Summary</h5>
            <% PAYMENT_TYPES.each_with_index do |payment_type, index| %>
              <div class="d-flex">
              <% next_type = PAYMENT_TYPES[index+1] %>
                  <% if next_type.present? && payment_type[:type] == next_type[:type] %>
                    <label class="checkbox-blk radiobox-blk">
                      <%= radio_button_tag :pay_with, "#{payment_type[:name]}", payment_method(@selected_payment_method, payment_type[:name]), class: '', data: {url: update_selected_payment_method_path, method: 'POST', remote: true } %>
                      <span class="checkmark"></span>
                      <span class="mr-3 pay-cards">
                        <%= image_tag "#{payment_type[:name]}.svg" %>
                      </span>
                      <span class="mr-3 pay-cards">
                        <%= image_tag "#{next_type[:name]}.svg" %>
                      </span>
                    </label>
                  <% elsif payment_type[:type] == "paypal" %>
                  <label class="checkbox-blk radiobox-blk">
                      <%= radio_button_tag :pay_with, "#{payment_type[:name]}", payment_method(@selected_payment_method, payment_type[:name]), class: '', data: {url: update_selected_payment_method_path, method: 'POST', remote: true } %>
                      <span class="checkmark"></span>
                      <span class="mr-3 pay-cards">
                        <%= image_tag "#{payment_type[:name]}.svg" %>
                      </span>
                    </label>
                  <% end %>
              </div>
            <% end %>
            <hr>
            <div class="d-flex justify-content-between mb-2">
              <span>
                <strong>Sub Total</strong>
              </span>
              <span id="cart-sub-total"><%= get_price_in_pounds(@order_amount.present? ? @order_amount[:sub_total] : 0) %></span>
            </div>
            <div class="d-flex justify-content-between">
              <span>
                <strong>Delivery</strong>
              </span>
              <span>Free</span>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
              <span>
                <strong>Order Total</strong>
              </span>
              <span id="cart-total"><%= get_price_in_pounds(@order_amount.present? ? @order_amount[:total] : 0) %></span>
            </div>
            <hr>
            <div id="checkout-buttons">
            <div id="proceed" style="display: none;">
              <%= link_to "PROCEED TO CHECKOUT", checkout_path, class: "btn btn-lg btn-radius px-4 btn-primary w-100 mb-2" %>
            </div>
              <div id="paypal-button" style="display: none;">
                <%= render 'shared/checkout/paypal_express_checkout_button' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
    <div class="text-center">
      There is no product in the cart yet.
    </div>
    <% end %>
  </div>
</div>
<%=%>

<script>
$(document).ready(function() {
  $('input[type=radio]').each(function () {
    if (this.value == 'visa-card' && this.checked) {
      hideAllPaymentButtons();
      onThisPaymentButton('proceed');
    }
    else if (this.value == 'paypal' && this.checked) {
      hideAllPaymentButtons();
      onThisPaymentButton('paypal-button');
    }
    else if (this.value == 'g-pay' && this.checked) {
      hideAllPaymentButtons();
      onThisPaymentButton('proceed');
    }
  });
});
$('body').on('change', 'input[type=radio][name="pay_with"]', function() {
  if (this.value == 'visa-card') {
    hideAllPaymentButtons();
    onThisPaymentButton('proceed');
  }
  else if (this.value == 'paypal') {
    hideAllPaymentButtons();
    onThisPaymentButton('paypal-button');
  }
  else if (this.value == 'g-pay' && this.checked) {
      hideAllPaymentButtons();
      onThisPaymentButton('proceed');
  }
});

function hideAllPaymentButtons() {
  $('#proceed').hide();
  $('#paypal-button').hide();
}

function onThisPaymentButton(id) {
  $(`#${id}`).show();
}
</script>