<div class="container-fluid pdp-pad pdp-cart">
  <div class="row">
    <div class="col-lg-12">
        <div class="mb-3 mtop-28">
            <a href="" class="red-text decoration-none btn-light-hvr px-3 py-2 btn-radius bold" ><span
                    class="icon-chevron-left-solid pr-2 mm-text"></span>Continue shopping </a>
        </div>
        <h3>Ya basket</h3>
    </div>
  </div>
  <% if @cart.empty? %>
    <div id="cart" class="empty-card-height">
  <% else %>
    <div id="cart">
  <% end %>
    <% if @products.present? && @products.length > 0 %>
      <div class="row">
        <div class="col-lg-8 pr-xl-5">
          <div id="display-cart">
            <% @products.each do |product| %>
              <% @cart.each do |cart_item| %>
                <% if product.id == cart_item[:product_id].to_i %>
                  <%= render 'buyers/cart/cart_item', cart_item: cart_item, product: product %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="your-detail-right yo-white-card box-border">
            <h6 class="mb-3">How would you like to pay?</h6>
            <% PAYMENT_TYPES.each_with_index do |payment_type, index| %>
              <div class="d-flex">
              <% next_type = PAYMENT_TYPES[index+1] %>
                  <% if next_type.present? && payment_type[:type] == next_type[:type] %>
                    <label class="checkbox-blk radiobox-blk">
                      <%= radio_button_tag :pay_with, "#{payment_type[:name]}", payment_method(@selected_payment_method, payment_type[:name]), class: '', data: {url: update_selected_payment_method_path, method: 'POST', remote: true } %>
                      <span class="checkmark"></span>
                      <span class="mr-3 pay-cards">
                        <%= image_tag "#{payment_type[:name]}.svg" %>
                      </span>
                      <span class="mr-3 pay-cards">
                        <%= image_tag "#{next_type[:name]}.svg" %>
                      </span>
                    </label>
                  <% elsif payment_type[:type] == "paypal" %>
                  <label class="checkbox-blk radiobox-blk">
                      <%= radio_button_tag :pay_with, "#{payment_type[:name]}", payment_method(@selected_payment_method, payment_type[:name]), class: '', data: {url: update_selected_payment_method_path, method: 'POST', remote: true } %>
                      <span class="checkmark"></span>
                      <span class="mr-3 pay-cards">
                        <%= image_tag "#{payment_type[:name]}.svg" %>
                      </span>
                    </label>
                  <% end %>
              </div>
            <% end %>
            <div class="sub-main-total mt-3">
              <div class="d-flex justify-content-between mb-2 sb-total">
                <span>
                  <strong>Sub Total</strong>
                </span>
                <span id="cart-sub-total"><%= get_price_in_pounds(@order_amount.present? ? @order_amount[:sub_total] : 0) %></span>
              </div>
              <div class="d-flex justify-content-between sb-total">
                <span>
                  <strong>Delivery</strong>
                </span>
                <span>Free</span>
              </div>
            </div>
            <div class="sub-main-total">
              <div class="d-flex justify-content-between sb-total">
                <span>
                  <strong>Order Total</strong>
                </span>
                <span id="cart-total"><%= get_price_in_pounds(@order_amount.present? ? @order_amount[:total] : 0) %></span>
                <input type="hidden" value="<%= @order_amount.present? ? @order_amount[:total] : 0 %>" id='cart-total-hidden'>
              </div>
            </div>
            
            <div id="checkout-buttons">
            <div id="proceed" style="display: none;">
              <%= link_to "PROCEED TO CHECKOUT", checkout_path, class: "btn btn-lg btn-radius px-4 btn-primary w-100 mb-2" %>
            </div>
            <div class="text-center pt-2">
              <span class="font-14px black-text" style="opacity: 50%;">VAT Included (where applicable)</span>
            </div>
              <div id="paypal-button" style="display: none;">
                <%= render 'shared/checkout/paypal_express_checkout_button' %>
              </div>
              <div id="google-pay-button" style="display: none;">
                <%= render 'shared/checkout/google_pay_button' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% elsif current_buyer.nil?%>
      <div class="text-center d-flex flex-column align-items-center">
        <span class="mb-3">Ya Basket is empty </span>
        <span>Sign in too see your saved later and get shopping!</span>
        <%= link_to "Sign in",new_buyer_session_path, class: "btn sign-in-basket-btn btn-radius px-4 btn-primary btn-sm mb-2" %>
    </div>
    <% else %>
    <div class="text-center empty-card-height">
      Ya Basket is empty
    </div>
    <% end %>
  </div>
</div>
<%= render 'shared/bottom_subscribe_news_letter' %>

<script>
$(document).ready(function() {
  $('input[type=radio]').each(function () {
    if (this.value == 'visa-card' && this.checked) {
      hideAllPaymentButtons();
      onThisPaymentButton('proceed');
    }
    else if (this.value == 'paypal' && this.checked) {
      hideAllPaymentButtons();
      onThisPaymentButton('paypal-button');
    }
    else if (this.value == 'g-pay' && this.checked) {
      hideAllPaymentButtons();
      onThisPaymentButton('google-pay-button');
    }
  });
});
$('body').on('change', 'input[type=radio][name="pay_with"]', function() {
  if (this.value == 'visa-card') {
    hideAllPaymentButtons();
    onThisPaymentButton('proceed');
  }
  else if (this.value == 'paypal') {
    hideAllPaymentButtons();
    onThisPaymentButton('paypal-button');
  }
  else if (this.value == 'g-pay' && this.checked) {
      hideAllPaymentButtons();
      onThisPaymentButton('google-pay-button');
  }
});

function hideAllPaymentButtons() {
  $('#proceed').hide();
  $('#paypal-button').hide();
  $('#google-pay-button').hide();
}

function onThisPaymentButton(id) {
  $(`#${id}`).show();
}
</script>
