<div id="update-subscription-seller-side">
  <% if subscription_status_active_or_not_started? %>
    <%if seller_requested_cancelation? %>
      <div><h6>You have applied for cancelation of subscription<h6></div>
    <%else%>
      <%= render 'sellers/subscriptions/information_block'%>
      <a href="#" name="" class="btn btn-sm btn-radius px-4 btn-primary mb-3 ml-3 end-subscription">End Subscription</a>
      <%= render 'shared/sellers/subscription_end_modal', confirm_statement: 'Are you sure you want to pass up all the great benefits of Yavolo?', id: 'stripe-subscription-end',path: '#', data: "", modal_id: 'stripe-subscription-end-confirm' %>
      <%= render 'shared/sellers/end_subscription_reason_popup', confirm_statement: "We're sorry to hear you're ending your subscription with yavolo.", id: 'stripe-subscription-reason-end',path: '#', data: sellers_remove_subscription_path(@seller.seller_stripe_subscription), modal_id: 'stripe-subscription-end-reason-confirm' %>
    <%end%>
  <%elsif subscription_canceled? %>
    <table class="table mt-2 subscription-table">
      <tbody>
        <tr>
          <td class="seller-subscription-td-width">Subscription status</td>
          <td >Canceled</td>
        </tr>
        <tr>
          <td>Canceled at:</td>
          <td><%= canceled_at %></td>
        </tr>
      </tbody>
    </table>
  <%else%>
    <div><h6>Please add your card to get subscription<h6></div>
  <%end%>
</div>

<%= render 'sellers/subscriptions/subscription_end_good_bye_popup'%>
