    <div class="main-page">
        <header>
            <div class="container">
                <div class="signin-header d-flex justify-content-between align-items-center">
                    <div class="signin-logo d-flex align-items-center my-4">
                    <div class="logo-inner">
                        <%= image_tag "Yavolo_Logo_WarmRed.png", style: "cursor: pointer;text-decoration: none;" %>
                        <p class="my-2" style="color: #640529; font-size: 20px;">A good deal better</p>
                    </div>
                    <div class="back-yavolo">
                        <a href="<%= root_path %>"><i class="fas fa-angle-left"></i> Back to Yavolo</a>
                    </div>
                </div>
                    <div class="right">
                        <a href="<%= new_registration_path(resource_name) %>" class="account-link">Don’t have an account yet?</a>
                        <a href="<%= new_registration_path(resource_name) %>" class="register-now-bt">Register Now</a>
                    </div>
                </div>
            </div>
        </header>
        <div class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col col-12 col-lg-6 col-md-8 mx-auto">
                        <div class="sign-in">
                            <h3 class="text-center mb-4" style="color: #640529;font-size: 48px;">Sign In</h3>
                            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>     
                                <div class="form-group general-mrgn">
                                    <label for="exampleInputEmail1">Email Address *</label>
                                    <%= f.email_field :email, autofocus: true, class: "form-control" ,id: "exampleInputEmail1",placeholder: "Email Address" %>
                                </div>
                                <div class="form-group general-mrgn">
                                    <label for="exampleInputPassword1">Password *</label>
                                    <%= f.password_field :password, autocomplete: "current-password", class: "form-control", id: "exampleInputPassword1", placeholder:"Password" %>
                                </div>
                                <div class="d-flex justify-content-between flex-wrap mb-0">
                                    <div class="form-check mb-0">
                                        <label class="check-container">Stay signed in
                                             <input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div>
                                      <%= link_to "Forgotten your password?", new_password_path(resource_name) , class: "forgt-text" %>
                                        
                                    </div>
                                </div>
                                <%= f.submit "Sign in", class: "btn btn-primary btn-lg btn-block general-mrgn" %>
                                
                                <div class="mid text-center">
                                    <p>OR</p>
                                </div>
                                <h4 class="text-center" style="color: #640529; font-size: 16px;font-weight: 600;">
                                    Continue with</h4>
                                <div class="social-icons general-mrgn">
                                    <a href="<%= user_google_oauth2_omniauth_authorize_path %>" data-method="post" ><span><%= image_tag "google (2).png" %></span> &nbsp; Google</a>
                                    <a href="<%= user_facebook_omniauth_authorize_path %>" data-method="post" ><span><%= image_tag "facebook (4).png" %></span>&nbsp;Facebook</a>
                                    <a href="" data-method="post"><span><%= image_tag "apple (1).png" %></span>&nbsp; Apple</a>
                                </div>
                                <p class="text-center" style="color: #640529; font-size: 14px;">Terms of use: Lorem
                                    ipsum dolor sit amet, consectetur adipiscing elit. Utrum igitur tibi litteram videor
                                    an totas paginas commovere? Vulgo enim dicitur: Iucundi acti labores</p>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       <footer class="" style="background-color: #F9EDE1">
        <div class="container-fluid">
            <div class="signin-footer">
                <span>
                    <%= image_tag "Yavolo_Logo_WarmRed.png" %>                
                </span>
            </div>
        </div>

    </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script>
        $('input[type="submit"]').click(function () {
            $('input[type="checkbox"]').each(function () {
                $(this).prop('checked', false);
            });
        });
    </script>
</body>