<div class="main-page">

  <% featured_images_collage = render "admin/yavolos/manual_bundles/featured_image_pattern/featured_image_collage" %>

  <div class="main-content">
    <div class="container-fluid pdp-pad">
      <div class="px-xl-5 mt-5 ">
        <a href="#" class="red-text decoration-none btn-light-hvr btn-radius py-2 px-3 mr-5"><span
          class="icon-chevron-left-solid pr-2"></span>Back to result</a>
        <span><a href="" class="decoration-none">Home</a>/<a href="" class="decoration-none">Page</a>/<a
          href="" class="decoration-none">Page</a>/<a href="" class="decoration-none">Page</a></span>
      </div>
      <div class="row mt-4 px-xl-5">
        <div class="col-xl-6">
          <div class="pdp-drag-slider">
            <div id="main-slider" class="splide splide-pad">
              <div class="splide__track">
                <div>
                                        <span>
                                            <%= image_tag "badge.png", class: "mr-0 my-4" %>

                                        </span>
                </div>
                <ul class="splide__list">
                  <li class="splide__slide">
                    <%= featured_images_collage %>
                  </li>
                  <% slider_images = @yavolo_bundle.pictures %>
                  <% slider_images.each do |image| %>
                    <li class="splide__slide">
                      <%= image_tag image.name.url %>
                    </li>
                  <% end %>

                </ul>
                <div class="text-right pr-3">
                  <h5> A good deal better.</h5>
                </div>
              </div>
            </div>
            <div id="thumbnail-slider" class="splide">
              <div class="splide__track">
                <ul class="splide__list">
                  <li class="splide__slide slide-bundle-collage-image">
                    <%= featured_images_collage %>
                  </li>
                  <% slider_images = @yavolo_bundle.pictures %>
                  <% slider_images.each do |image| %>
                    <li class="splide__slide">
                      <%= image_tag image.name.url %>
                    </li>
                  <% end %>

                </ul>
              </div>
            </div>
          </div>


        </div>
        <div class="col-xl-6">
          <div class="single-product single-pdp-pad">
            <a href="" class="decoration-none red-text"><span class="icon-Icon-awesome-heart heart-icomoon"></span></a>
            <h4 class="black-text my-0"><%= @yavolo_bundle["title"] %></h4>
            <span class="mm-text">Sold by <%= get_sellers_of_yavolo_bundle(@yavolo_bundle) %></span>
            <ul class="rating d-flex mt-1">
              <li class="mr-1 active"><span class="icon-star"></span></li>
              <li class="mr-1 active"><span class="icon-star"></span></li>
              <li class="mr-1 active"><span class="icon-star"></span></li>
              <li class="mr-1 active"><span class="icon-star"></span></li>
              <li class="mr-1"><span class="icon-star"></span></li>
              <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
            </ul>
            <div class="d-flex align-items-center flex-wrap mt-3 row">
              <div class="col-lg-4">
                <div class="pr-5">
                  <h3 class="black-text mb-0 mt-0">£<%= @yavolo_bundle["price"] %></h3>
                  <span class="font-14px black-text" style="opacity: 50%;">VAT Included</span>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="d-flex delivery-note align-items-center py-3">
                  <%= image_tag "award_icon.png", class: "icon--award" %>
                  <span class="in-text"><strong>100% EXCLUSIVE. </strong> <br/>
                  This deal is only found on Yavolo.
                  </span>
                </div>
              </div>


            </div>

            <%= form_tag(add_to_cart_path, id: "buyer-products-quantity", method: :post, remote: true) do %>
              <div class="dropdown quantity-dropdown text-center mt-3 mb-2 w-100">
                <button class="btn dropdown-toggle btn-lg" type="button" name="product[quantities]" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                  Quantity: <%= number_field_tag 'product[quantity]', 1, class: "update-product-quantity" %>
                </button>
                <div class="dropdown-menu p-3 mt-0" aria-labelledby="dropdownMenuButton">
                  <% (1..10).each do |stock_quantity| %>
                    <a class="dropdown-item p-1 click-product-quantity" href="javascript:void(0)" data-quantity="<%= stock_quantity %>"><span><%= stock_quantity %></span></a>
                  <% end %>
                </div>
              </div>
              <%= hidden_field_tag 'product[product_id]', @yavolo_bundle["id"] %>
              <%= hidden_field_tag 'page', 'pdp' %>
              <div>
                <% if params[:preview_listing] || @yavolo_bundle["status"] != 'live' %>
                  <%= button_tag "BUY IT NOW", value: "BUY IT NOW", :disabled => true, id: "buy_button", class: "btn btn-lg btn-radius px-4 buy-it-now btn-primary w-100 mb-2" %>
                  <%= button_tag "ADD TO BASKET", value: "ADD TO BASKET", :disabled => true, id: "add_basket_button", class: "btn btn-lg btn-radius px-4 btn-outline-primary w-100 mb-2" %>
                <% else %>
                  <%= button_tag "BUY IT NOW", value: "BUY IT NOW", id: "buy_button", class: "btn btn-lg btn-radius px-4 buy-it-now btn-primary w-100 mb-2" %>
                  <%= button_tag "ADD TO BASKET", value: "ADD TO BASKET", id: "add_basket_button", class: "btn btn-lg btn-radius px-4 btn-outline-primary w-100 mb-2" %>
                <% end %>

              </div>
            <% end %>

            <div class="d-flex delivery-note align-items-center py-3">
              <span class="icon-orders--delivery"></span>
              <span class="in-text"><strong>FREE Delivery </strong> <br/>FREE Delivery Get it by
                                    Friday 16th July 2021</span>
            </div>
            <div class="d-flex delivery-note align-items-center py-3">
              <span class="icon-stopwatch icons-ico"></span>
              <span class="in-text"><strong>Almost sold out.</strong> There’s only 2 left and <br>
                                    it’s in more than 10 people’s baskets</span>
            </div>
            <div class="d-flex delivery-note align-items-center py-3">
              <span class="icon-stopwatch icons-ico"></span>
              <span class="in-text"><strong>30 Day Returns.</strong> 30 days exchange or full <br>
                                    refund for peace of mind.</span>
            </div>

            <%= render 'buyers/products/featured_reviews' %>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="pdp-collapse px-xl-5">
            <div id="accordion" class="my-4">
              <%= render "buyers/products/yavolo_bundle/yavolo_description" %>
              <%= render "buyers/products/yavolo_bundle/yavolo_specification" %>
              <%= render "buyers/products/yavolo_bundle/yavolo_return_and_terms" %>
              <%= render "buyers/products/yavolo_bundle/yavolo_reviews_bottom" %>

            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="yo-offwhite-card pdp-slick-bg mx-lg-4 mb-5 mt-4">
            <div class="text-center">
              <label class="lable-tag btn btn-sm btn-radius px-4 btn-danger py-2 pdp-label-tag">
                MORE
                FORM THIS SELLER</label>
            </div>
            <div class="pdp-slick-slider">
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                    <label class="lable-tag btn btn-sm btn-radius-6 px-4 btn-danger py-0"><span
                      class="icon-Yavolo-top-seller-icon mr-2"></span> Top
                      Seller</label>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="mx-lg-4">
            <div class="d-flex justify-content-between pdp-slick-bg align-items-center flex-wrap mx-3">
              <h5 class="mb-3">Similar Products</h5>
              <p class="mt-2 mm-text pr-5 mr-5 similar-page-pd">Page <span>1</span>of <span>3</span>
              </p>
            </div>
            <div class="pdp-nbg-slick-slider pdp-slick-bg">
              <div class="pdp-card mt-4">
                <div class="pdp-img">
                  <%= image_tag "Image496.png" %>
                  <label class="lable-tag btn btn-sm btn-radius-6 px-4 btn-danger py-0"><span
                    class="icon-Yavolo-top-seller-icon mr-2"></span> Top Seller</label>
                </div>
                <div class="pdp-body">
                  <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72 Mugs
                    Bundle
                  </p>
                  <ul class="rating d-flex">
                    <li class="mr-1 active"><span class="icon-star"></span></li>
                    <li class="mr-1 active"><span class="icon-star"></span></li>
                    <li class="mr-1 active"><span class="icon-star"></span></li>
                    <li class="mr-1 active"><span class="icon-star"></span></li>
                    <li class="mr-1"><span class="icon-star"></span></li>
                    <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                  </ul>
                  <p class="pdp-price black-text">£229.99</p>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="yo-offwhite-card pdp-slick-bg mx-lg-4 mb-5 mt-4">
            <div class="text-center">
              <label class="lable-tag btn btn-sm btn-radius px-4 btn-danger py-2 pdp-label-tag">
                MORE
                FORM THIS SELLER</label>
            </div>
            <div class="pdp-slick-slider">
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                    <label class="lable-tag btn btn-sm btn-radius-6 px-4 btn-danger py-0"><span
                      class="icon-Yavolo-top-seller-icon mr-2"></span> Top
                      Seller</label>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
              <div>
                <div class="pdp-card mt-4">
                  <div class="pdp-img">
                    <%= image_tag "Image496.png" %>
                  </div>
                  <div class="pdp-body">
                    <p class="black-text pdp-min-p">PixMax Sublimation Mug Press plus 72
                      Mugs
                      Bundle</p>
                    <ul class="rating d-flex">
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1 active"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="icon-star"></span></li>
                      <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                    </ul>
                    <p class="pdp-price black-text">£229.99</p>
                    <a href="#" class="btn btn-radius px-4 btn-primary w-100">Add to
                      basket</a>
                    <div class="d-flex delivery-note align-items-center py-3">
                      <span class="icon-orders--delivery"></span>
                      <span class="in-text">FREE 1-Day Delivery <br/>Get it
                                                    tomorrow</span>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="mx-lg-4">
            <div class="d-flex justify-content-between pdp-slick-bg align-items-center flex-wrap mx-3">
              <h5 class="mb-3">Similar Products</h5>
              <p class="mt-2 mm-text pr-5 mr-5 similar-page-pd">Page <span>1</span>of <span>3</span>
              </p>
            </div>
            <div class="pdp-review-vertical-slider pdp-slick-bg">
              <div class="review-card mt-4">
                <div class="review-header d-flex justify-content-between">
                  <span>John Smith</span>
                  <span>22/04/2021</span>
                </div>
                <ul class="rating d-flex mb-2">
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                </ul>
                <div class="d-flex">
                  <div>
                    <p class="black-text font-14px pr-3 mb-0">Lorem ipsum dolor sit
                      amet, consectetur adipiscing elit. Nulla id aliquet erat, eu
                      congue arcu. Quisque quis mi turpis. Curabitur eu mauris
                      malesuada, posuere dui eget, placerat nisi. Donec lacus
                      magna,
                      imperdiet nec molestie et.</p>
                  </div>
                </div>
              </div>
              <div class="review-card mt-4">
                <div class="review-header d-flex justify-content-between">
                  <span>John Smith</span>
                  <span>22/04/2021</span>
                </div>
                <ul class="rating d-flex mb-2">
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                </ul>
                <div class="d-flex">
                  <div>
                    <p class="black-text font-14px pr-3 mb-0">Lorem ipsum dolor sit
                      amet, consectetur adipiscing elit. Nulla id aliquet erat, eu
                      congue arcu. Quisque quis mi turpis. Curabitur eu mauris
                      malesuada, posuere dui eget, placerat nisi. Donec lacus
                      magna,
                      imperdiet nec molestie et.</p>
                  </div>
                </div>
              </div>
              <div class="review-card mt-4">
                <div class="review-header d-flex justify-content-between">
                  <span>John Smith</span>
                  <span>22/04/2021</span>
                </div>
                <ul class="rating d-flex mb-2">
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                </ul>
                <div class="d-flex">
                  <div>
                    <p class="black-text font-14px pr-3 mb-0">Lorem ipsum dolor sit
                      amet, consectetur adipiscing elit. Nulla id aliquet erat, eu
                      congue arcu. Quisque quis mi turpis. Curabitur eu mauris
                      malesuada, posuere dui eget, placerat nisi. Donec lacus
                      magna,
                      imperdiet nec molestie et.</p>
                  </div>
                </div>
              </div>
              <div class="review-card mt-4">
                <div class="review-header d-flex justify-content-between">
                  <span>John Smith</span>
                  <span>22/04/2021</span>
                </div>
                <ul class="rating d-flex mb-2">
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                </ul>
                <div class="d-flex">
                  <div>
                    <p class="black-text font-14px pr-3 mb-0">Lorem ipsum dolor sit
                      amet, consectetur adipiscing elit. Nulla id aliquet erat, eu
                      congue arcu. Quisque quis mi turpis. Curabitur eu mauris
                      malesuada, posuere dui eget, placerat nisi. Donec lacus
                      magna,
                      imperdiet nec molestie et.</p>
                  </div>
                </div>
              </div>
              <div class="review-card mt-4">
                <div class="review-header d-flex justify-content-between">
                  <span>John Smith</span>
                  <span>22/04/2021</span>
                </div>
                <ul class="rating d-flex mb-2">
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                </ul>
                <div class="d-flex">
                  <div>
                    <p class="black-text font-14px pr-3 mb-0">Lorem ipsum dolor sit
                      amet, consectetur adipiscing elit. Nulla id aliquet erat, eu
                      congue arcu. Quisque quis mi turpis. Curabitur eu mauris
                      malesuada, posuere dui eget, placerat nisi. Donec lacus
                      magna,
                      imperdiet nec molestie et.</p>
                  </div>
                </div>
              </div>
              <div class="review-card mt-4">
                <div class="review-header d-flex justify-content-between">
                  <span>John Smith</span>
                  <span>22/04/2021</span>
                </div>
                <ul class="rating d-flex mb-2">
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                </ul>
                <div class="d-flex">
                  <div>
                    <p class="black-text font-14px pr-3 mb-0">Lorem ipsum dolor sit
                      amet, consectetur adipiscing elit. Nulla id aliquet erat, eu
                      congue arcu. Quisque quis mi turpis. Curabitur eu mauris
                      malesuada, posuere dui eget, placerat nisi. Donec lacus
                      magna,
                      imperdiet nec molestie et.</p>
                  </div>
                </div>
              </div>
              <div class="review-card mt-4">
                <div class="review-header d-flex justify-content-between">
                  <span>John Smith</span>
                  <span>22/04/2021</span>
                </div>
                <ul class="rating d-flex mb-2">
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                </ul>
                <div class="">
                  <div>
                    <p class="black-text font-14px pr-3 mb-0">Lorem ipsum dolor sit
                      amet, consectetur adipiscing elit. Nulla id aliquet erat, eu
                      congue arcu. Quisque quis mi turpis. Curabitur eu mauris
                      malesuada, posuere dui eget, placerat nisi. Donec lacus
                      magna,
                      imperdiet nec molestie et.</p>
                  </div>
                </div>
              </div>
              <div class="review-card mt-4">
                <div class="review-header d-flex justify-content-between">
                  <span>John Smith</span>
                  <span>22/04/2021</span>
                </div>
                <ul class="rating d-flex mb-2">
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                </ul>
                <div class="">
                  <div>
                    <p class="black-text font-14px pr-3 mb-0">Lorem ipsum dolor sit
                      amet, consectetur adipiscing elit. Nulla id aliquet erat, eu
                      congue arcu. Quisque quis mi turpis. Curabitur eu mauris
                      malesuada, posuere dui eget, placerat nisi. Donec lacus
                      magna,
                      imperdiet nec molestie et.</p>
                  </div>
                </div>
              </div>
              <div class="review-card mt-4">
                <div class="review-header d-flex justify-content-between">
                  <span>John Smith</span>
                  <span>22/04/2021</span>
                </div>
                <ul class="rating d-flex mb-2">
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1 active"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="icon-star"></span></li>
                  <li class="mr-1"><span class="px-3 rateNo">(144)</span></li>
                </ul>
                <div class="">
                  <div>
                    <p class="black-text font-14px pr-3 mb-0">Lorem ipsum dolor sit
                      amet, consectetur adipiscing elit. Nulla id aliquet erat, eu
                      congue arcu. Quisque quis mi turpis. Curabitur eu mauris
                      malesuada, posuere dui eget, placerat nisi. Donec lacus
                      magna,
                      imperdiet nec molestie et.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="subscribe-bottom">
      <div class="container-fluid ">
        <div class="row">
          <div class="col-lg-12 subscribe-bottom-inner">
            <div>
              <h3>You’ve reached the bottom but it doesn’t have to end</h3>
              <p>You’ve reached the bottom but it doesn’t have to end</p>
              <div class="dropdown-filter-field">
                <div class="search-field mb-0 subscribe-field">
                  <input type="text" placeholder="Enter your email" class="">
                  <a href="#" class="btn btn-radius px-4 red-text btn-light-hvr">Subscribe</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script>

    $(document).ready(function () {
        $('#accordion').on('shown.bs.collapse', function () {
            const panel = $(this).find('.collapse.show');
            $('html, body').animate({
                scrollTop: panel.offset().top - 130
            }, 100);
        });
    })

    $('.pdp-nbg-slick-slider,.pdp-slick-slider,.pdp-review-vertical-slider').slick({
        infinite: true,
        speed: 300,
        slidesToShow: 5,
        slidesToScroll: 1,
        autoplay: true,
        padding: 10,
        responsive: [
            {
                breakpoint: 1025,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1,
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }
        ]
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var main = new Splide('#main-slider', {
            type: 'slide',
            rewind: true,
            pagination: false,
            arrows: true,
        });

        var thumbnails = new Splide('#thumbnail-slider', {
            fixedWidth: 90,
            fixedHeight: 80,
            gap: 5,
            rewind: true,
            pagination: false,
            containe: true,
            isNavigation: true,
            arrows: false,
            breakpoints: {
                767: {
                    fixedWidth: 60,
                    fixedHeight: 50,
                    gap: 5,
                },

            },
        });

        main.sync(thumbnails);
        main.mount();
        thumbnails.mount();
    });
</script>