<section class="overview pt-4 pb-4 admin-delivery-options">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3 class="mt-4 mb-3">Delivery Options</h3>
        <div class="overview-inner d-flex justify-content-between align-items-center flex-wrap">
          <div class="overview-left">
            <h5 class="red-color mb-0">
              Global Delivery Templates
            </h5>
          </div>
          <div class="overview-right">
            <div class="dropdown dropdown-filter mb-3 d-inline-flex">
              <a href="#" class="btn btn-sm btn-radius px-3 btn-link btn-link-dropdown d-inline-flex align-items-center" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions <i class="fa fa-angle-down ml-3" aria-hidden="true"></i></a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to 'Delete', confirm_multiple_deletion_admin_delivery_options_path, class: 'dropdown-item active', data: { remote: true } %>
              </div>
            </div>
            <%= link_to 'Add New Template', new_admin_delivery_option_path, class: 'btn btn-radius px-4 btn-primary btn-sm', data: { remote: true } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="Yavolo-table mt-1 yavolo-center">
        <table class="table">
          <thead>
            <tr>
              <th>
                <div class="checkbox-container delivery-options-select-all-container">
                  <label class="checkbox-blk">
                    <input type="checkbox" class="delivery-option" id="delivery-option-select-all" name="select-all" value="select-all">
                    <span class="checkmark checkmark-white"></span>
                  </label>
                </div>
              </th>
              <th>Delivery Template Name</th>
              <th>Processing Time</th>
              <th>Delivery Time</th>
              <th class="text-center" width="5%">Action</th>
            </tr>
          </thead>
          <tbody id="delivery-options-list">
            <%= render 'delivery_options_list', delivery_options: @delivery_options %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<section class="overview pt-4 pb-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="overview-inner d-flex justify-content-between align-items-center flex-wrap">
          <div class="overview-left">
            <h5 class="red-color">
              Carrier Name
            </h5>
          </div>
          <div class="overview-right">
            <div class="dropdown dropdown-filter mb-3 d-inline-flex">
              <a href="#" class="btn btn-sm btn-radius px-3 btn-link btn-link-dropdown d-inline-flex align-items-center" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions <i class="fa fa-angle-down ml-3" aria-hidden="true"></i></a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to 'Delete', confirm_multiple_deletion_admin_carriers_path, class: 'dropdown-item active', data: { remote: true } %>
              </div>
            </div>
            <%= link_to 'Add New Carrier', new_admin_carrier_path, class: 'btn btn-radius px-4 btn-primary btn-sm' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="Yavolo-table mt-1 yavolo-center mb-5">
        <table class="table">
          <thead>
            <tr>
              <th>
                <label class="checkbox-blk">
                  <div class="carrier-checkbox-container carriers-select-all-container">
                    <input type="checkbox" class="carrier" id="carrier-select-all" name="select-all" value="select-all">
                    <span class="checkmark checkmark-white"></span>
                  </div>
                </label>
              </th>
              <th>Carrier Name</th>
              <th>Mail Class Options</th>
              <th>Status</th>
              <th width="5%" class="text-center">Action</th>
            </tr>
          </thead>
          <tbody id="carriers-list">
            <%= render 'carriers_list', carriers: @carriers %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Delivery Template Form Modal -->
<div class="modal fade" id="deliveryTemplateForm" tabindex="-1" role="dialog" aria-labelledby="deliveryOptionFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body px-lg-3">
        <div id="delivery-template-form"></div>
      </div>
    </div>
  </div>
</div>
<!-- Delivery Template Confirmation Deletion Modal -->
<%= render 'shared/admin/confirmation_deletion_modal' %>
