<div class="container-fluid">
  <div class="row ac-setting-tabs mt-3">
    <h3 class="mt-4 mb-3">Manage Yavolos</h3>
    <%= render "admin/yavolos/product_assignments/sidebar_tabs" %>
    <div class="col-md-9">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="product-assignment" role="tabpanel"
             aria-labelledby="home-tab">
          <div class="d-flex justify-content-between flex-wrap align-items-center mb-2">
            <div>
              <h6 class="mb-0">PROGRAMME: LAST RUN: <%= automatic_bundling_program_last_run_at_text %>; DUE TO RUN: <%= automatic_bundling_program_next_run_at_text %></h6>
            </div>
            <div>
              <a href="#" class="btn btn-sm btn-radius px-4 btn-primary mb-1">Export
                CSV</a>
              <a href="#"
                 class="btn btn-sm btn-radius px-4 btn-primary mb-1" data-toggle="modal"
                 data-target="#productAssignmentSettingsModal">Settings</a>
            </div>
          </div>
          <div class="automatic-yo-tab">
            <section class="seller-order-board automatic-yavolo-board">
              <%= link_to "", products_with_pagination_admin_yavolos_product_assignments_path, class: "d-none product-assignment-tab-hidden-link", data: {remote: true, "original-url": products_with_pagination_admin_yavolos_product_assignments_path} %>
              <div class="row nav nave-auto-tabs product-assignment-tabs" id="myTab" role="tablist">
                <a class="col-lg-3 nav-link" id="home-tab" data-toggle="tab"
                   href="#home" role="tab" aria-controls="home"
                   aria-selected="false" data-tab-type="worthy_yas">
                  <p class="title"><strong>High Priority Yas</strong></p>
                  <div class="detail">
                    <strong><%= human_readable_count(ProductAssignment.worthy_yas_and_worthy_ya_volos.count) %></strong>
                  </div>
                </a>
                <a class="col-lg-3 nav-link" id="home-tab" data-toggle="tab"
                   href="#home" role="tab" aria-controls="home"
                   aria-selected="false" data-tab-type="worthy_volos">
                  <p class="title"><strong>High Priority Volos</strong></p>
                  <div class="detail">
                    <strong><%= human_readable_count(ProductAssignment.worthy_volos_and_worthy_ya_volos.count) %></strong>
                  </div>
                </a>
                <div class="col-lg-3 nav-link" id="home-tab" data-toggle="tab"
                     href="#home" role="tab" aria-controls="home"
                     aria-selected="false" data-tab-type="unworthy_yas">
                  <p class="title"><strong>Low Priority Yas</strong></p>
                  <div class="detail">
                    <strong><%= human_readable_count(ProductAssignment.unworthy_yas_and_unworthy_ya_volos.count) %></strong>
                  </div>
                </div>
                <div class="col-lg-3 nav-link" id="home-tab" data-toggle="tab"
                     href="#home" role="tab" aria-controls="home"
                     aria-selected="false" data-tab-type="unworthy_volos">
                  <p class="title"><strong>Low Priority Volos</strong></p>
                  <div class="detail">
                    <strong><%= human_readable_count(ProductAssignment.unworthy_volos_and_unworthy_ya_volos.count) %></strong>
                  </div>
                </div>
              </div>
            </section>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="Yavolo-table">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>
                        <label class="checkbox-blk">
                          <input type="checkbox"
                                 class="mark-bulk-update">
                          <span
                            class="checkmark checkmark-white"></span>
                        </label>
                      </th>
                      <th>product name</th>
                      <th>catagory</th>
                      <th class="text-center">YAN</th>
                      <th class="text-center">price</th>
                      <th class="text-center">30 Day sales</th>
                      <th class="text-center">30 Day Revenue</th>
                    </tr>
                    </thead>
                    <tbody class="product_assignment_tbody">
                    </tbody>
                  </table>
                </div>
                <div class="product_assignment_paginator_container"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'admin/yavolos/product_assignments/product_assignment_settings_modal' %>