<div class="photo-grid yo-white-card  box-border mt-3">
    <div class="row">
        <div class="add-edit-product-photos <%= form.object.new_record? && params[:dup_product_id].blank? ? 'col-lg-12' : 'col-lg-8' %>">
            <div class="add-photoo text-center <%= form.object.new_record? && params[:dup_product_id].blank? ? 'photos-uploader-section' : '' %>">
                <div class="add-photo-inner">
                    <a href="" class="btn btn-radius px-4 btn-primary photo-btn grid-btn-top show-upload-images-popup">
                      <%=(form.object.new_record? && params[:dup_product_id].blank?) || form.object.pictures.size < 9 ? 'Add Photos' : 'Edit Photos' %>
                    </a>
                  <br>
                    <small class="red-color">Upload images to show your sensational products in all its wonderful glory.</small>
                </div>
            </div>
        </div>
        <div class="col-lg-4 product-photos-section" style="display: <%= form.object.new_record? && params[:dup_product_id].blank? ? 'none' : 'block' %>">
            <div class="photo-grid-img">
                <div class="product-images-inner text-center">
                  <span class="icon-help photos-icon-help"></span>
                    <div class="row product-photos-grid position-relative">
                        <% form.object.pictures.each.with_index do |picture,index| %>
                            <%= form.fields_for :images,picture do |pic_form| %>
                            <% unless pic_form.object.new_record? %>
                                <div class="col-md-4 p-1 p-img-container">
                                <div class="grid-single-img">
                                    <span>
                                        <%= image_tag pic_form.object.name.url %>
                                    </span>
                                    <div class="img-star-icon">
                                        <span class="icon-reviews"></span>
                                    </div>
                                    <div class="img-del-icon rm-img" data-imgindex="<%=index%>">
                                        <span class="fas fa-trash-alt">
                                        </span>
                                        <%= pic_form.check_box :_destroy,name: "product[images_attributes][#{index}][_destroy]" ,style: 'display:none' %>
                                        <%= pic_form.hidden_field :id, name: "product[images_attributes][#{index}][id]", value: pic_form.object.id %>

                                        <% if params[:dup_product_id].present? %>
                                        <%=hidden_field_tag 'product[copy_images][][remote_name_url]', "#{pic_form.object.name.url}", id: "dupimg#{index}" %>
                                        <% end %>

                                    </div>
                                </div>
                                </div>
                            <% end %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="photo-text">Photos</h4>
    </div>
</div>
<%= render partial: "shared/products/upload_images_popup", locals: { form: form } %>
