<div class="pricing-quantity-section" style="border: 1px solid #ccc">

<%= form.label :price %>
<%= form.text_field :price %>

<%= form.label :stock %>
<%= form.text_field :stock %>

<%= form.label :sku %>
<%= form.text_field :sku %>

<%= form.label :ean %>
<%= form.text_field :ean %>

</div>
