<div class="row">
    <div class="col-lg-8">
        <div class="pricing-quality box-border yo-white-card">
            <h4>Pricing and Quantity</h4>
            <hr>
            <div>
                    <% has_error, msg = get_errors(form, :price) %>
                    <div class="form-group general-mrgn <%= has_error ? 'error-field' : '' %>">
                        <%= form.label :price, 'Price (Inc VAT if applicable)' %>
                        <%= form.text_field :price, class: 'form-control', placeholder: '0.00' %>
                        <%="<small class='form-text'>#{msg}</small>".html_safe if has_error %>
                    </div>

                    <% has_error, msg = get_errors(form, :stock) %>
                    <div class="form-group general-mrgn <%= has_error ? 'error-field' : '' %>">
                        <%= form.label 'Quantity*' %>
                        <%= form.number_field :stock, class: 'form-control', min: 0 %>
                        <%="<small class='form-text'>#{msg}</small>".html_safe if has_error %>
                    </div>

                    <% has_error, msg = get_errors(form, :sku) %>
                    <div class="form-group general-mrgn <%= has_error ? 'error-field' : '' %>">
                        <%= form.label :sku, 'SKU' %>
                        <%= form.text_field :sku, class: 'form-control' %>
                        <%="<small class='form-text'>#{msg}</small>".html_safe if has_error %>
                    </div>

                    <% has_error, msg = get_errors(form, :ean) %>
                    <div class="form-group general-mrgn <%= has_error ? 'error-field' : '' %>">
                        <%= form.label :ean, 'EAN' %>
                        <%= form.text_field :ean, class: 'form-control' %>
                        <%="<small class='form-text'>#{msg}</small>".html_safe if has_error %>
                    </div>
            </div>
        </div>
    </div>
    <%= render partial: "shared/products/yavolo_discount", locals: { form: form } %>
</div>
<script>
$(document).ready(function(){
    $("#product_price").inputmask('currency', {
    prefix: '£',
    rightAlign: false
  });
})
</script>
