<div class="product-catagory-inner yo-white-card box-border">
  <h5>Filter Groups and Variations</h5>
  <form action="">
    <div class="form-group form-group-vertical align-items-center form-group-vertical-responsive">
      <label for="exampleInputPassword1" class="text-left pr-3">Filter Groups and Variations Assigned to
        Category</label>
      <select class="form-control">
        <option>Colour</option>
      </select>
      <a href="#" class="pl-3 pluse-btn">+</a>
    </div>
  </form>
  <div class="Yavolo-table">
    <table class="table">
      <thead>
      <tr>
        <th>
          <label class="checkbox-blk" checkbox-blk-box>
            <input type="checkbox">
            <span class="checkmark checkmark-white"></span>
          </label>
        </th>
        <th>Name</th>
        <th>type</th>
        <th>filters</th>
        <th>sort order</th>
        <th class="text-center" width="10%">Actions</th>
      </tr>
      </thead>
      <tbody>
      <%# debugger %>
      <% [[FilterGroup.global.includes(:filter_in_categories).where.not(id: @category.excluded_filter_groups.pluck(:id))] + @category.filter_groups].flatten.uniq.each do |fg| %>
        <tr class="filter-group-<%= fg.id %>">
          <td>
            <label class="checkbox-blk">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </td>
          <td><%= fg.name %></td>
          <td><%= fg.filter_group_type %></td>
          <td><%= fg.filter_in_categories.pluck(:filter_name).join(",") %></td>
          <td>@mdo</td>
          <td class="text-center">
            <%= link_to "Remove", remove_filter_group_association_admin_category_path(@category,filter_group_id: fg.id) ,method: :delete,
                        data: { confirm: 'Are you sure?', remote: true }, class: "btn btn-sm btn-radius px-4 btn-secondary w-100" %>
          </td>
        </tr>
      <% end %>


      </tbody>
    </table>
  </div>
  <form action="">
    <div class="form-group form-group-vertical align-items-center form-group-vertical-responsive">
      <label for="exampleInputPassword1" class="text-left pr-3">Linking Filter</label>
      <select class="form-control">
        <option>ArvindPanchmatia@gmail.co.uk</option>
      </select>
      <a href="#" class="pl-3 pluse-btn plus-btn-hide">+</a>
    </div>
  </form>
</div>