<tr class="filter-group-<%= fg.id %>">
  <td><%= fg.name %></td>
  <td><%= fg.filter_group_type.titleize %></td>
  <td><%= fg.filter_in_categories.pluck(:filter_name).join(",") %></td>
  <td class="text-center"><%=  fg.filter_in_categories.pluck(:sort_order).join(',') %></td>
  <td class="text-center">
    <%= link_to "Remove", confirm_remove_filter_group_association_admin_category_path(@category, filter_group_id: fg.id), data: {remote: true}, class: "btn btn-sm btn-radius px-4 btn-secondary w-100" %>
  </td>
</tr>
