<%= simple_form_for @category , url: url do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% @category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mt-3">
    <%= f.label :category_name, 'Category Name' %>
    <%= f.text_field :category_name ,error: 'Username is mandatory, please specify one'%>
    <p class="mt-3">
      <%= f.label :baby_category, 'Baby Category' %>
      <%= f.check_box :baby_category%>
      <input type="hidden" id="selected_cat_id" name="selected_cat_id" value="<%=@selected_cat_id%>" >
      <input type="hidden" id="is_subcategory" name="is_subcategory" value="<%=@is_subcategory%>" >
    </p>
    <p class="mt-3 ">
      <input type="hidden"  name="category[bundle_label][]" value="" >
      <span>
        <label for="category_bundle_label_ya">
          <label class="collection_check_boxes" for="category_bundle_label_ya">Ya</label>
          <input type="radio" value="ya" name="category[bundle_label]" id="category_bundle_label_ya">
        </label>
      </span>
      <span>
        <label for="category_bundle_label_volo">
          <label class="collection_check_boxes" for="category_bundle_label_volo">Vo</label>
          <input type="radio" value="volo" name="category[bundle_label]" id="category_bundle_label_volo">
        </label>
      </span>
      <span>
        <label for="category_bundle_label_yavolo">
          <label class="collection_check_boxes" for="category_bundle_label_yavolo">Ya/Volo</label>
          <input type="radio" value="yavolo" name="category[bundle_label]" id="category_bundle_label_yavolo">
        </label>
      </span>
    </p>
    <p class="mt-3">
      <%= f.label :category_description, 'Category Description' %>
      <%= f.text_area :category_description %>
    </p>
    <%= f.submit %>
  </div>
<% end %>
