<tr>
  <td class="filter-groups-checkbox-container">
    <label class="checkbox-blk checkbox-blk-box">
      <input type="checkbox" value="<%= product.id %>">
      <span class="checkmark"></span>
    </label>
  </td>
  <td><%= product.status %></td>
  <td><%= product.title %></td>
  <td>
    <p class="mb-0">SKU: <%= product.sku %></p>
    <p class="mb-0">EAN: <%= product.ean %></p>
    <p class="mb-0">YAN: <%= product.yan %></p>
    <p class="mb-0">Brand: <%= product.brand %></p>
    <p class="mb-0">Condition: <%= product.condition %></p>
  </td>
  <!-- <td>@mdo</td> -->
  <td><%= product.stock %></td>
  <td><%= number_to_currency(product.price, unit: '£') %></td>
</tr>
