<div class="categories-main">
  <h3 class="mt-4 mb-3">Product Categories</h3>
  <%= render 'category_action_btns' %>
  <div class="row ac-setting-tabs">
    <%= render 'categories_tree' %>
    <!--    Data will be added to below wrapper using ajax-->
    <div class="col-md-8 category-details-wrapper"></div>
  </div>
</div>
<%= render "categories_admin_images" %>
<%= render 'delete_confirmation_modal' %>
<%= render 'baby_category_confirmation_modal' %>
<%= render 'remove_filter_group_association' %>
<style>
  .categories-tree-body ul{
    display: none;
  }
  
  .categories-tree-body ul.active{
    display: block;
  }
</style>
