<div class="container-fluid">
    <% if params[:action] == 'edit' %>
        <h3 class="mt-4 mb-3">Edit Product</h3>
    <% else %>
        <h3 class="mt-4 mb-3">Create New Product</h3>
    <% end %>
    <div class="formme">
    <div class="file-errors mt-2 product-errors-style"></div>
    <%= simple_form_for @product, url: url, method: method, html: { id: 'product_form' } do |form| %>
        <%=form.hidden_field :owner_type, value: 'Seller' %>
        <%=hidden_field_tag :product_id, form.object.id || params[:dup_product_id] %>
        <%=form.hidden_field :namespace, value: 'admin', id: 'namespace' %>
        <%= render "shared/products/photos", form: form %>
        <%= render "shared/products/seo_content", form: form %>
        <%= render "shared/products/google_shopping", form: form %>
        <%= render "shared/products/ebay_details", form: form %>
        <%= render "shared/products/listing_details", form: form %>
        <%= render "shared/products/pricing_and_quantity", form: form %>
        <%= render "shared/products/delivery_details", form: form, new_delivery_option_url: new_admin_delivery_option_path %>
        <%= render "shared/products/product_actions_bar", form: form  do %>
          <% if form.object.new_record? || form.object.draft? || form.object.pending? %>
            <%= button_tag "APPROVE & PUBLISH", value: "APPROVE & PUBLISH", class: 'btn btn-sm btn-radius px-4 btn-bg-white mb-2 mt-2 product-form-submission' %>
          <% else %>
            <%= button_tag "UPDATE", value: "UPDATE", class: "btn btn-sm btn-radius px-4 btn-bg-white mb-2 mt-2 product-form-submission" %>
          <% end %>
        <% end %>
    <% end %>
    <%= render "shared/products/add_new_delivery_option" %>
    <div>

</div>
<%= render 'shared/product_image_delete', heading: 'Delete Image', confirm_statement: 'Would you like to delete this product image?', id: 'yes-delete-img',path: '#', data: nil, modal_id: 'yes-no-product-delete-img-modal' %>
