<h3>All Products</h3>
<ul>
<% @products.each do |product| %>
<li>
<span><%=product.status%></span>
<span><%=product.title%></span>
<span>
<span>SKU: <%=product.sku %></span>
<span>EAN: <%=product.ean %></span>
<span>YAN: <%=product.yan %></span>
<span>Brand: <%=product.brand %></span>
<span>Condition: <%=product.condition %></span>

</span>
<span><%=product.published_at.strftime("%d/%m/%Y") %></span>
<span><%=product.stock %></span>
<span><%=number_to_currency(product.price, unit: '£') %></span>
<span><%=product.yavolo_enabled%></span>
<span><%=product.yavolo_enabled%></span>
<span><%= "#{product.discount}#{product.discount_unit}" %></span>

<span>
<%=link_to 'Edit', edit_admin_product_path(product) %></span>
<span>
<%=link_to 'Duplicate', duplicate_admin_products_path(product_id: product.id) %>
</span>
</li>
<br>

<% end %>

</ul>

<div class="text-center"><%= paginate @products %></div>
