<div>Create New Product</div>
<hr/>
<%= simple_form_for @product, url: admin_products_path do |form| %>
  <%= render partial: "shared/products/photos", locals: { form: form } %>
  <%= render partial: "shared/products/seo_content", locals: { form: form } %>
  <%= render partial: "shared/products/google_shopping", locals: { form: form } %>
  <%= render partial: "shared/products/ebay_details", locals: { form: form } %>
  <%= render partial: "shared/products/listing_details", locals: { form: form } %>
  <%= render partial: "shared/products/pricing_and_quantity", locals: { form: form } %>
  <%= render partial: "shared/products/yavolo_discount", locals: { form: form } %>
  <%= render partial: "shared/products/delivery_details", locals: { form: form } %>
  <%= form.submit %>
<% end %>
