<div class="container">
  <div class="row">
    <div class="col col-12 col-lg-6 col-md-8 mx-auto">
      <div class="sign-in">
        <h3 class="text-center mb-4" style="color: #640529; font-size: 48px">
          Resend confirmation instructions
        </h3>
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "sellers/auth/shared/error_messages", resource: resource %>

          <div class="field form-group general-mrgn">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control" %>
          </div>
          <div class="d-flex justify-content-between flex-wrap mb-0">
            <div class="form-check mb-0 pl-0">
              <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
            </div>
          </div>
          <div class="actions">
            <%= f.submit "Resend confirmation instructions", class: "btn btn-primary btn-lg btn-block
                general-mrgn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%#= render "sellers/auth/shared/links" %>
