<div class="col-md-10">
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="all-listings" role="tabpanel"
            aria-labelledby="home-tab">
            <div class="d-flex align-items-center justify-content-between flex-wrap mb-1">
            <div class="d-flex flex-wrap">
                <div class="dropdown-filter-field active search-border my-1 dropdown-filter-custom dropdown-filter-position"> 
                    <div class="dropdown">
                        <a class="btn btn-radius px-3 btn-primary current-search-filter btn-sm" href="#" role="button"
                            id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <%= set_filter_type_in_dropdown(params) %> <i class="fa fa-angle-down ml-2"
                                aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu seller-products-filters" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item <%=set_filter_active('Search All')%>" href="#">Search All <i
                                class="fa fa-check" aria-hidden="true"></i></a>
                            <a class="dropdown-item <%=set_filter_active('Product Title')%>" href="#">Product Title<i
                                class="fa fa-check" aria-hidden="true"></i></a>
                            <a class="dropdown-item <%=set_filter_active('Brand')%>" href="#">Brand <i
                                class="fa fa-check" aria-hidden="true"></i></a>
                            <a class="dropdown-item <%=set_filter_active('SKU')%>" href="#">SKU <i
                                class="fa fa-check" aria-hidden="true"></i></a>
                            <a class="dropdown-item <%=set_filter_active('EAN')%>" href="#">EAN <i
                                class="fa fa-check" aria-hidden="true"></i></a>
                            <a class="dropdown-item <%=set_filter_active('YAN')%>" href="#">YAN <i
                                class="fa fa-check" aria-hidden="true"></i></a>
                            <a class="dropdown-item <%=set_filter_active('Price')%>" href="#">Price <i
                                class="fa fa-check" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="search-field mb-0">
                        <%= search_form_for @q, url: sellers_products_path do |f| %>
                            <%= hidden_field_tag :tab, params[:tab].to_s ||'all' %>
                        <input type="hidden" name="filter_type" id="product-filter-type" value="<%= params[:filter_type] %>">
                        <input type="hidden" name="csfname" id="csfn" value="<%= current_search_field_name %>">
                            <% if params[:q].present? && params[:q].keys.include?('s') %>
                                <%= hidden_field_tag 'q[s]', params[:q][:s].to_json %>
                            <% end %>
                            <%= f.search_field current_search_field_name.to_sym, { class: 'input-btn-sm seller-product-search-field', placeholder: 'Search your listings', value: "#{search_field_query_param_val(params)}" } %>
                            <% if params.dig(:q, current_search_field_name.to_sym).present? %>
                                <%= link_to sellers_products_path(filter_type: params[:filter_type], tab: (params[:tab].present? ? params[:tab] : 'all')), class: 'btn-sm cross_link_icon' do %>
                                    <i class="icon-cross" aria-hidden="true"></i>
                                <% end %>
                            <% else %>
                                <i class="fa fa-search" aria-hidden="true"></i>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="dropdown-filter-field alter-light-texture dropdown-filter-custom active mb-8 my-1 ml-2 dropdown-filter-border">
                    <div class="dropdown">
                        <a href="#" class="btn btn-radius btn-sm px-3 btn-primary btn-link-dropdown-1 align-items-center" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Actions <i class="fas fa-ellipsis-h ml-3"
                                aria-hidden="true"></i></a>
                        <div class="dropdown-menu bulk-actions" aria-labelledby="dropdownMenuLink">
                            <a data-bulkaction="yavolo_enabled" class="dropdown-item disabled-texture" href="#">Yavolo Enabled<i
                                        aria-hidden="true"></i></a>
                            <a data-bulkaction="yavolo_disabled" class="dropdown-item disabled-texture" href="#">Yavolo Disabled<i  aria-hidden="true"></i></a>
                            <a data-bulkaction="delete" class="dropdown-item disabled-texture" href="#">Delete<i 
                                aria-hidden="true"></i></a>
                            <a data-bulkaction="update_price" class="dropdown-item disabled-texture" href="#">Update Price<i
                                        aria-hidden="true"></i></a>
                            <a data-bulkaction="update_stock" class="dropdown-item disabled-texture" href="#">Update Stock<i
                                        aria-hidden="true"></i></a>
                            <a data-bulkaction="update_discount" class="dropdown-item disabled-texture" href="#">Update discount<i aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="dropdown-filter-field alter-light-texture dropdown-filter-custom active mb-8 my-1 ml-2 dropdown-filter-border">
                    <div class="dropdown">
                        <a href="#" class="btn btn-radius btn-sm px-3 btn-primary my-0 btn-link-dropdown-1 d-inline-flex align-items-center alter-light-texture filter-by-dropdown" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=set_product_sort_by_in_dropdown(params)%> <i class="fa fa-angle-down ml-3" aria-hidden="true"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <%= render 'shared/products/sort_by_title_price_dropdown_item', filter: 'title asc', title: 'Product Title A-Z' %>
                            <%= render 'shared/products/sort_by_title_price_dropdown_item', filter: 'title desc', title: 'Product Title Z-A' %>
                            <%= render 'shared/products/sort_by_title_price_dropdown_item', filter: 'price desc', title: 'Price High-Low' %>
                            <%= render 'shared/products/sort_by_title_price_dropdown_item', filter: 'price asc', title: 'Price Low-High' %>
                            <%= render 'shared/products/sort_by_yavolo_enabled_dropdown_item' %>
                        </div>
                    </div>
                </div>
                </div>
                <div class="d-flex flex-wrap">
                    <%= link_to 'Export CSV', export_csv_sellers_products_path(format: "csv", product: "") ,class: 'btn btn-radius px-2 btn-outline-primary btn-sm mr-1 my-1 seller-export-csv-selected-products' %>
                    <a href="#"
                        class="btn btn-sm btn-radius px-2 btn-outline-primary mr-1 my-1 upload-csv-btn">Upload Product CSV</a>
                    <%=link_to 'Add Listing', new_sellers_product_path, class: 'btn my-1 btn-radius px-2 btn-primary btn-sm' %>
                </div>
            </div>
            <div class="filter-by-tags d-flex justify-content-start mt-2">
                <%=print_filter_by_status_tags.to_s.html_safe %>
                <%=print_filter_by_sort_tags.to_s.html_safe %>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="Yavolo-table mt-2">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <label class="checkbox-blk">
                                            <input type="checkbox" id="check-all-checkboxes">
                                            <span class="checkmark checkmark-white"></span>
                                        </label>
                                    </th>
                                    <th>Status</th>
                                    <th>Image</th>
                                    <th>product title</th>
                                    <th>key info</th>
                                    <th>Stock</th>
                                    <th>Price</th>
                                    <th>Yavolo Enabled</th>
                                    <th>Discount</th>
                                    <th class="text-center" width="5%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%= form_tag admin_filter_groups_path, id: 'products-bulk-form' do %>
                                    <% @products.each_with_index do |product, index| %>
                                    <tr class="prod-table-row" id="prod-id-<%=product.id%>">
                                        <td>
                                            <div class="multiple-products">
                                                <label class="checkbox-blk">
                                                    <%=check_box_tag '[products_attributes][][marked]', product.id %>
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="product-status"><%=product.status.to_s.titleize %></td>
                                        <td>
                                            <div class="">
                                                <span class="imglist" width="100%">
                                                <% if product.pictures.present?%>
                                                    <% if product.pictures.first&.name&.url.present? %>
                                                        <%=image_tag product.pictures.first&.name&.url(:thumb), :class => "w-100" %>
                                                    <% end %>
                                                <% else %>
                                                    <%= product_thumbnail_image_for_table_row(product) %>
                                                <% end %> 
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <%=product.title%>
                                        </td>
                                        <td>
                                            <p class="mb-0">SKU: <%=product.sku %></p>
                                            <p class="mb-0">EAN: <%=product.ean %></p>
                                            <p class="mb-0">YAN: <%=product.yan %></p>
                                            <p class="mb-0">Brand: <%=product.brand %></p>
                                            <p class="mb-0">Condition: <%=product.condition=='brand_new' ? 'New' : product.condition.titleize %></p>
                                        </td>
                                        <td>
                                            <div class="form-group mb-0 relative" id="product-stock-listing">
                                                <%=number_field_tag 'product[stock]', product.stock.to_i, class: 'form-control px-2 w-20 stock-field editable product-listing-input-fields', data: {pid: product.id, action: 'update_stock'}  %>
                                            </div>
                                        </td>
                                        <td>
                                        <div class="form-group mb-0 relative">
                                                <%=text_field_tag 'product[price]',(number_with_precision(product.price, :precision => 2) || 0), class: 'form-control px-2 w-20 price-field editable product-listing-input-fields listing-price', data: {pid: product.id, action: 'update_price'} %>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <% if product.yavolo_enabled && index == 0 %>
                                                <div class="relative">
                                                    <div>
                                                        <span class="icon-manage-Yavolo font-20px light-red p-yavolo-enabled"></span>
                                                    </div>
                                                    <div>
                                                        <span class="icon-help help-popup pl-1"></span>
                                                        <div class="help-popup-inner">
                                                            <p class="text-center mb-0">
                                                                <strong>title</strong>
                                                            </p>
                                                            <p class="mb-0 help-popup-text">Lorem ipsum dolor sit, amet consectetur
                                                                adipisicing elit. Esse, doloremque.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            <%elsif product.yavolo_enabled == false && index == 0%>
                                                <div class="relative">
                                                    <div>
                                                        <span class="icon-manage-Yavolo font-20px light-red yo-opacity p-yavolo-disabled"></span>
                                                    </div>
                                                    <div>
                                                        <span class="icon-help help-popup pl-1"></span>
                                                        <div class="help-popup-inner">
                                                            <p class="text-center mb-0">
                                                                <strong>title</strong>
                                                            </p>
                                                            <p class="mb-0 help-popup-text">Lorem ipsum dolor sit, amet consectetur
                                                                adipisicing elit. Esse, doloremque.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% elsif product.yavolo_enabled %>
                                                <span class="icon-manage-Yavolo font-20px light-red p-yavolo-enabled"></span>
                                            <% else %>
                                                <span class="icon-manage-Yavolo font-20px light-red yo-opacity p-yavolo-disabled"></span>
                                            <% end %>
                                        </td>
                                        <td>
                                        <div class="form-group mb-0 relative">
                                                <%=text_field_tag 'product[discount]', percentage_decimal_addition(product.discount), class: 'form-control px-2 w-30 discount-field editable input-discount', data: {pid: product.id, action: 'update_discount'} %>
                                        </div>
                                        </td>
                                        <td>
                                            <div class="row-actions">
                                                <% unless product.yavolo_enabled %>
                                                <%= link_to 'Enable Yavolo',"#", class: 'btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100 btn-light-hvr btn-danger enable-yavolo-btn yavolo-btn',data: {toggle: 'modal', target: "#customConfirmModal", params: "product[ids][]=#{product.id}" }, id: "pro-enyavolo-btn-#{product.id}" %>
                                                <% else %>
                                                <%= link_to 'Disable Yavolo',"#", class: 'btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100 btn-light-hvr btn-danger disable-yavolo-btn yavolo-btn',data: {toggle: 'modal', target: "#customConfirmModal", params: "product[ids][]=#{product.id}" }, id: "pro-disableyavolo-btn-#{product.id}" %>
                                                <% end %>

                                                <%=link_to 'Edit Listing', edit_sellers_product_path(product), class: 'btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100 btn-light-hvr' %>
                                                <%=link_to 'Duplicate', new_sellers_product_path(dup_product_id: product.id), class: 'btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100 btn-light-hvr' %>
                                            </div>
                                        </td>
                                    </tr>
                                    <% end %>
                                <% end %>
                            </tbody>
                        </table>
                        <% if @products.count == 0 %>
                            <p class="text-center my-5">No Record Found</p>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="pager-middle text-center d-flex justify-content-center mb-4 ">
                        <%= paginate @products %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
