<%= render 'shared/custom_confirm_modal' %>
<%=hidden_field_tag :namespace, 'sellers', id: 'namespace' %>
<div class="container-fluid y-page-container">
    <div class="d-flex flex-wrap justify-content-between mb-4 mt-5 align-items-start">
        <h4 class="m-0">Listings</h4>
        <div class="d-flex align-items-center">
            <!-- <p class="pr-1 mb-0">Seller Locked</p>
            <a href="#" class="btn btn-sm btn-radius px-4 btn-outline-primary mr-1">Reset password</a>
            <a href="#" class="btn btn-sm btn-radius px-4 btn-outline-primary mr-1">Outline</a>
            <a href="#" class="btn btn-sm btn-radius px-4 btn-outline-primary mr-1">Outline</a>
            <a href="#" class="btn btn-sm btn-radius px-4 btn-outline-primary">Outline</a> -->
        </div>
    </div>
    <div class="row ac-setting-tabs">
        <div class="col-md-3">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <% [:all, :active,:inactive,:pending,:draft,:yavolo_enabled].each do |tab| %>
                    <li class="nav-item">
                        <%= link_to sellers_products_path(tab: tab), class: "nav-link d-flex justify-content-between align-items-center #{set_active_tab(tab.to_s, params[:tab] || 'all')}" do %>
                        <%="#{tab} Listings".titleize%><span><%=@listing_by_status_with_count[tab].to_i%></span>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="all-listings" role="tabpanel"
                    aria-labelledby="home-tab">
                    <div class="d-flex align-items-center mb-2">
                        <div class="dropdown-filter-field active search-border">
                            <div class="dropdown">
                                <a class="btn btn-radius px-2 btn-primary current-search-filter" href="#" role="button"
                                    id="dropdownMenuLink" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Search All <i class="fa fa-angle-down ml-2"
                                        aria-hidden="true"></i>
                                </a>
                                <div class="dropdown-menu seller-products-filters" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item active" href="#">Search All <i
                                        class="fa fa-check" aria-hidden="true"></i></a>
                                    <a class="dropdown-item" href="#">Product Title <i
                                        class="fa fa-check" aria-hidden="true"></i></a>
                                    <a class="dropdown-item" href="#">Brand <i
                                        class="fa fa-check" aria-hidden="true"></i></a>
                                    <a class="dropdown-item" href="#">SKU <i
                                        class="fa fa-check" aria-hidden="true"></i></a>
                                    <a class="dropdown-item" href="#">YAN <i
                                        class="fa fa-check" aria-hidden="true"></i></a>
                                    <a class="dropdown-item" href="#">EAN <i
                                        class="fa fa-check" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <%
                            if params[:q].present?
                                field_name = params[:q].keys.first
                            else
                                field_name = "title_or_brand_or_sku_or_yan_or_ean_cont"
                            end
                            %>
                            <div class="search-field mb-0">
                                <%= search_form_for @q, url: sellers_products_path do |f| %>
                                <%= hidden_field_tag :tab, params[:tab].to_s ||'all'%>
                                <%= f.search_field field_name.to_sym, { class: 'input-btn-sm seller-product-search-field', placeholder: 'Search Products', value: "#{search_field_query_param_val(params)}" } %>
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <% end %>
                            </div>
                        </div>
                        <div class="dropdown dropdown-filter mb-3 d-inline-flex">
                            <a href="#"
                                class="btn btn-radius px-2 btn-link btn-link-dropdown d-inline-flex align-items-center"
                                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">Actions <i class="fas fa-ellipsis-h ml-3"
                                    aria-hidden="true"></i></a>
                            <div class="dropdown-menu bulk-actions" aria-labelledby="dropdownMenuLink">
                                <a data-bulkaction="activate" class="dropdown-item" href="#">Activate <i
                                        class="fa fa-check" aria-hidden="true"></i></a>
                                <a data-bulkaction="yavolo_enabled" class="dropdown-item" href="#">Yavolo Enabled<i
                                        class="fa fa-check" aria-hidden="true"></i></a>
                                <a data-bulkaction="yavolo_disabled" class="dropdown-item" href="#">Yavolo Disabled<i
                                        class="fa fa-check" aria-hidden="true"></i></a>
                                <a data-bulkaction="delete" class="dropdown-item" href="#">Delete<i
                                        class="fa fa-check" aria-hidden="true"></i></a>
                                <a data-bulkaction="update_price" class="dropdown-item" href="#">Update Price<i
                                        class="fa fa-check" aria-hidden="true"></i></a>
                                <a data-bulkaction="update_stock" class="dropdown-item" href="#">Update Stock<i
                                        class="fa fa-check" aria-hidden="true"></i></a>
                                <a data-bulkaction="update_discount" class="dropdown-item" href="#">Update discount<i
                                        class="fa fa-check" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="dropdown dropdown-filter mb-3 d-inline-flex">
                            <a href="#"
                                class="sort-by-dropdown btn btn-radius px-2 btn-link btn-link-dropdown d-inline-flex align-items-center"
                                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">Filter by <i class="fa fa-angle-down ml-3"
                                    aria-hidden="true"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <%= sort_link(@q, :title, 'Product Title', {default_order: :asc}, {class: 'dropdown-item'}) %>
                                <%= sort_link(@q, :price, 'Price', {default_order: :asc}, {class: 'dropdown-item'}) %>
                                <%= sort_link(@q, :yavolo_enabled, 'Yavolo Enabled', {default_order: :asc}, {class: 'dropdown-item'}) %>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <%= link_to "Export CSV", export_csv_sellers_products_path(:format => :csv), class: 'btn btn-radius px-2 btn-outline-primary btn-sm mr-1' %>
                            <a href="#"
                                class="btn btn-radius px-2 btn-outline-primary btn-sm mr-1 upload-csv-btn">Upload
                                Product CSV</a>
                            <%=link_to 'Add Listing', new_sellers_product_path, class: 'btn btn-radius px-2 btn-outline-primary btn-sm' %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="Yavolo-table mt-4">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <label class="checkbox-blk">
                                                    <input type="checkbox" class="mark-bulk-update">
                                                    <span class="checkmark checkmark-white"></span>
                                                </label>
                                            </th>
                                            <th>Status</th>
                                            <th>Image</th>
                                            <th>product title</th>
                                            <th>key info</th>
                                            <th>Stock</th>
                                            <th>Price</th>
                                            <th>Yavolo Enabled</th>
                                            <th>Discount</th>
                                            <th class="text-center" width="5%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%= form_tag admin_filter_groups_path, id: 'products-bulk-form' do %>
                                            <% @products.each do |product| %>
                                            <tr class="prod-table-row" id="prod-id-<%=product.id%>">
                                                <td>
                                                    <label class="checkbox-blk">
                                                        <%=check_box_tag '[products_attributes][][marked]', product.id %>
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td>
                                                <td class="product-status"><%=product.status.to_s.titleize %></td>
                                                <td>
                                                    <div class="">
                                                        <span class="imglist" width="100%">
                                                        <% if product.pictures.present?%>
                                                            <% if product.pictures.first&.name&.url.present? %>
                                                                <%=image_tag product.pictures.first&.name&.url(:thumb) %>
                                                            <% end %>
                                                        <% end %> 
                                                        </span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <%=product.title%>
                                                </td>
                                                <td>
                                                    <p class="mb-0">SKU: <%=product.sku.truncate(15) %></p>
                                                    <p class="mb-0">EAN: <%=product.ean.truncate(15) %></p>
                                                    <p class="mb-0">Brand: <%=product.brand %></p>
                                                    <p class="mb-0">Condition: <%=product.condition.to_s.titleize %></p>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <%= number_field_tag '[products_attributes][][stock]', product.stock, class: 'form-control p-1', placeholder: '50',min: 0, disabled: true %>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <%= number_field_tag '[products_attributes][][price]', product.price, class: 'form-control p-1', placeholder: '50',min: 0, disabled: true %>
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="d-flex">
                                                        <div>
                                                            <span
                                                            class="icon-manage-Yavolo font-20px light-red"></span>
                                                        </div>
                                                        <div>
                                                            <span
                                                                class="icon-help--resource-center help-popup pl-2">
                                                            </span>
                                                            <div class="help-popup-inner">
                                                                <p class="text-center mb-0">
                                                                    <strong><%=product.title%></strong>
                                                                </p>
                                                                <p class="mb-0 help-popup-text"><%=product.description.html_safe%></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <%= hidden_field_tag '[products_attributes][][id]', product.id, readonly: true %>
                                                    <div class="form-group">
                                                        <%= number_field_tag '[products_attributes][][discount]', product.discount, class: 'form-control p-1', placeholder: '2.5', min: 0, disabled: true %>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row-actions">
                                                        <% unless product.yavolo_enabled %>
                                                        <%= link_to 'Enable Yavolo',"#", class: 'btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100 btn-light-hvr btn-danger enable-yavolo-btn',data: {toggle: 'modal', target: "#customConfirmModal", params: "product[ids][]=#{product.id}" }, id: "pro-enyavolo-btn-#{product.id}" %>
                                                        <% end %>

                                                        <%=link_to 'Edit Listing', edit_sellers_product_path(product), class: 'btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100 btn-light-hvr' %>
                                                        <%=link_to 'Duplicate', new_sellers_product_path(dup_product_id: product.id), class: 'btn btn-sm btn-radius px-4 btn-secondary mb-2 w-100 btn-light-hvr' %>
                                                    </div>
                                                </td>
                                            </tr>
                                            <% end %>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mx-auto">
                            <div class="pager-middle text-center d-flex justify-content-center mb-4 ">
                                <%= paginate @products %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%= render 'admin/products/upload_csv_popup' %>
<%= render 'admin/products/upload_csv_success_popup' %>
<%= render 'shared/simple_confirm_modal', confirm_statement: 'Are you sure to perform this bulk action?', id: 'yes-perform-action',path: '#', data: nil, modal_id: 'seller-products-confirm' %>
