<%= render 'shared/custom_confirm_modal', request_path: enable_yavolo_sellers_products_path %>
<%=hidden_field_tag :namespace, 'sellers', id: 'namespace' %>
<div class="container-fluid y-page-container">
    <div class="d-flex flex-wrap justify-content-between mb-4 mt-5 align-items-start">
        <h4 class="m-0">Listings</h4>
        <div class="d-flex align-items-center">
            <!-- <p class="pr-1 mb-0">Seller Locked</p>
            <a href="#" class="btn btn-sm btn-radius px-4 btn-outline-primary mr-1">Reset password</a>
            <a href="#" class="btn btn-sm btn-radius px-4 btn-outline-primary mr-1">Outline</a>
            <a href="#" class="btn btn-sm btn-radius px-4 btn-outline-primary mr-1">Outline</a>
            <a href="#" class="btn btn-sm btn-radius px-4 btn-outline-primary">Outline</a> -->
        </div>
    </div>
    <div class="row ac-setting-tabs">
        <div class="col-md-2">
            <ul class="nav nav-tabs seller-listing-tab-items" id="myTab" role="tablist">
                <%= render 'sellers/products/listing_tab_items' %>
            </ul>
        </div>
        <% if params[:tab] == "manage_yavolos" %>
            <%= render 'sellers/products/yavolo_enabled_listing' %>
        <%else%>
            <%= render 'sellers/products/all_listings'%>
        <%end%>
    </div>
</div>
<%= render 'admin/products/upload_csv_popup' %>
<%= render 'admin/products/upload_csv_success_popup' %>
<%= render 'shared/bulk_update_form_modal' %>
<%= render 'shared/simple_confirm_modal', confirm_statement: 'Are you sure to perform this bulk action?', id: 'yes-perform-action',path: '#', data: nil, modal_id: 'seller-products-confirm' %>

<script>
    $(document).ready(function () {
        $(".listing-price").inputmask('currency', {
            prefix: '£',
            rightAlign: false
        });
    })

</script>
