<%= simple_form_for carrier, url: url, html: { id: :add_new_carrier_form } do |f| %>
  <%= render '/shared/admin/carrier_errors', carrier: @carrier %>
  <div class="form-group form-group-vertical form-group-vertical-responsive">
    <%= f.label :name, 'Carrier Name*' %>
    <div style="flex: 1">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group form-group-vertical form-group-vertical-responsive">
    <%= f.label :api_key, 'API Key*' %>
    <div style="flex: 1">
      <%= f.text_field :api_key, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group form-group-vertical form-group-vertical-responsive">
    <%= f.label :secret_key, 'Secret Key*' %>
    <div style="flex: 1">
      <%= f.text_field :secret_key, class: 'form-control' %>
    </div>
  </div>
  <div class="carrier-btn text-right">
    <%= link_to 'Cancel', admin_delivery_options_path, class: 'btn btn-sm btn-radius px-4 btn-primary mt-2' %>
    <%= f.submit 'Save New Carrier', class: 'btn btn-sm btn-radius px-4 btn-primary mt-2 ml-2', required: true %>
  </div>
<% end %>
