<div class="pricing-quality <%= delivery_form_class(params) %>">
  <%= simple_form_for delivery_option, url: url, data: { remote: true }, html: { id: 'delivery-option-form' } do |f| %>
    <%= render '/shared/admin/delivery_option_errors', delivery_option: @delivery_option %>
    <div class="form-group form-group-vertical flex-wrap">
      <b><%= f.label :name, 'Delivery Option Name*', class: 'text-left pr-3 w-100' %></b>
      <%= f.text_field :name, class: 'form-control' %>
      <div id="delivery-option-name-error-label"></div>
    </div>
    <% if params[:controller] == "sellers/delivery_options" %>
      <%= f.hidden_field :delivery_optionable_type, value: "Seller"%>
      <%= f.hidden_field :delivery_optionable_id, value: current_seller.id %>
    <% elsif params[:controller] == "admin/delivery_options" && @seller_id.present? %>
      <%= f.hidden_field :delivery_optionable_type, value: "Seller"%>
      <%= f.hidden_field :delivery_optionable_id, value: @seller_id %>
    <% else %>
      <%= f.hidden_field :delivery_optionable_type, value: "Admin"%>
      <%= f.hidden_field :delivery_optionable_id, value: current_admin.id %>
    <% end %>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group form-group-vertical flex-wrap">
        <h6 class="font-weight-bold text-left pr-3 w-100 pb-0 mt-3">Where can you ship to?</h6>
        </div>
        <%= collection_check_boxes(:delivery_option, 'ship_ids', Ship.all, :id, :name) do |b| %>
          <div class="d-flex align-items-center justify-content-between mb-2 mainlang-list">
            <div class="row align-items-end">
              <div class="col-md-4">
                <label class="checkbox-blk">
                  <%= b.check_box checked: (b.value == 1)? true : checked_delivery_ship?(@delivery_option, b.value), id: 'ship-checkbox', data: { processing_ship_id: "select-processing-ship-filed-#{b.value}", delivery_ship_id: "select-delivery-ship-filed-#{b.value}" } %>
                  <span class="checkmark"></span>
                  <%= b.label %>
                </label>
              </div>
              <div class="col-md-8" id="delivery-ship-filed-<%= b.value %>">
                <div class="row">
                  <div class="col-md-4 pl-md-0">
                    <div class="form-group form-group-vertical flex-wrap">
                      <b><label for="ship_price" class="text-left pr-3 w-100">Price</label></b>
                      <%= text_field_tag 'ship_price[]', b.value == 1? "£#{40.00}" : "£#{delivery_ship_price(@delivery_option.id, b.value)}", readonly: (b.value == 1), class: 'form-control W-100' %>
                    </div>
                  </div>
                  <div class="col-md-4 pl-md-0">
                    <div class="form-group form-group-vertical flex-wrap">
                      <b><label for="ship_processing_time" class="text-left pr-3 w-100">Processing time*</label></b>
                      <%= select_tag 'ship_processing_time[]', options_for_select(select_processing_time, selected: ship_processing_time(@delivery_option.id, b.value)), { disabled: disable_ships_attribute?(@delivery_option.id, b.value), prompt: 'How long will each order take to process?', class: "form-control select-processing-ship-filed-#{b.value}", id: 'select-ship-processing-time' } %>
                      <div id="select-processing-ship-filed-<%= b.value %>-error-label"></div>
                    </div>
                  </div>
                  <div class="col-md-4 pl-md-0">
                    <div class="form-group form-group-vertical flex-wrap">
                      <b><label for="ship_delivery_time" class="text-left pr-3 w-100">Delivery time*</label></b>
                      <%= select_tag 'ship_delivery_time[]', options_for_select(select_delivery_time, selected: ship_delivery_time(@delivery_option.id, b.value)), { disabled: disable_ships_attribute?(@delivery_option.id, b.value), prompt: 'how long will each order take to deliver?', class: "form-control select-delivery-ship-filed-#{b.value}", id: 'select-ship-delivery-time' } %>
                      <div id="select-delivery-ship-filed-<%= b.value %>-error-label"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="text-right">
      <% if params[:controller] == "sellers/delivery_options" %>
        <%= hidden_field_tag(seller_id: "Seller") %>
      <% end %>
      <%= f.submit 'SAVE TEMPLATE', class: 'btn btn-radius px-4 btn-primary', id: 'delivery-option-form-btn' %>
    </div>
  <% end %>
</div>
