<%= simple_form_for Carrier.new, url: url do |f| %>
  <%= f.label :name, 'Delivery Option Name' %>
  <%= f.text_field :name %>
  <div class="row mt-4">
    <div class="col-6">
    <%= f.label :api_key, 'Processing time*' %>
    <%= f.select :api_key, select_processing_time, required: true %>
    </div>
    <div class="col-6">
    <%= f.label :secret_key, 'Delivery time*' %>
    <%= f.select :secret_key, select_delivery_time, required: true %>
    </div>
  </div>
  <%= f.submit %>
<% end %>
