<header>
    <div class="container">
        <div class="signin-header d-flex justify-content-between align-items-center">
            <div class="signin-logo d-flex align-items-center my-4">
            <div class="logo-inner">
                <%= image_tag "Yavolo_Logo_WarmRed.png", class: 'admin_filter_header'%>
                <p class="my-2" style="color: #640529; font-size: 20px;">A good deal better.</p>
            </div>
            <div class="back-yavolo">
                <a href="<%= root_path %>"><i class="fas fa-angle-left"></i> Back to Yavolo</a>
            </div>
        </div>
            <div class="right">
                <a href="<%= new_seller_registration_path(multistep: true) %>" class="account-link">Seller multi step sign up?</a>
                <a href="<%= new_seller_registration_path(multistep: false) %>" class="account-link">Seller single step sign up?</a>
                <a href="<%= new_buyer_registration_path %>" class="register-now-bt">Register Now</a>
            </div>
        </div>
    </div>
</header>
