<!DOCTYPE html>
<html>
  <head>
    <title>Yavolo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <div class="main-page">
      <% unless params[:controller] == 'admin/sessions' || params[:controller] == 'admin/passwords'%>
        <%= render 'layouts/header' %>
      <% end %>
      <%= render 'shared/flash_messages' %>
      <div class="main-content">
        <%= yield %>
      </div>
      <% if params[:controller]== "sellers/auth/registrations" || params[:controller]== "sellers/auth/sessions" %>
        <%= render 'layouts/sellers/unsigned_seller' %>
      <% end %>
    </div>
  </body>
</html>
